{
  "log": {
    "_recordingName": "fetchResourceManagerOrganization",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 561,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 240,
      },
      {
        "_id": "d0f6881dbfc8871af9829221c85aef9f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloudresourcemanager.googleapis.com/v1/organizations/958457776463"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 428,
            "text": "{\"displayName\":\"jupiterone.dev\",\"owner\":{\"directoryCustomerId\":\"C048tgq5f\"},\"creationTime\":\"2021-05-26T21:15:56.407Z\",\"lifecycleState\":\"ACTIVE\",\"name\":\"organizations/958457776463\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 930,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
