{
  "log": {
    "_recordingName": "fetchResourceManagerOrganization",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 580,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 246,
      },
      {
        "_id": "0d91b1115a3fef9e2bd29a21400ddedf",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloudresourcemanager.googleapis.com/v3/organizations/958457776463"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 436,
            "text": "{\"name\":\"organizations/958457776463\",\"displayName\":\"jupiterone.dev\",\"directoryCustomerId\":\"C048tgq5f\",\"state\":\"ACTIVE\",\"createTime\":\"2021-05-26T21:15:56.407Z\",\"updateTime\":\"2021-05-26T21:15:57.254Z\",\"etag\":\"bfOq9qqs/VHEr9p5/S22zA==\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1061,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
