{
  "log": {
    "_recordingName": "fetch-cloud-build-triggers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 496,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 98,
      },
      {
        "_id": "e30fcbbe8e75affbd2f8b909978bc449",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloudbuild.googleapis.com/v1/projects/j1-gc-integration-dev-v3/triggers"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 416,
            "text": "{\"triggers\":[{\"id\":\"0f5d9ec8-f7d7-4067-8912-baf2133be725\",\"createTime\":\"2022-08-24T22:09:57.281610382Z\",\"name\":\"testing\",\"gitFileSource\":{\"path\":\"cloudbuild.yaml\",\"uri\":\"https://github.com/i5o/gcibot\",\"repoType\":\"GITHUB\",\"revision\":\"refs/heads/master\"},\"sourceToBuild\":{\"uri\":\"https://github.com/i5o/gcibot\",\"ref\":\"refs/heads/master\",\"repoType\":\"GITHUB\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 535,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
