{
  "log": {
    "_recordingName": "getStepStartStates",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 549,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 116,
      },
      {
        "_id": "3e37a26277a68eefaf0a078ba761c074",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "state:ENABLED"
            }
          ],
          "url": "https://serviceusage.googleapis.com/v1/projects/j1-gc-integration-dev/services?filter=state%3AENABLED"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 4522,
            "text": "{\"services\":[{\"name\":\"projects/545240943112/services/appengine.googleapis.com\",\"config\":{\"name\":\"appengine.googleapis.com\",\"title\":\"App Engine Admin API\",\"documentation\":{\"summary\":\"Provisions and manages developers' App Engine applications.\"},\"quota\":{},\"authentication\":{},\"usage\":{\"requirements\":[\"serviceusage.googleapis.com/tos/cloud\"]}},\"state\":\"ENABLED\",\"parent\":\"projects/545240943112\"},{\"name\":\"projects/545240943112/services/dns.googleapis.com\",\"config\":{\"name\":\"dns.googleapis.com\",\"title\":\"Cloud DNS API\",\"documentation\":{},\"quota\":{},\"authentication\":{},\"usage\":{\"requirements\":[\"serviceusage.googleapis.com/tos/cloud\", \"serviceusage.googleapis.com/billing-enabled\"]}},\"state\":\"ENABLED\",\"parent\":\"projects/545240943112\"},{\"name\":\"projects/545240943112/services/sqladmin.googleapis.com\",\"config\":{\"name\":\"sqladm[...]
