{
  "log": {
  "_recordingName": "getStepStartStates",
  "creator": {
  "comment": "persister:JupiterOneIntegationFSPersister",
  "name": "Polly.JS",
  "version": "4.3.0"
  },
  "entries": [
  {
  "_id": "acea721c8193b51ced888cae721cc423",
  "request": {
  "headers": [
  {
  "_fromType": "array",
  "name": "content-type",
  "value": "application/x-www-form-urlencoded"
  },
  {
  "_fromType": "array",
  "name": "accept",
  "value": "application/json"
  },
  {
  "_fromType": "array",
  "name": "content-length",
  "value": "739"
  },
  {
  "_fromType": "array",
  "name": "user-agent",
  "value": "node-fetch/1.0 (+https://github.com/bitinn/node-fetch)"
  },
  {
  "_fromType": "array",
  "name": "accept-encoding",
  "value": "gzip,deflate"
  },
  {
  "_fromType": "array",
  "name": "connection",
  "value": "close"
  },
  {
  "name": "host",
  "value": "www.googleapis.com"
  }
  ],
  "method": "POST",
  "postData": {
  "mimeType": "application/x-www-form-urlencoded",
  "params": [],
  "text": "[REDACTED]"
  },
  "queryString": [],
  "url": "https://www.googleapis.com/oauth2/v4/token"
  },
  "response": {
  "content": {
  "mimeType": "application/json; charset=UTF-8",
  "size": 572,
  "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
  },
  "headers": [
  {
  "name": "content-type",
  "value": "application/json; charset=UTF-8"
  },
  {
  "name": "vary",
  "value": "Origin, X-Origin, Referer"
  },
  {
  "name": "date",
  "value": "Thu, 03 Jun 2021 12:45:17 GMT"
  },
  {
  "name": "server",
  "value": "scaffolding on HTTPServer2"
  },
  {
  "name": "cache-control",
  "value": "private"
  },
  {
  "name": "x-xss-protection",
  "value": "0"
  },
  {
  "name": "x-frame-options",
  "value": "SAMEORIGIN"
  },
  {
  "name": "x-content-type-options",
  "value": "nosniff"
  },
  {
  "name": "alt-svc",
  "value": "h3-29=\":443\"; ma=2592000,h3-T051=\":443\"; ma=2592000,h3-Q050=\":443\"; ma=2592000,h3-Q046=\":443\"; ma=2592000,h3-Q043=\":443\"; ma=2592000,quic=\":443\"; ma=2592000; v=\"46,43\""
  },
  {
  "name": "connection",
  "value": "close"
  }
  ],
  "status": 200,
  "statusText": "OK"
  },
  "time": 395,
  },
  {
  "_id": "f0f9db0e9f76c156a4953ec1941495d5",
  "request": {
  "headers": [
  {
  "_fromType": "array",
  "name": "x-goog-api-client",
  "value": "gdcl/5.0.2 gl-node/14.15.4 auth/7.1.0"
  },
  {
  "_fromType": "array",
  "name": "accept-encoding",
  "value": "gzip"
  },
  {
  "_fromType": "array",
  "name": "user-agent",
  "value": "google-api-nodejs-client/5.0.2 (gzip)"
  },
  {
  "_fromType": "array",
  "name": "authorization",
  "value": "[REDACTED]"
  },
  {
  "_fromType": "array",
  "name": "accept",
  "value": "application/json"
  },
  {
  "_fromType": "array",
  "name": "connection",
  "value": "close"
  },
  {
  "name": "host",
  "value": "serviceusage.googleapis.com"
  }
  ],
  "method": "GET",
  "queryString": [
  {
  "name": "filter",
  "value": "state:ENABLED"
  }
  ],
  "url": "https://serviceusage.googleapis.com/v1/projects/j1-gc-integration-dev-v3/services?filter=state%3AENABLED"
  },
  "response": {
  "content": {
  "mimeType": "application/json; charset=UTF-8",
  "size": 19476,
  "text": "{\"services\":[{\"name\":\"projects/167984947943/services/accesscontextmanager.googleapis.com\",\"config\":{\"name\":\"accesscontextmanager.googleapis.com\",\"title\":\"Access Context Manager API\",\"documentation\":{\"summary\":\"An API for setting attribute based access control to requests to GCP services.\"},\"quota\":{},\"authentication\":{},\"usage\":{\"requirements\":[\"serviceusage.googleapis.com/tos/cloud\"]},\"monitoring\":{}},\"state\":\"ENABLED\",\"parent\":\"projects/167984947943\"},{\"name\":\"projects/167984947943/services/apigateway.googleapis.com\",\"config\":{\"name\":\"apigateway.googleapis.com\",\"title\":\"API Gateway API\",\"documentation\":{},\"quota\":{},\"authentication\":{},\"usage\":{\"requirements\":[\"serviceusage.googleapis.com/tos/cloud\"]},\"monitoredResources\":[{\"type\":\"apigateway.googleapis.com/Gateway\",\"displayName\":\"API Gateway\",\"description\":\"Fully managed API Gateway.\",\"labels\":[{\"key\":\"resource_container\",\"description\":\"The identifier of the GCP Project owning the Gateway.\"},{\"key\":\"location\",\"description\":\"The region in which the Gateway is running.\"},{\"key\":\"gateway_id\",\"description\":\"The ID of the Gateway.\"}],\"launchStage\":\"BETA\"},{\"type\":\"apigateway.googleapis.com/GatewayInternal\",\"displayName\":\"Instance\",\"description\":\"Instance represents a tenant resource allocated for API Gateway. Internal only.\",\"labels\":[{\"key\":\"resource_container\",\"description\":\"The identifier of the GCP container associated with the resource.\"},{\"key\":\"location\",\"description\":\"GCP location: zone, region, multi-region or other service-specific container.\"},{\"key\":\"consumer_project_number\",\"description\":\"The consumer project number.\"},{\"key\":\"tenant_project_number\",\"description\":\"The tenant project number.\"},{\"key\":\"api_id\",\"description\":\"The id of the API resource served by the Gateway.\"},{\"key\":\"gateway_id\",\"description\":\"The name (short) of the instance set by the consumer.\"},{\"key\":\"gateway_uid\",\"description\":\"Globally unique identifier of the instance.\"}],\"launchStage\":\"ALPHA\"}],\"monitoring\":{\"consumerDestinations\":[{\"monitoredResource\":\"apigateway.googleapis.com/Gateway\",\"metrics\":[\"apigateway.googleapis.com/internal/service_control/check_count\",\"apigateway.googleapis.com/internal/service_control/report_count\",\"apigateway.googleapis.com/internal/service_control/overhead_latencies_upper\",\"apigateway.googleapis.com/proxy/request_count\",\"apigateway.googleapis.com/server/request_count\",\"apigateway.googleapis.com/internal/downstream/request_count\",\"apigateway.googleapis.com/internal/upstream/request_count\",\"apigateway.googleapis.com/internal/upstream/request_lat[...]
