{
  "log": {
    "_recordingName": "getStepStartStates",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 567,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 430,
      },
      {
        "_id": "3e37a26277a68eefaf0a078ba761c074",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "state:ENABLED"
            }
          ],
          "url": "https://serviceusage.googleapis.com/v1/projects/j1-gc-integration-dev/services?filter=state%3AENABLED"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 11138,
            "text": "{\"services\":[{\"name\":\"projects/545240943112/services/appengine.googleapis.com\",\"config\":{\"name\":\"appengine.googleapis.com\",\"title\":\"App Engine Admin API\",\"documentation\":{\"summary\":\"Provisions and manages developers' App Engine applications.\"},\"quota\":{},\"authentication\":{},\"usage\":{\"requirements\":[\"serviceusage.googleapis.com/tos/cloud\"]},\"monitoredResources\":[{\"type\":\"serviceruntime.googleapis.com/api\",\"labels\":[{\"key\":\"cloud.googleapis.com/location\"},{\"key\":\"cloud.googleapis.com/uid\"},{\"key\":\"serviceruntime.googleapis.com/api_version\"},{\"key\":\"serviceruntime.googleapis.com/api_method\"},{\"key\":\"serviceruntime.googleapis.com/consumer_project\"},{\"key\":\"cloud.googleapis.com/project\"},{\"key\":\"cloud.googleapis.com/service\"}]},{\"type\":\"serviceruntime.googleapis.com/consumer_quota\",\"labels\":[{\"key\":\"cloud.googleapis.com/location\"},{\"key\":\"cloud.googleapis.com/uid\"},{\"key\":\"cloud.googleapis.com/service\"},{\"key\":\"cloud.googleapis.com/resource_id\"},{\"key\":\"cloud.googleapis.com/resource_node\"},{\"key\":\"cloud.googleapis.com/quota_metric\"},{\"key\":\"cloud.googleapis.com/quota_location\"}]},{\"type\":\"serviceruntime.googleapis.com/producer_quota\",\"labels\":[{\"key\":\"cloud.googleapis.com/location\"},{\"key\":\"cloud.googleapis.com/uid\"},{\"key\":\"cloud.googleapis.com/service\"},{\"key\":\"cloud.googleapis.com/resource_id\"},{\"key\":\"cloud.googleapis.com/resource_node\"},{\"key\":\"cloud.googleapis.com/consumer_resource_node\"},{\"key\":\"cloud.googleapis.com/quota_metric\"},{\"key\":\"cloud.googleapis.com/quota_location\"}]}],\"monitoring\":{\"consumerDestinations\":[{\"monitoredResource\":\"serviceruntime.googleapis.com/api\",\"metrics\":[\"serviceruntime.googleapis.com/api/consumer/request_count\",\"serviceruntime.googleapis.com/api/consumer/error_count\",\"serviceruntime.googleapis.com/api/consumer/quota_used_count\",\"serviceruntime.googleapis.com/api/consumer/quota_refund_count\",\"serviceruntime.googleapis.com/api/consumer/total_latencies\",\"serviceruntime.googleapis.com/api/consumer/request_overhead_latencies\",\"serviceruntime.googleapis.com/api/consumer/backend_latencies\",\"serviceruntime.googleapis.com/api/consumer/request_sizes\",\"serviceruntime.googleapis.com/api/consumer/response_sizes\",\"serviceruntime.googleapis.com/api/consumer/top_request_count_by_end_user\",\"serviceruntime.googleapis.com/api/consumer/top_request_count_by_end_user_country\",\"serviceruntime.googleapis.com/api/consumer/top_request_count_by_referer\",\"serviceruntime.googleapis.com/quota/used\",\"serviceruntime.googleapis.com/quota/limit\",\"serviceruntime.googleapis.com/quota/exceeded\",\"serviceruntime.googleapis.com/allocation/consumer/quota_used_count\"]},{\"monitoredResource\":\"serviceruntime.googleapis.com/consumer_quota\",\"metrics\":[\"serviceruntime.googleapis.com/quota/rate/consumer/used_count\",\"serviceruntime.googleapis.com/quota/rate/consumer/refund_count\",\"serviceruntime.googleapis.com/quota/allocation/consumer/usage\",\"serviceruntime.googleapis.com/quota/consumer/limit\",\"serviceruntime.googleapis.com/quota/consumer/exceeded\"]}]}},\"state\":\"ENABLED\",\"parent\":\"projects/545240943112\"},{\"name\":\"projects/545240943112/services/bigquery.googleapis.com\",\"config\":{\"name\":\"bigquery.googleapis.com\",\"title\":\"BigQuery API\",\"documentation\":{\"summary\":\"A data platform for customers to create, manage, share and query data.\"},\"quota\":{},\"authentication\":{},\"usage\":{\"requirements\":[\"serviceusage.googleapis.com/tos/cloud\"]},\"monitoredResources\":[{\"type\":\"serviceruntime.googleapis.com/api\",\"labels\":[{\"key\":\"cloud.googleapis.c[...]
