{
  "log": {
    "_recordingName": "getStepStartStates",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1252,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 187,
      },
      {
        "_id": "7cafef90c67977cce09b676b39635c40",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pageSize",
              "value": "200"
            },
            {
              "name": "filter",
              "value": "state:ENABLED"
            }
          ],
          "url": "https://serviceusage.googleapis.com/v1/projects/j1-gc-integration-dev-v3/services?pageSize=200&filter=state%3AENABLED"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 40861,
            "text": "{\"services\":[{\"name\":\"projects/167984947943/services/abilitec-api.endpoints.liveramp-identity-public.cloud.goog\",\"config\":{\"name\":\"abilitec-api.endpoints.liveramp-identity-public.cloud.goog\",\"title\":\"AbiliTec API\",\"documentation\":{},\"quota\":{},\"authentication\":{},\"usage\":{},\"monitoring\":{}},\"state\":\"ENABLED\",\"parent\":\"projects/167984947943\"},{\"name\":\"projects/167984947943/services/accesscontextmanager.googleapis.com\",\"config\":{\"name\":\"accesscontextmanager.googleapis.com\",\"title\":\"Access Context Manager API\",\"documentation\":{\"summary\":\"An API for setting attribute based access control to requests to Google Cloud services.\\n<aside class=\\\"warning\\\"><b>Warning:</b> Do not mix <b>v1alpha</b> and <b>v1</b> API usage in the same access policy. The v1alpha API supports new Access Context Manager features, which may have different attributes or behaviors that are not supported by v1. The practice of mixed API usage within a policy may result in the inability to update that policy, including any access levels or service perimeters belonging to it. It is not recommended to use both v1 and v1alpha for modifying policies with critical service perimeters. Modifications using v1alpha should be limited to policies with non-production/non-critical service perimeters.</aside>\"},\"quota\":{},\"authentication\":{},\"usage\":{\"requirements\":[\"serviceusage.googleapis.com/tos/cloud\"]},\"monitoredResources\":[{\"type\":\"accesscontextmanager.googleapis.com/Location\",\"displayName\":\"Access Context Manager Location\",\"description\":\"Access Context Manager Location.\",\"labels\":[{\"key\":\"resource_container\",\"description\":\"The organization number of the policy, such as organizations/5678.\"},{\"key\":\"location\",\"description\":\"The location of the policy.\"}],\"launchStage\":\"ALPHA\"},{\"type\":\"accesscontextmanager.googleapis.com/AccessPolicyQuotaResource\",\"displayName\":\"Access policy resource.\",\"description\":\"Access policy resource.\",\"labels\":[{\"key\":\"resource_container\",\"description\":\"The GCP container associated with the metric.\"},{\"key\":\"location\",\"description\":\"Location for the quota.\"},{\"key\":\"access_policy\",\"description\":\"The access policy custom dimension.\"}],\"launchStage\":\"ALPHA\"}],\"monitoring\":{\"consumerDestinations\":[{\"monitoredResource\":\"accesscontextmanager.googleapis.com/Location\",\"metrics\":[\"accesscontextmanager.googleapis.com/access_levels_per_policy\",\"accesscontextmanager.googleapis.com/perimeter_egress_policies_per_policy\",\"accesscontextmanager.googleapis.com/perimeter_ingress_policies_per_policy\",\"accesscontextmanager.googleapis.com/perimeter_protected_resources_per_policy\",\"accesscontextmanager.googleapis.com/perimeters_per_policy\",\"accesscontextmanager.googleapis.com/quota/access_levels_per_policy/exceeded\",\"accesscontextmanager.googleapis.com/quota/perimeter_eg[...]
