{
  "log": {
    "_recordingName": "fetch-cloud-build-bb-repos",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 455,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 123,
      },
      {
        "_id": "e3c7c591379a23aeb46199b68ac59766",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloudbuild.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/global/bitbucketServerConfigs"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 735,
            "text": "{\"bitbucketServerConfigs\":[{\"name\":\"projects/167984947943/locations/global/bitbucketServerConfigs/ignacio-test\",\"hostUri\":\"https://bb.fosfori.to\",\"secrets\":{\"adminAccessTokenVersionName\":\"projects/j1-gc-integration-dev-v3/secrets/cloudbuild-bitbucket-server-1662132018190-admin-token/versions/latest\",\"readAccessTokenVersionName\":\"projects/j1-gc-integration-dev-v3/secrets/cloudbuild-bitbucket-server-1662132018190-read-token/versions/latest\",\"webhookSecretVersionName\":\"projects/j1-gc-integration-dev-v3/secrets/cloudbuild-bitbucket-server-1662132018190-webhook-secret/versions/latest\"},\"createTime\":\"2022-09-02T15:20:25.495964093Z\",\"username\":\"ignacio\",\"webhookKey\":\"[REDACTED]\",\"apiKey\":\"[REDACTED]\",\"connectedRepositories\":[{\"projectKey\":\"TEST\",\"repoSlug\":\"test-repo\"}]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 908,
      },
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value":[...]
