{
  "log": {
    "_recordingName": "build-cloud-build-trigger-triggers-build-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 499,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 219,
      },
      {
        "_id": "e30fcbbe8e75affbd2f8b909978bc449",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloudbuild.googleapis.com/v1/projects/j1-gc-integration-dev-v3/triggers"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1004,
            "text": "{\"triggers\":[{\"id\":\"89e96b49-3cef-4fd4-ae19-fc261e2ca076\",\"createTime\":\"2022-09-06T09:31:09.949982471Z\",\"github\":{\"push\":{\"branch\":\".*\"},\"owner\":\"i5o\",\"name\":\"sample-github-repo\"},\"autodetect\":true,\"name\":\"github-trigger\"},{\"id\":\"56a965d9-25ba-4514-b8a8-f38eec256cf0\",\"createTime\":\"2022-09-06T06:51:21.273287444Z\",\"filename\":\"cloudbuild.yaml\",\"name\":\"bitbucket-trigger\",\"bitbucketServerTriggerConfig\":{\"repoSlug\":\"sample-bitbucket-repository\",\"projectKey\":\"SAM\",\"push\":{\"branch\":\".*\"},\"bitbucketServerConfigResource\":\"projects/167984947943/locations/global/bitbucketServerConfigs/bitbucket-config\",\"bitbucketServerConfig\":{\"name\":\"projects/167984947943/locations/global/bitbucketServerConfigs/bitbucket-config\",\"hostUri\":\"https://bb.fosfori.to\",\"secrets\":{\"adminAccessTokenVersionName\":\"projects/j1-gc-integration-dev-v3/secrets/cloudbuild-bitbucket-server-1662445767670-admin-token/versions/latest\",\"readAccessTokenVersionName\":\"projects/j1-gc-integration-dev-v3/secrets/cloudbuild-bitbucket-server-1662445767670-read-token/versions/latest\",\"webhookSecretVersionName\":\"projects/j1-gc-integration-dev-v3/secrets/cloudbuild-bitbucket-server-1662445767670-webhook-secret/versions/latest\"},\"createTime\":\"2022-09-06T06:29:35.508853461Z\",\"username\":\"ignacio\",\"webhookKey\":\"[REDACTED]\",\"apiKey\":\"[REDACTED]\",\"connectedRepositories\":[{\"projectKey\":\"SAM\",\"repoSlug\":\"sample-bitbucket-repository\"}]}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 831,
      },
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
  [...]
