{
  "log": {
    "_recordingName": "fetchComputeGlobalForwardingRules",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 558,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 197,
      },
      {
        "_id": "0c4cfee1e43c23ff7bf01a4ec3245667",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/backendServices"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1349,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v3/global/backendServices\",\"items\":[{\"id\":\"5159071889730613467\",\"creationTimestamp\":\"2021-05-31T09:26:28.264-07:00\",\"name\":\"load-balancer-www-service\",\"description\":\"\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/backendServices/load-balancer-www-service\",\"backends\":[{\"group\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/zones/us-central1-a/instanceGroups/tf-www-resources\",\"balancingMode\":\"UTILIZATION\",\"maxUtilization\":0.8,\"capacityScaler\":1}],\"healthChecks\":[\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/healthChecks/load-balancer-health-check\"],\"timeoutSec\":30,\"port\":80,\"protocol\":\"HTTP\",\"fingerprint\":\"JULcyvg4rgE=\",\"portName\":\"http\",\"enableCDN\":false,\"sessionAffinity\":\"NONE\",\"affinityCookieTtlSec\":0,\"loadBalancingScheme\":\"EXTERNAL\",\"connectionDraining\":{\"drainingTimeoutSec\":300},\"iap\":{\"enabled\":false,\"oauth2ClientId\":\"\",\"oauth2ClientSecretSha256\":\"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\"},\"kind\":\"compute#backendService\"}],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/backendServices\",\"kind\":\"compute#backendServiceList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "As_K5UO-vgN19S4ag0FD_aQaE4A=/wfl_baW2aQJcoyFdKmMlp6cYLh8="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
   [...]
