{
  "log": {
    "_recordingName": "fetchSQLInstances-encrypted",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 573,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 262,
      },
      {
        "_id": "8b73ea551c4fe03989e109449b9eac55",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloudkms.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 2442,
            "text": "{\"locations\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia\",\"labels\":{\"cloud.googleapis.com/location\":\"asia\",\"cloud.googleapis.com/country\":\"SG\"},\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.kms.v1.LocationMetadata\",\"hsmAvailable\":true,\"ekmAvailable\":true},\"locationId\":\"asia\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-east1\",\"labels\":{\"cloud.googleapis.com/region\":\"asia-east1\",\"cloud.googleapis.com/location\":\"asia-east1\",\"cloud.googleapis.com/country\":\"TW\"},\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.kms.v1.LocationMetadata\",\"hsmAvailable\":true,\"ekmAvailable\":true},\"locationId\":\"asia-east1\",\"displayName\":\"Taiwan\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-east2\",\"labels\":{\"cloud.googleapis.com/country\":\"HK\",\"cloud.googleapis.com/location\":\"asia-east2\",\"cloud.googleapis.com/region\":\"asia-east2\"},\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.kms.v1.LocationMetadata\",\"hsmAvailable\":true,\"ekmAvailable\":true},\"locationId\":\"asia-east2\",\"displayName\":\"Hong Kong\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-northeast1\",\"lab[...]
