{
  "log": {
    "_recordingName": "fetchComputeLoadBalancers",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 574,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 189,
      },
      {
        "_id": "f0b3a60f761d05fb7a520912646819d8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/backendServices"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1342,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v2/global/backendServices\",\"items\":[{\"id\":\"8569960656512487876\",\"creationTimestamp\":\"2021-02-17T16:04:59.603-08:00\",\"name\":\"load-balancer-www-service\",\"description\":\"\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/backendServices/load-balancer-www-service\",\"backends\":[{\"group\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/zones/us-central1-a/instanceGroups/tf-www-resources\",\"balancingMode\":\"UTILIZATION\",\"maxUtilization\":0.8,\"capacityScaler\":1}],\"healthChecks\":[\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/healthChecks/load-balancer-health-check\"],\"timeoutSec\":30,\"port\":80,\"protocol\":\"HTTP\",\"fingerprint\":\"6DEE4-uWwRg=\",\"portName\":\"http\",\"enableCDN\":false,\"sessionAffinity\":\"NONE\",\"affinityCookieTtlSec\":0,\"loadBalancingScheme\":\"EXTERNAL\",\"connectionDraining\":{\"drainingTimeoutSec\":300},\"iap\":{\"enabled\":false,\"oauth2ClientId\":\"\",\"oauth2ClientSecretSha256\":\"e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855\"},\"kind\":\"compute#backendService\"}],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/backendServices\",\"kind\":\"compute#backendServiceList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "YX01rFj5W68YLD7KEmvkoq4MyAw=/RSpXMhkONElUtbZ-ikS9TYnJcXM="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
   [...]
