{
  "log": {
    "_recordingName": "build-image-image-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "b4391da807354cda8b8ffaab25e22621",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1259,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 154,
      },
      {
        "_id": "aa33ceaf98a63b8bd52b3986a9ee06cb",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/snapshots"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 3416,
            "text": "{\"kind\":\"compute#snapshotList\",\"id\":\"projects/j1-gc-integration-dev-v3/global/snapshots\",\"items\":[{\"kind\":\"compute#snapshot\",\"id\":\"2985317236767223963\",\"creationTimestamp\":\"2022-01-26T14:43:00.890-08:00\",\"name\":\"disk-1-us-central1-a-20220126224300-7jcwxs93\",\"status\":\"READY\",\"sourceDisk\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/zones/us-central1-a/disks/disk-1\",\"sourceDiskId\":\"2652474421131621984\",\"diskSizeGb\":\"10\",\"storageBytes\":\"0\",\"storageBytesStatus\":\"UP_TO_DATE\",\"snapshotEncryptionKey\":{\"kmsKeyName\":\"projects/j1-gc-integration-dev-v3/locations/global/keyRings/example-topic-keyring/cryptoKeys/example-key/cryptoKeyVersions/1\"},\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/snapshots/disk-1-us-central1-a-20220126224300-7jcwxs93\",\"labelFingerprint\":\"42WmSpB8rSM=\",\"storageLocations\":[\"us\"],\"autoCreated\":true,\"downloadBytes\":\"1410\",\"creationSizeBytes\":\"0\"},{\"kind\":\"compute#snapshot\",\"id\":\"374306591964146809\",\"creationTimestamp\":\"2024-01-24T14:43:36.550-08:00\",\"name\":\"example-kms-disk-us-central1-a-20240124224334-ikrc6w22\",\"status\":\"READY\",\"sourceDisk\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/zones/us-central1-a/disks/example-kms-disk\",\"sourceDiskId\":\"8308816869584569175\",\"diskSizeGb\":\"10\",\"storageBytes\":\"0\",\"storageBytesStatus\":\"UP_TO_DATE\",\"snapshotEncryptionKey\":{\"kmsKeyName\":\"projects/j1-gc-integration-dev-v3/locations/us/keyRings/j1-gc-integration-dev-v3-disk-bucket-ring/cryptoKeys/j1-gc-integration-dev-v3-disk-bucket-key/cryptoKeyVersions/969\"},\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/snapshots/example-kms-disk-us-central1-a-20240124224334-ikrc6w22\",\"labelFingerprint\":\"42WmSpB8rSM=\",\"storageLocations\":[\"us\"],\"autoCreated\":true,\"downloadBytes\":\"3443\",\"sourceSnapshotSchedulePolicy\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/us-central1/resourcePolicies/default-schedule-1\",\"sourceSnapshotSchedulePolicyId\":\"6233082445560578896\",\"creationSizeBytes\":\"0\"},{\"kind\":\"compute#snapshot\",\"id\":\"3340411307229666041\",\"creationTimestamp\":\"2024-01-25T14:43:34.835-08:00\",\"name\":\"example-kms-disk-us-central1-a-20240125224334-3uenn837\",\"status\":\"READY\",\"sourceDisk\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/zones/us-central1-a/disks/example-kms-disk\",\"sourceDiskId\":\"8308816869584569175\",\"diskSizeGb\":\"10\",\"storageBytes\":\"0\",\"storageBytesStatus[...]
