{
  "log": {
    "_recordingName": "fetchApiGatewayApiConfigs",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 550,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 193,
      },
      {
        "_id": "77080f2f074d6b0cf84dc2d21d034383",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://iam.googleapis.com/v1/projects/j1-gc-integration-dev-v2/serviceAccounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1145,
            "text": "{\"accounts\":[{\"name\":\"projects/j1-gc-integration-dev-v2/serviceAccounts/j1-gc-integration-dev-gke-sa@j1-gc-integration-dev-v2.iam.gserviceaccount.com\",\"projectId\":\"j1-gc-integration-dev-v2\",\"uniqueId\":\"109047516442840366192\",\"email\":\"j1-gc-integration-dev-gke-sa@j1-gc-integration-dev-v2.iam.gserviceaccount.com\",\"displayName\":\"JupiterOne Integration Development GKE Service Account\",\"etag\":\"MDEwMjE5MjA=\",\"oauth2ClientId\":\"109047516442840366192\"},{\"name\":\"projects/j1-gc-integration-dev-v2/serviceAccounts/j1-gc-integration-dev-v2@appspot.gserviceaccount.com\",\"projectId\":\"j1-gc-integration-dev-v2\",\"uniqueId\":\"114130748867730645561\",\"email\":\"j1-gc-integration-dev-v2@appspot.gserviceaccount.com\",\"displayName\":\"App Engine default service account\",\"etag\":\"MDEwMjE5MjA=\",\"oauth2ClientId\":\"114130748867730645561\"},{\"name\":\"projects/j1-gc-integration-dev-v2/serviceAccounts/711888229551-compute@developer.gserviceaccount.com\",\"projectId\":\"j1-gc-integration-dev-v2\",\"uniqueId\":\"110435481673934914552\",\"email\":\"711888229551-compute@developer.gserviceaccount.com\",\"displayName\":\"Compute Engine default service account\",\"etag\":\"MDEwMjE5MjA=\",\"oauth2ClientId\":\"110435481673934914552\"},{\"name\":\"projects/j1-gc-integration-dev-v2/serviceAccounts/j1-gc-integration-dev-v2-cr@j1-gc-integration-dev-v2.iam.gserviceaccount.com\",\"projectId\":\"j1-gc-integration-dev-v2\",\"uniqueId\":\"105836918573850510889\",\"email\":\"j1-gc-integration-dev-v2-cr@j1-gc-integration-dev-v2.iam.gserviceaccount.com\",\"displayName\":\"j1-gc-integration-dev-v2-cr\",\"etag\":\"MDEwMjE5MjA=\",\"description\":\"Service account for local Google Cloud integration development for Creativice team\",\"oauth2ClientId\":\"105836918573850510889\"},{\"name\":\"projects/j1-gc-integration-dev-v2/serviceAccounts/j1-gc-integration-dev-v2-tf@j1-gc-integration-dev-v2.iam.gserviceaccount.com\",\"projectId\":\"j1-gc-integration-dev-v2\",\"uniqueId\":\"101172014592767351387\",\"email\":\"j1-gc-integration-dev-v2-tf@j1-gc-integration-dev-v2.iam.gserviceaccount.com\",\"displayName\":\"j1-gc-integration-dev-v2-tf\",\"eta[...]
