{
  "log": {
    "_recordingName": "fetchApiGatewayApiConfigs",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 566,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 206,
      },
      {
        "_id": "3045bfccf05203a2c8e9a3c3c0605d72",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://apigateway.googleapis.com/v1/projects/j1-gc-integration-dev-v2/locations/-/apis"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 553,
            "text": "{\"apis\":[{\"name\":\"projects/j1-gc-integration-dev-v2/locations/global/apis/example-api-gateway-endpoint\",\"createTime\":\"2021-03-30T21:15:27.820351650Z\",\"updateTime\":\"2021-03-30T21:17:06.954180503Z\",\"displayName\":\"Example API Gateway Endpoint\",\"managedService\":\"example-api-gateway-endpoint-0fo33j5zaqt68.apigateway.j1-gc-integration-dev-v2.cloud.goog\",\"state\":\"ACTIVE\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 986,
      },
      {
        "_id": "956faced3cbdf6709f1d8e0e952983e6",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://apigateway.googleapis.com/v1/projects/j1-gc-integration-dev-v2/locations/global/apis/example-api-gateway-endpoint:getIamPolicy"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 119,
            "text": "{\"etag\":\"ACAB\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 869,
      },
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "applica[...]
