{
  "log": {
    "_recordingName": "fetch-monitoring-alert-policies",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1242,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 417,
      },
      {
        "_id": "3c8d884f30a9ca469669889d8101f3fa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://monitoring.googleapis.com/v3/projects/j1-gc-integration-dev-v3/alertPolicies"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 703,
            "text": "{\"alertPolicies\":[{\"name\":\"projects/j1-gc-integration-dev-v3/alertPolicies/7530992326634323073\",\"displayName\":\"Example Alert Policy\",\"combiner\":\"OR\",\"creationRecord\":{\"mutateTime\":\"2021-05-31T16:25:52.239928975Z\",\"mutatedBy\":\"j1-gc-integration-dev-sa-tf@j1-gc-integration-dev-v3.iam.gserviceaccount.com\"},\"mutationRecord\":{\"mutateTime\":\"2021-05-31T16:25:52.239928975Z\",\"mutatedBy\":\"j1-gc-integration-dev-sa-tf@j1-gc-integration-dev-v3.iam.gserviceaccount.com\"},\"conditions\":[{\"conditionThreshold\":{\"filter\":\"metric.type=\\\"logging.googleapis.com/user/my-example-metric\\\" AND resource.type=\\\"metric\\\"\",\"comparison\":\"COMPARISON_GT\",\"duration\":\"0s\",\"trigger\":{\"count\":1},\"aggregations\":[{\"alignmentPeriod\":\"300s\",\"perSeriesAligner\":\"ALIGN_RATE\"}]},\"displayName\":\"test condition\",\"name\":\"projects/j1-gc-integration-dev-v3/alertPolicies/7530992326634323073/conditions/7530992326634320184\"}],\"enabled\":true}],\"totalSize\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 632,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
