{
  "log": {
    "_recordingName": "fetch-beyondcorp-gateway",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1249,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 172,
      },
      {
        "_id": "e41c01f36cb61d6c4e8b893a336ca168",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://beyondcorp.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/us-central1/appGateways"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 393,
            "text": "{\"appGateways\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/appGateways/autogenerated-gateway-1\",\"createTime\":\"2024-04-08T07:20:43.124701675Z\",\"updateTime\":\"2024-04-08T12:30:24.961605030Z\",\"uid\":\"612336d2-371b-43ff-b074-8d7b740be66a\",\"type\":\"TCP_PROXY\",\"state\":\"CREATED\",\"hostType\":\"GCP_REGIONAL_MIG\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1335,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
