{
  "log": {
    "_recordingName": "fetchProjectTopics",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 571,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165,
      },
      {
        "_id": "221edc3b7eee1f3dba8cc9329daa092a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://pubsub.googleapis.com/v1/projects/j1-gc-integration-dev-v3/topics"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 591,
            "text": "{\"topics\":[{\"name\":\"projects/j1-gc-integration-dev-v3/topics/example-topic\",\"kmsKeyName\":\"projects/j1-gc-integration-dev-v3/locations/global/keyRings/example-topic-keyring/cryptoKeys/example-key\"},{\"name\":\"projects/j1-gc-integration-dev-v3/topics/container-analysis-notes-v1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/topics/example-topic-dead-letter\"},{\"name\":\"projects/j1-gc-integration-dev-v3/topics/container-analysis-occurrences-v1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/topics/container-analysis-notes-v1beta1\"},{\"name\":\"projects/j1-gc-integration-dev-v3[...]
