{
  "log": {
    "_recordingName": "fetchComputeForwardingRules",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 579,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 160,
      },
      {
        "_id": "00b61773b64cd71a44241b38613409c9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/asia-east1/backendServices"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 323,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v3/regions/asia-east1/backendServices\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/asia-east1/backendServices\",\"kind\":\"compute#backendServiceList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "shJSjOrINROc_7BuKRLSH7mV4OI=/XBUXt7ivJpRa_bueVOAXNONieRo="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 366,
      },
      {
        "_id": "58cf5474d4a298a0060ce031e924a023",[...]
