{
  "log": {
    "_recordingName": "setupOrganization",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "881e49d635e684ea96e0a5f890d4e85e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloudresourcemanager.googleapis.com/v1/projects/j1-gc-integration-dev"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 389,
            "text": "{\"projectNumber\":\"545240943112\",\"projectId\":\"j1-gc-integration-dev\",\"lifecycleState\":\"ACTIVE\",\"name\":\"j1-gc-integration-dev\",\"createTime\":\"2020-07-28T14:38:24.744Z\",\"parent\":{\"type\":\"organization\",\"id\":\"158838481165\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 181,
      },
      {
        "_id": "f677098e1a8e080bd4f54d86036faede",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://serviceusage.googleapis.com/v1/projects/j1-gc-integration-dev/services/serviceusage.googleapis.com:enable"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1960,
            "text": "{\"name\":\"operations/noop.DONE_OPERATION\",\"done\":true,\"response\":{\"@type\":\"type.googleapis.com/google.api.serviceusage.v1.EnableServiceResponse\",\"service\":{\"name\":\"projects/545240943112/services/serviceusage.googleapis.com\",\"config\":{\"name\":\"serviceusage.googleapis.com\",\"title\":\"Service Usage API\",\"documentation\":{\"summary\":\"Enables services that service consumers want to use on Google Cloud Platform, lists the available or enabled services, or disables services that service consumers no longer use.\"},\"quota\":{},\"authentication\":{},\"legacy\":{\"apiV1Name\":\"serviceusage.googleapis.com\",\"devconsole\":{\"learnmoreUrl\":\"https://cloud.google.com/service-usage/\",\"requestQuotaUrl\":\"https://docs.google.com/forms/d/1GaO0qKifYs76Jy1XAZ0GTrskaCWlNK-61uaB3HAyklk/viewform?entry.963033142={id}\"}},\"usage\":{\"requirements\":[\"serviceusage.googleapis.com/tos/cloud\"],\"serviceAccess\":\"PUBLIC\"},\"monitoredResources\":[{\"type\":\"serviceruntime.googleapis.com/api\",\"labels\":[{\"key\":\"cloud.googleapis.com/location\"},{\"key\":\"cloud.googleapis.com/uid\"},{\"key\":\"serviceruntime.googleapis.com/api_version\"},{\"key\":\"serviceruntime.googleapis.com/api_method\"},{\"key\":\"serviceruntime.googleapis.com/consumer_project\"},{\"key\":\"cloud.googleapis.com/project\"},{\"key\":\"cloud.googleapis.com/service\"}],\"monitoringMigration\":{\"monitoringBackend\":\"CLOUD_MONARCH\"}},{\"type\":\"serviceruntime.googleapis.com/consumer_quota\",\"labels\":[{\"key\":\"cloud.googleapis.com/location\"},{\"key\":\"cloud.googleapis.com/uid\"},{\"key\":\"cloud.googleapis.com/service\"},{\"key\":\"cloud.googleapis.com/resource_id\"},{\"key\":\"cloud.googleapis.com/resource_node\"},{\"key\":\"cloud.googleapis.com/quota_metric\"},{\"key\":\"cloud.googleapis.com/quota_location\"}],\"monitoringMigration\":{\"monitoringBackend\":\"CLOUD_MONARCH\"}},{\"type\":\"serviceruntime.googleapis.com/producer_quota\",\"labels\":[{\"key\":\"cloud.googleapis.com/location\"},{\"key\":\"cloud.googleapis.com/uid\"},{\"key\":\"cloud.googleapis.com/service\"},{\"key\":\"cloud.googleapis.com/resource_id\"},{\"key\":\"cloud.googleapis.com/resource_node\"},{\"key\":\"cloud.googleapis.com/consumer_resource_node\"},{\"key\":\"cloud.googleapis.com/quota_metric\"},{\"key\":\"cloud.googleapis.com/quota_location\"}],\"monitoringMigration\":{\"monitoringBackend\":\"CLOUD_MONARCH\"}}],\"monitoring\":{\"consumerDestinations\":[{\"monitoredResource\":\"serviceruntime.googleapis.com/api\",\"metrics\":[\"serviceruntime.googleapis.com/api/consumer/quota_used_count\",\"serviceruntime.googleapis.com/api/consumer/quota_refund_count\",\"serviceruntime.googleapis.com/quota/used\",\"serviceruntime.googleapis.com/quota/limit\",\"serviceruntime.googleapis.com/quota/exceeded\",\"serviceruntime.googleapis.com/allocation/consumer/quota_used_count\"]},{\"monitoredResource\":\"serviceruntime.googleapis.com/consumer_quota\",\"metrics\":[\"serviceruntime.googleapis.com/quota/rate/consumer/used_count\",\"serviceruntime.googleapis.com/quota/rate/consumer/refund_count\",\"serviceruntime.googleapis.com/quota/allocation/consumer/usage\",\"serviceruntime.googleapis.com/quota/consumer/limit\",\"serviceruntime.googleapis.com/quota/consumer/exceeded\"]}]},\"migration\":{},\"features\":[\"googleprod.com/service/use-monarch\"]},\"state\":\"ENABLED\",\"parent\":\"projects/545240943112\"}}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 360,
      },
      {
        "_id": "ce5763185f5332d9b93ceed25351a522",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "auth[...]
