{
  "log": {
    "_recordingName": "fetchAlertPolicies",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 588,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 271,
      },
      {
        "_id": "af8d96326222c50ee8994c4302fe8478",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://monitoring.googleapis.com/v3/projects/j1-gc-integration-dev-v2/alertPolicies"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1026,
            "text": "{\"alertPolicies\":[{\"name\":\"projects/j1-gc-integration-dev-v2/alertPolicies/8900061597970753716\",\"displayName\":\"Example Alert Policy\",\"combiner\":\"OR\",\"creationRecord\":{\"mutateTime\":\"2021-02-19T13:41:42.161511391Z\",\"mutatedBy\":\"j1-gc-integration-dev-v2-tf@j1-gc-integration-dev-v2.iam.gserviceaccount.com\"},\"mutationRecord\":{\"mutateTime\":\"2021-02-19T13:41:42.161511391Z\",\"mutatedBy\":\"j1-gc-integration-dev-v2-tf@j1-gc-integration-dev-v2.iam.gserviceaccount.com\"},\"conditions\":[{\"conditionThreshold\":{\"filter\":\"metric.type=\\\"logging.googleapis.com/user/my-example-metric\\\" AND resource.type=\\\"metric\\\"\",\"comparison\":\"COMPARISON_GT\",\"duration\":\"0s\",\"trigger\":{\"count\":1},\"aggregations\":[{\"alignmentPeriod\":\"300s\",\"perSeriesAligner\":\"ALIGN_RATE\"}]},\"displayName\":\"test condition\",\"name\":\"projects/j1-gc-integration-dev-v2/alertPolicies/8900061597970753716/conditions/8900061597970755317\"}],\"enabled\":true}],\"totalSize\":1}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 442,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
