{
  "log": {
    "_recordingName": "validateInvocation:failure:invalidProjectId",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1275,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 122,
      },
      {
        "_id": "7cafef90c67977cce09b676b39635c40",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pageSize",
              "value": "200"
            },
            {
              "name": "filter",
              "value": "state:ENABLED"
            }
          ],
          "url": "https://serviceusage.googleapis.com/v1/projects/j1-gc-integration-dev-v312/services?pageSize=200&filter=state%3AENABLED"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 792,
            "text": "{\"error\":{\"code\":403,\"message\":\"Project 'j1-gc-integration-dev-v312' not found or permission denied.\\nHelp Token: AVUsNs2VIo3xz9nuqR13Q5EIqpx_jsYBy0a0adNKx63wfZbqbhB0Suhoyni35hl4aLPXOC7DAGXkunqWs-Pvfoe0jCYFLNcEBe5rRc_ZtLejisrJ\",\"errors\":[{\"message\":\"Project 'j1-gc-integration-dev-v312' not found or permission denied.\\nHelp Token: AVUsNs2VIo3xz9nuqR13Q5EIqpx_jsYBy0a0adNKx63wfZbqbhB0Suhoyni35hl4aLPXOC7DAGXkunqWs-Pvfoe0jCYFLNcEBe5rRc_ZtLejisrJ\",\"domain\":\"global\",\"reason\":\"forbidden\"}],\"status\":\"PERMISSION_DENIED\",\"details\":[{\"@type\":\"type.googleapis.com/google.rpc.PreconditionFailure\",\"violations\":[{\"type\":\"googleapis.com\",\"subject\":\"?error_code=210002&type=Project&resource_id=j1-gc-integration-dev-v312\"}]},{\"@type\":\"type.googleapis.com/google.rpc.ErrorInfo\",\"reason\":\"RESOURCES_NOT_FOUND\",\"domain\":\"serviceusage.googleapis.com\",\"metadata\":{\"type\":\"Project\",\"resource_id\":\"j1-gc-integration-dev-v312\"}}]}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 403,
          "statusText": "Forbidden"
        },
        "time": 1151,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
