{
  "log": {
    "_recordingName": "fetch-cloud-build-ghe-configs",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 397,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 151,
      },
      {
        "_id": "cd67da7c6dd0acbcf46538b3477379ea",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloudbuild.googleapis.com/v1/projects/j1-gc-integration-dev-v3/githubEnterpriseConfigs"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 620,
            "text": "{\"configs\":[{\"hostUrl\":\"https://ec2-54-173-202-250.compute-1.amazonaws.com\",\"appId\":\"1\",\"createTime\":\"2022-08-31T03:46:08.320014388Z\",\"name\":\"projects/167984947943/locations/global/githubEnterpriseConfigs/github-enterprise-config\",\"webhookKey\":\"f8cb2a1f-375c-489d-a397-8a41587bf41b\",\"secrets\":{\"privateKeyVersionName\":\"projects/167984947943/secrets/privateKeyVersionName/versions/1\",\"webhookSecretVersionName\":\"projects/167984947943/secrets/webhookSecretVersionName/versions/1\",\"oauthSecretVersionName\":\"projects/167984947943/secrets/oauthSecretVersionName/versions/1\",\"oauthClientIdVersionName\":\"projects/167984947943/secrets/oauthClientIdVersionName/versions/1\"}},{\"hostUrl\":\"https://ec2-54-173-202-250.compute-1.amazonaws.com\",\"appId\":\"1\",\"createTime\":\"2022-08-31T03:47:00.142299173Z\",\"name\":\"projects/167984947943/locations/global/githubEnterpriseConfigs/github-enterprise-config-000\",\"webhookKey\":\"4a2f8b2d-0f44-4f43-991c-4106e4c80fb4\",\"secrets\":{\"privateKeyVersionName\":\"projects/167984947943/secrets/privateKeyVersionName/versions/1\",\"webhookSecretVersionName\[...]
