{
  "log": {
    "_recordingName": "fetchComputeInstances",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 559,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 162,
      },
      {
        "_id": "558de6aa64a5106f41933729842f7657",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/zones/asia-east1-a/instanceGroups"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 331,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v2/zones/asia-east1-a/instanceGroups\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/zones/asia-east1-a/instanceGroups\",\"kind\":\"compute#instanceGroupList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "HTmNlQ4Q3k6rfUtL90QY5znGKsw=/MvbMQ4BCFm7OlDZmffUZ2JRWJd0="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 326,
      },
      {
        "_id": "ce1095ee10f52ecaa473fd557ed2bcb0",
[...]
