{
  "log": {
    "_recordingName": "fetchSpannerInstanceConfigs",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 543,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 196,
      },
      {
        "_id": "eaef4387a12a17e82f58676fbd90d806",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://spanner.googleapis.com/v1/projects/j1-gc-integration-dev-v2/instanceConfigs"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 2300,
            "text": "{\"instanceConfigs\":[{\"name\":\"projects/j1-gc-integration-dev-v2/instanceConfigs/asia1\",\"displayName\":\"Asia (Tokyo/Osaka/Seoul)\",\"replicas\":[{\"location\":\"asia-northeast1\",\"type\":\"READ_WRITE\",\"defaultLeaderLocation\":true},{\"location\":\"asia-northeast1\",\"type\":\"READ_WRITE\"},{\"location\":\"asia-northeast2\",\"type\":\"READ_WRITE\"},{\"location\":\"asia-northeast2\",\"type\":\"READ_WRITE\"}]},{\"name\":\"projects/j1-gc-integration-dev-v2/instanceConfigs/eur3\",\"displayName\":\"Europe (Belgium/Netherlands)\",\"replicas\":[{\"location\":\"europe-west1\",\"type\":\"READ_WRITE\",\"defaultLeaderLocation\":true},{\"location\":\"europe-west1\",\"type\":\"READ_WRITE\"},{\"location\":\"europe-west4\",\"type\":[...]
