{
  "log": {
    "_recordingName": "fetchComputeSslPolicies",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 594,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 207,
      },
      {
        "_id": "83a18b1c82464e1725001a4f263105d7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/targetSslProxies"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 724,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-300716/global/targetSslProxies\",\"items\":[{\"id\":\"764465862189116138\",\"creationTimestamp\":\"2021-02-04T12:07:33.886-08:00\",\"name\":\"example-ssl-2-loadbalancer-target-proxy\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/targetSslProxies/example-ssl-2-loadbalancer-target-proxy\",\"service\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/backendServices/example-ssl-2-loadbalancer\",\"sslCertificates\":[\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/sslCertificates/example-certificate\"],\"proxyHeader\":\"NONE\",\"kind\":\"compute#targetSslProxy\"}],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/targetSslProxies\",\"kind\":\"compute#targetSslProxyList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "0P6a0rl_UAm_OKaEDEpf0oi__WM=/xAHCQ_RqNlOmgJOcHv5HHxe1P5k="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ][...]
