{
  "log": {
    "_recordingName": "fetchComputeSslPolicies",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 570,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 164,
      },
      {
        "_id": "dd0294636fda05da2af675ddd3a81cde",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/targetSslProxies"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 352,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v2/global/targetSslProxies\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/targetSslProxies\",\"kind\":\"compute#targetSslProxyList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "Rkc9Hkh6vu1dtUgf_FhgDWy6CqQ=/8latq3nVClfYcWQHZbXPuF_qP3Q="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 332,
      },
      {
        "_id": "acea721c8193b51ced888cae721cc423",[...]
