{
  "log": {
    "_recordingName": "fetchMetrics",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 559,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 185,
      },
      {
        "_id": "ef2ba072fc20480b4c71e6353810980a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://monitoring.googleapis.com/v3/projects/j1-gc-integration-dev-300716/alertPolicies"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1288,
            "text": "{\"alertPolicies\":[{\"name\":\"projects/j1-gc-integration-dev-300716/alertPolicies/17906798822773338482\",\"displayName\":\"test-alert-policy\",\"combiner\":\"OR\",\"creationRecord\":{\"mutateTime\":\"2021-01-27T20:26:35.549474766Z\",\"mutatedBy\":\"admin@creativice.com\"},\"mutationRecord\":{\"mutateTime\":\"2021-01-27T20:26:35.549474766Z\",\"mutatedBy\":\"admin@creativice.com\"},\"conditions\":[{\"conditionThreshold\":{\"filter\":\"metric.type=\\\"logging.googleapis.com/user/test-metric\\\"\",\"comparison\":\"COMPARISON_GT\",\"duration\":\"0s\",\"trigger\":{\"count\":1},\"aggregations\":[{\"alignmentPeriod\":\"300s\",\"perSeriesAligner\":\"ALIGN_RATE\"}]},\"displayName\":\"logging/user/test-metric [RATE]\",\"name\":\"projects/j1-gc-integration-dev-300716/alertPolicies/17906798822773338482/conditions/17906798822773340137\"}],\"enabled\":true},{\"name\":\"projects/j1-gc-integration-dev-300716/alertPolicies/9246450381922925470\",\"displayName\":\"Example Alert Policy\",\"combiner\":\"OR\",\"creationRecord\":{\"mutateTime\":\"2021-02-02T16:18:23.127595226Z\",\"mutatedBy\":\"j1-gc-integration-dev-sa@j1-gc-integration-dev-300716.iam.gserviceaccount.com\"},\"mutationRecord\":{\"mutateTime\":\"2021-02-02T16:18:23.127595226Z\",\"mutatedBy\":\"j1-gc-integration-dev-sa@j1-gc-integration-dev-300716.iam.gserviceaccount.com\"},\"conditions\":[{\"conditionThreshold\":{\"filter\":\"metric.type=\\\"logging.googleapis.com/user/my-example-metric\\\" AND resource.type=\\\"metric\\\"\",\"comparison\":\"COMPARISON_GT\",\"duration\":\"0s\",\"trigger\":{\"count\":1},\"aggregations\":[{\"alignmentPeriod\":\"300s\",\"perSeriesAligner\":\"ALIGN_RATE\"}]},\"displayName\":\"test condition\",\"name\":\"projects/j1-gc-integration-dev-300716/alertPolicies/9246450381922925470/conditions/9246450381922923601\"}],\"enabled\":true}],\"totalSize\":2}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 373,
      },
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/js[...]
