{
  "log": {
    "_recordingName": "fetchProjectSubscriptions",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 572,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165,
      },
      {
        "_id": "ba748ad50f7fc32fe0a77d0bd3aa2934",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://pubsub.googleapis.com/v1/projects/j1-gc-integration-dev-v2/topics"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 463,
            "text": "{\"topics\":[{\"name\":\"projects/j1-gc-integration-dev-v2/topics/example-topic\",\"kmsKeyName\":\"projects/j1-gc-integration-dev-v2/locations/global/keyRings/example-topic-keyring/cryptoKeys/example-key\"},{\"name\":\"projects/j1-gc-integration-dev-v2/topics/example-topic-dead-letter\"},{\"name\":\"projects/j1-gc-integration-dev-v2/topics/container-analysis-notes-v1\"},{\"name\":\"projects/j1-gc-integration-dev-v2/topics/container-analysis-occurrences-v1\"},{\"name\":\"projects/j1-gc-integration-dev-v2/topics/container-analysis-occurrences-v1beta1\"},{\"name\":\"projects/j1-gc-integration-dev-v2/topics/container-analysis-notes-v1beta1\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 462,
      },
      {
        "_id": "88d755d1a273f8fb3015923b639dda8b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://pubsub.googleapis.com/v1/projects/j1-gc-integration-dev-v2/topics/example-topic:getIamPolicy"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 304,
            "text": "{\"version\":1,\"etag\":\"BwW9DOhaS+M=\",\"bindings\":[{\"role\":\"roles/pubsub.viewer\",\"members\":[\"allUsers\"]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 477,
      },
      {
        "_id": "98c5561d5ce75f1bb1c51e0b7dc3a969",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value":[...]
