{
  "log": {
    "_recordingName": "build-connectivity-test-scans-network-relationship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1225,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 235,
      },
      {
        "_id": "6da578bbac904364fb0930f36eeba22e",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/zones/europe-west2-c/instanceGroups"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 277,
            "text": "{\"kind\":\"compute#instanceGroupList\",\"id\":\"projects/j1-gc-integration-dev-v3/zones/europe-west2-c/instanceGroups\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/zones/europe-west2-c/instanceGroups\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "LpqNPW4IrUhdc4TQTN1VIJd22VU=/1fIBOmqv3IV0OT9SOd5OAXQbYxw="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1674,
      },
      {
        "_id": "b929eb9e0dc5d1630d9ece31c7c68128",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://networkmanagement.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/global/connectivityTests"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 5764,
            "text": "{\"resources\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/global/connectivityTests/gke-cluster\",\"source\":{\"gkeMasterCluster\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/clusters/autopilot-cluster-1\"},\"destination\":{\"ipAddress\":\"10.128.0.31\",\"port\":443,\"gkeMasterCluster\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/clusters/autopilot-cluster-2\"},\"protocol\":\"TCP\",\"displayName\":\"gke-cluster\",\"createTime\":\"2024-05-17T11:20:44.490270052Z\",\"updateTime\":\"2024-05-17T11:21:08.626001345Z\",\"reachabilityDetails\":{\"result\":\"UNREACHABLE\",\"verifyTime\":\"2024-05-17T11:21:08.554491724Z\",\"traces\":[{\"endpointInfo\":{\"sourceIp\":\"10.128.0.21\",\"destinationIp\":\"10.128.0.31\",\"protocol\":\"TCP\",\"sourcePort\":52231,\"destinationPort\":443,\"sourceNetworkUri\":\"projects/gke-prod-us-central1-1e5e/global/networks/gke-3ba4079f9e57490cae5b-b4f8-1a74-net\",\"destinationNetworkUri\":\"projects/j1-gc-integration-dev-v3/global/networks/default\"},\"steps\":[{\"description\":\"Initial state: packet originating from a Google Kubernetes Engine control plane.\",\"state\":\"START_FROM_GKE_MASTER\",\"projectId\":\"j1-gc-integration-dev-v3\",\"gkeMaster\":{\"clusterUri\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/clusters/autopilot-cluster-1\",\"clusterNetworkUri\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"internalIp\":\"10.128.0.21\",\"externalIp\":\"34.72.61.38\"}},{\"description\":\"Final state: packet dropped due to no route from a GKE cluster control plane to a destination network.\",\"state\":\"DROP\",\"projectId\":\"j1-gc-integration-dev-v3\",\"drop\":{\"cause\":\"GKE_CONTROL_PLANE_NO_ROUTE\",\"resourceUri\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/clusters/autopilot-cluster-1\"}}],\"forwardTraceId\":1}]},\"probingDetails\":{\"result\":\"UNREACHABLE\",\"verifyTime\":\"2024-05-17T11:20:58.813960Z\",\"sentProbeCount\":50}},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/global/connectivityTests/test-ooi\",\"source\":{\"cloudSqlInstance\":\"projects/j1-gc-integration-dev-v3/instances/demo-mysql-instance\"},\"destination\":{\"port\":80,\"instance\":\"projects/j1-gc-integration-dev-v3/zones/us-central1-a/instances/instance-1\",\"network\":\"projects/j1-gc-integration-dev-v3/global/networks/default\"},\"protocol\":\"TCP\",\"displayName\":\"test-ooi\",\"createTime\":\"2024-05-17T04:22:33.396424453Z\",\"updateTime\":\"2024-05-17T04:22:44.161919355Z\",\"reachabilityDetails\":{\"result\":\"REACHABLE\",\"verifyTime\":\"2024-05-17T04:22:44.108611974Z\",\"traces\":[{\"endpointInfo\":{\"sourceIp\":\"34.71.254.170\",\"destinationIp\":\"34.172.130.250\",\"protocol\":\"TCP\",\"sourcePort\":61503,\"destinationPort\":80,\"sourceNetworkUri\":\"projects/z426ad7c17543d261p-tp/global/networks/default-with-directpath\",\"destinationNetworkUri\":\"projects/j1-gc-integration-dev-v3/global/networks/default\"},\"steps\":[{\"description\":\"Initial state: packet originating from a Cloud SQL instance.\",\"state\":\"START_FROM_CLOUD_SQL_INSTANCE\",\"projectId\":\"j1-gc-integration-dev-v3\",\"cloudSqlInstance\":{\"displayName\":\"demo-mysql-instance\",\"uri\":\"projects/j1-gc-integration-dev-v3/instances/demo-mysql-instance\",\"externalIp\":\"34.71.254.170\",\"region\":\"us-central1\"}},{\"description\":\"Transition state: packet header translated due to external to internal NAT.\",\"state\":\"NAT\",\"projectId\":\"j1-gc-integration-dev-v3\",\"nat\":{\"type\":\"EXTERNAL_TO_INTERNAL\",\"protocol\":\"TCP\",\"networkUri\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"oldSourceIp\":\"34.70.253.177\",\"newSourceIp\":\"34.70.253.177\",\"oldDestinationIp\":\"34.172.130.250\",\"newDestinationIp\":\"10.128.15.223\",\"oldSourcePort\":61503,\"newSourcePort\":61503,\"oldDestinationPort\":80,\"newDestinationPort\":80}},{\"description\":\"Forwarding state: arriving at a Compute Engine instance.\",\"state\":\"ARRIVE_AT_INSTANCE\",\"projectId\":\"j1-gc-integration-dev-v3\",\"instance\":{\"displayName\":\"instance-1\",\"uri\":\"projects/j1-gc-integration-dev-v3/zones/us-central1-a/instances/instance-1\",\"interface\":\"nic0\",\"networkUri\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"internalIp\":\"10.128.15.223\",\"externalIp\":\"34.172.130.250\",\"networkTags\":[\"http-server\",\"https-server\"]}},{\"description\":\"Config checking state: verify INGRESS firewall rule.\",\"state\":\"APPLY_INGRESS_FIREWALL_RULE\",\"projectId\":\"j1-gc-integration-dev-v3\",\"firewall\":{\"displayName\":\"default-allow-http\",\"uri\":\"projects/j1-gc-integration-dev-v3/global/firewalls/default-allow-http\",\"direction\":\"INGRESS\",\"action\":\"ALLOW\",\"priority\":1000,\"networkUri\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"targetTags\":[\"http-server\"],\"firewallRuleType\":\"VPC_FIREWALL_RULE\"}},{\"description\":\"Final state: packet delivered to instance.\",\"state\":\"DELIVER\",\"projectId\":\"j1-gc-integration-dev-v3\",\"deliver\":{\"target\":\"INSTANCE\",\"resourceUri\":\"projects/j1-gc-integration-dev-v3/zones/us-central1-a/instances/instance-1\",\"ipAddress\":\"10.128.15.223\"}}],\"forwardTraceId\":1}]},\"probingDetails\":{\"result\":\"REACHABLE\",\"verifyTime\":\"2024-05-17T04:22:34.406412Z\",\"sentProbeCount\":50,\"successfulProbeCount\":50,\"probingLatency\":{\"latencyPercentiles\":[{\"percent\":50,\"latencyMicros\":\"92\"},{\"percent\":95,\"latencyMicros\":\"114\"}]}}},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/global/connectivityTests/test-conn-1\",\"source\":{\"cloudRunRevision\":{\"uri\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/revisions/hello-image-test-00001-vov\"}},\"destination\":{\"port\":80,\"instance\":\"projects/j1-gc-integration-dev-v3/zones/us-central1-a/instances/instance-1\",\"network\":\"projects/j1-gc-integration-dev-v3/global/networks/default\"},\"protocol\":\"TCP\",\"displayName\":\"test-conn-1\",\"createTime\":\"2024-05-02T08:04:28.758151444Z\",\"updateTime\":\"2024-05-02T08:04:29.420599613Z\",\"reachabilityDetails\":{\"result\":\"UNREACHABLE\",\"verifyTime\":\"2024-05-02T08:04:29.373575479Z\",\"traces\":[{\"endpointInfo\":{\"destinationIp\":\"10.128.15.223\",\"protocol\":\"TCP\",\"sourcePort\":51922,\"destinationPort\":80},\"steps\":[{\"description\":\"Initial state: packet originating from a Cloud Run revision.\",\"state\":\"START_FROM_CLOUD_RUN_REVISION\",\"causesDrop\":true,\"projectId\":\"j1-gc-integration-dev-v3\",\"cloudRunRevision\":{\"displayName\":\"hello-image-test-00001-vov\",\"uri\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/revisions/hello-image-test-00001-vov\",\"location\":\"us-central1\",\"serviceUri\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/services/hello-image-test\"}},{\"description\":\"Final state: packet dropped due to VPC connector not set.\",\"state\":\"DROP\",\"projectId\":\"j1-gc-integration-dev-v3\",\"drop\":{\"cause\":\"VPC_CONNECTOR_NOT_SET\",\"resourceUri\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/revisions/hello-image-test-00001-vov\"}}],\"forwardTraceId\":1}]}},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/global/connectivityTests/test-connection-02\",\"source\":{\"ipAddress\":\"10.28.0.0\",\"network\":\"projects/j1-gc-integration-dev-v3/global/networks/test-network\",\"projectId\":\"j1-gc-integration-dev-v3\"},\"destination\":{\"ipAddress\":\"10.32.0.0\",\"port\":80,\"network\":\"projects/j1-gc-integration-dev-v3/global/networks/test-network\",\"projectId\":\"j1-gc-integration-dev-v3\"},\"protocol\":\"TCP\",\"displayName\":\"test-connection-02\",\"createTime\":\"2024-05-02T07:54:19.560269950Z\",\"updateTime\":\"2024-05-02T07:54:20.447853142Z\",\"reachabilityDetails\":{\"result\":\"UNDETERMINED\",\"verifyTime\":\"2024-05-02T07:54:20.398050468Z\",\"traces\":[{\"endpointInfo\":{\"sourceIp\":\"10.28.0.0\",\"destinationIp\":\"10.32.0.0\",\"protocol\":\"TCP\",\"sourcePort\":61378,\"destinationPort\":80},\"steps\":[{\"description\":\"Final state: analysis is aborted due to no valid source location found.\",\"state\":\"ABORT\",\"projectId\":\"j1-gc-integration-dev-v3\",\"abort\":{\"cause\":\"NO_SOURCE_LOCATION\",\"resourceUri\":\"projects/j1-gc-integration-dev-v3/global/networks/test-network\"}}],\"forwardTraceId\":1}]}},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/global/connectivityTests/connectivity-test-for-vpc-network\",\"source\":{\"ipAddress\":\"10.128.15.223\",\"instance\":\"projects/j1-gc-integration-dev-v3/zones/us-central1-a/instances/instance-1\",\"network\":\"projects/j1-gc-integration-dev-v3/global/networks/default\"},\"destination\":{\"ipAddres[...]
