{
  "log": {
    "_recordingName": "fetchComputeBackendServices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 533,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 190,
      },
      {
        "_id": "586b3257129d9aebecac192b13f6c04a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/zones/asia-east1-a/instanceGroups"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 388,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-300716/zones/asia-east1-a/instanceGroups\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/zones/asia-east1-a/instanceGroups\",\"kind\":\"compute#instanceGroupList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "rJZQVU6NP5MNFz_mLUTfP5-qfOE=/HTUIAVMx6ultXxa2nlVFzMxefbI="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 432,
      },
      {
        "_id": "46c36c2aff0476634aed328d8f195e95",
[...]
