{
  "log": {
    "_recordingName": "fetchIamServiceAccounts",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 552,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 32,
      },
      {
        "_id": "ae285a3383680e9553067c38cad543e2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://iam.googleapis.com/v1/projects/j1-gc-integration-dev-v3/serviceAccounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1199,
            "text": "{\"accounts\":[{\"name\":\"projects/j1-gc-integration-dev-v3/serviceAccounts/j1-gc-integration-dev-f-sa@j1-gc-integration-dev-v3.iam.gserviceaccount.com\",\"projectId\":\"j1-gc-integration-dev-v3\",\"uniqueId\":\"109173014638576490139\",\"email\":\"j1-gc-integration-dev-f-sa@j1-gc-integration-dev-v3.iam.gserviceaccount.com\",\"displayName\":\"Service account for a test Google Cloud Function\",\"etag\":\"MDEwMjE5MjA=\",\"oauth2ClientId\":\"109173014638576490139\"},{\"name\":\"projects/j1-gc-integration-dev-v3/serviceAccounts/167984947943-compute@developer.gserviceaccount.com\",\"projectId\":\"j1-gc-integration-dev-v3\",\"uniqueId\":\"108874199334173654593\",\"email\":\"167984947943-compute@developer.gserviceaccount.com\",\"displayName\":\"Compute Engine default service account\",\"etag\":\"MDEwMjE5MjA=\",\"oauth2ClientId\":\"108874199334173654593\"},{\"name\":\"projects/j1-gc-integration-dev-v3/serviceAccounts/j1-gc-integration-dev-sa-tf@j1-gc-integration-dev-v3.iam.gserviceaccount.com\",\"projectId\":\"j1-gc-integration-dev-v3\",\"uniqueId\":\"113013793384076940956\",\"email\":\"j1-gc-integration-dev-sa-tf@j1-gc-integration-dev-v3.iam.gserviceaccount.com\",\"displayName\":\"j1-gc-integration-dev-sa-tf\",\"etag\":\"MDEwMjE5MjA=\",\"description\":\"Service account for local Terraform development\",\"oauth2ClientId\":\"113013793384076940956\"},{\"name\":\"projects/j1-gc-integration-dev-v3/serviceAccounts/j1-gc-integration-dev-v3@j1-gc-integration-dev-v3.iam.gserviceaccount.com\",\"projectId\":\"j1-gc-integration-dev-v3\",\"uniqueId\":\"103268068430301189523\",\"email\":\"j1-gc-integration-dev-v3@j1-gc-integration-dev-v3.iam.gserviceaccount.com\",\"displayName\":\"j1-gc-integration-dev-v3\",\"etag\":\"MDEwMjE5MjA=\",\"description\":\"Servi[...]
