{
  "log": {
    "_recordingName": "fetchIamServiceAccounts",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 527,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 98,
      },
      {
        "_id": "f47d4e828e179b68916f4386983df34a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://iam.googleapis.com/v1/projects/j1-gc-integration-dev/serviceAccounts"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 789,
            "text": "{\"accounts\":[{\"name\":\"projects/j1-gc-integration-dev/serviceAccounts/j1-gc-integration-dev-sa@j1-gc-integration-dev.iam.gserviceaccount.com\",\"projectId\":\"j1-gc-integration-dev\",\"uniqueId\":\"116742477893551302665\",\"email\":\"j1-gc-integration-dev-sa@j1-gc-integration-dev.iam.gserviceaccount.com\",\"etag\":\"MDEwMjE5MjA=\",\"description\":\"J1 Google Cloud integration execution\",\"oauth2ClientId\":\"116742477893551302665\"},{\"name\":\"projects/j1-gc-integration-dev/serviceAccounts/j1-gc-integration-dev@appspot.gserviceaccount.com\",\"projectId\":\"j1-gc-integration-dev\",\"uniqueId\":\"117962362686380350362\",\"email\":\"j1-gc-integration-dev@appspot.gserviceaccount.com\",\"displayName\":\"App Engine default service account\",\"etag\":\"MDEwMjE5MjA=\",\"oauth2ClientId\":\"117962362686380350362\"},{\"name\":\"projects/j1-gc-integration-dev/serviceAccounts/j1-gc-integration-dev-sa-tf@j1-gc-integration-dev.iam.gserviceaccount.com\",\"projectId\":\"j1-gc-integration-dev\",\"uniqueId\":\"116674556692942636222\",\"email\":\"j1-gc-integration-dev-sa-tf@j1-gc-integration-dev.iam.gserviceaccount.com\",\"etag\":\"MDEwMjE5MjA=\",\"description\":\"J1 Google Cloud integration Terraform setup\",\"oauth2ClientId\":\"116674556692942636222\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 144,
      },
      {
        "_id": "ac7588ec939aba3c1a65282449eeaae4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://iam.googleapis.com/v1/projects/j1-gc-integration-dev/serviceAccounts/j1-gc-integration-dev-sa@j1-gc-integration-dev.iam.gserviceaccount.com/keys"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 804,
            "text": "{\"keys\":[{\"name\":\"projects/j1-gc-integration-dev/serviceAccounts/j1-gc-integration-dev-sa@j1-gc-integration-dev.iam.gserviceaccount.com/keys/de7697bdb8db9a94087fc9ded15cf9591c642f33\",\"validAfterTime\":\"2020-07-27T15:16:03Z\",\"validBeforeTime\":\"2020-08-13T15:16:03Z\",\"keyAlgorithm\":\"KEY_ALG_RSA_2048\",\"keyOrigin\":\"GOOGLE_PROVIDED\",\"keyType\":\"SYSTEM_MANAGED\"},{\"name\":\"projects/j1-gc-integration-dev/serviceAccounts/j1-gc-integration-dev-sa@j1-gc-integration-dev.iam.gserviceaccount.com/keys/15f83ab56984ab7006f3e8e7e15ebf1e290b10b9\",\"validAfterTime\":\"2020-08-05T15:16:03Z\",\"validBeforeTime\":\"2020-08-21T15:16:03Z\",\"keyAlgorithm\":\"KEY_ALG_RSA_2048\",\"keyOrigin\":\"GOOGLE_PROVIDED\",\"keyType\":\"SYSTEM_MANAGED\"},{\"name\":\"projects/j1-gc-integration-dev/serviceAccounts/j1-gc-integration-dev-sa@j1-gc-integration-dev.iam[...]
