{
  "log": {
    "_recordingName": "fetchAuthorityCertificates",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 566,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 175,
      },
      {
        "_id": "13f6c47fe7ac729ab3416f92e5668202",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://privateca.googleapis.com/v1beta1/projects/j1-gc-integration-dev-v2/locations/-/certificateAuthorities"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 9426,
            "text": "{\"certificateAuthorities\":[{\"name\":\"projects/j1-gc-integration-dev-v2/locations/us-central1/certificateAuthorities/Test-CA-Name\",\"type\":\"SELF_SIGNED\",\"tier\":\"ENTERPRISE\",\"config\":{\"subjectConfig\":{\"subject\":{\"organization\":\"Test Organization Name\"},\"commonName\":\"Test CA Name\"},\"reusableConfig\":{\"reusableConfigValues\":{\"keyUsage\":{\"baseKeyUsage\":{\"certSign\":true,\"crlSign\":true}},\"caOptions\":{\"isCa\":true,\"maxIssuerPathLength\":1}}}},\"lifetime\":\"314496000s\",\"keySpec\":{\"algorithm\":\"RSA_PKCS1_4096_SHA256\"},\"issuingOptions\":{\"includeCaCertUrl\":true,\"includeCrlAccessUrl\":true},\"pemCaCertificates\":[],\"state\":\"ENABLED\",\"caCertificateDescriptions\":[{\"subjectDescription\":{\"subject\":{\"organization\":\"Test Organization Name\"},\"commonName\":\"Test CA Name\",\"subjectAltName\":{},\"hexSerialNumber\":\"00b38cb1619dfd6a5fdc5542a97ab9bb09abab0f\",\"lifetime\":\"314496000s\",\"notBeforeTime\":\"2021-04-01T19:08:06.481768813Z\",\"notAfterTime\":\"2031-03-20T19:08:06.481768813Z\"},\"configValues\":{\"keyUsage\":{\"baseKeyUsage\":{\"certSign\":true,\"crlSign\":true}},\"caOptions\":{\"isCa\":true,\"maxIssuerPathLength\":1}},\"publicKey\":{\"type\":\"PEM_RSA_KEY\",\"key\":\"[REDACTED]\"},\"subjectKeyId\":{\"keyId\":\"f4c932216ac01039c8f3c952fab0c2f7db202315\"},\"authorityKeyId\":{\"keyId\":\"f4c932216ac01039c8f3c952fab0c2f7db202315\"},\"certFingerprint\":{\"sha256Hash\":\"f9998966e551d9000710508f33b4d50a6b2282473c913de3e5e0057391be909e\"}}],\"accessUrls\":{\"caCertificateAccessUrl\":\"http://privateca-content-605f9a85-0000-2ec7-9474-f403043ccfa8.storage.googleapis.com/f168e1beb72a7e72e8c5/ca.crt\",\"crlAccessUrl\":\"http://privateca-content-605f9a85-0000-2ec7-9474-f403043ccfa8.storage.googleapis.com/f168e1beb72a7e72e8c5/crl.crl\"},\"createTime\":\"2021-04-01T19:08:05.695936998Z\",\"updateTime\":\"2021-04-07T14:18:36.760073627Z\"},{\"name\":\"projects/j1-gc-integration-dev-v2/locations/us-central1/certificateAuthorities/acmeName\",\"type\":\"SELF_SIGNED\",\"tier\":\"ENTERPRISE\",\"config\":{\"subjectConfig\":{\"subject\":{\"organization\":\"Acme\"},\"commonName\":\"acmeName\"},\"reusableConfig\":{\"reusableConfig\":\"projects/568668481468/locations/us-central1/reusableConfigs/root-unconstrained\"}},\"lifetime\":\"314496000s\",\"keySpec\":{\"algorithm\":\"RSA_PKCS1_2048_SHA256\"},\"issuingOptions\":{\"includeCaCertUrl\":true,\"includeCrlAccessUrl\":true},\"pemCaCertificates\":[],\"state\":\"ENABLED\",\"caCertificateDescriptions\":[{\"subjectDescription\":{\"subject\":{\"organization\":\"Acme\"},\"commonName\":\"acmeName\",\"subjectAltName\":{},\"hexSerialNumber\":\"008a51de1d92de213728c7733b74700f4a684513\",\"lifetime\":\"314496000s\",\"notBeforeTime\":\"2021-04-08T14:44:07.900172684Z\",\"notAfterTime\":\"2031-03-27T14:44:07.900172684Z\"},\"configValues\":{\"keyUsage\":{\"baseKeyUsage\":{\"certSign\":true,\"crlSign\":true}},\"caOptions\":{\"isCa\":true}},\"publicKey\":{\"type\":\"PEM_RSA_KEY\",\"key\":\"[REDACTED]\"},\"subjectKeyId\":{\"keyId\":\"ec21738d89c6020cfab46e73b1a001d7fb24d34c\"},\"authorityKeyId\":{\"keyId\":\"ec21738d89c6020cfab46e73b1a001d7fb24d34c\"},\"certFingerprint\":{\"sha256Hash\":\"d7de957b8c0903c662332fc8ec4966c5dc01b7426ed778dc389aaa545a37064a\"}}],\"gcsBucket\":\"test-bucket-with-labels\",\"accessUrls\":{\"caCertificateAccessUrl\":\"http://test-bucket-with-labels.storage.googleapis.com/f1cc34b5b7e8fa026582/ca.crt\",\"crlAccessUrl\":\"http://test-bucket-with-labels.storage.googleapis.com/f1cc34b5b7e8fa026582/crl.crl\"},\"createTime\":\"2021-04-08T14:44:07.215539285Z\",\"updateTime\":\"2021-04-08T14:44:09.263990183Z\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1060,
      },
      {
        "_id": "4e9a03ab59ab6c6d63ad970c0bdeabf8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://privateca.googleapis.com/v1beta1/projects/j1-gc-integration-dev-v2/locations/us-central1/certificateAuthorities/Test-CA-Name:getIamPolicy"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 337,
            "text": "{\"version\":1,\"etag\":\"BwW/YptMiiU=\",\"bindings\":[{\"role\":\"roles/privateca.auditor\",\"members\":[\"user:viragsf@gmail.com\"]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 798,
      },
      {
        "_id": "40b16c3acef970d1d90875186322eed4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
        [...]
