{
  "log": {
    "_recordingName": "fetchComputeImages",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 625,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 131,
      },
      {
        "_id": "2c1317b96a6c368e013ab1dbb0825a1d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/images"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 2586,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v3/global/images\",\"items\":[{\"id\":\"3455131146476105975\",\"creationTimestamp\":\"2021-05-31T09:26:00.641-07:00\",\"name\":\"example-disk-image\",\"sourceType\":\"RAW\",\"status\":\"READY\",\"archiveSizeBytes\":\"677588608\",\"diskSizeGb\":\"10\",\"sourceDisk\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/zones/us-central1-a/disks/example-disk\",\"sourceDiskId\":\"7109116204666106089\",\"licenses\":[\"https://www.googleapis.com/compute/v1/projects/debian-cloud/global/licenses/debian-9-stretch\"],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/images/example-disk-image\",\"labelFingerprint\":\"42WmSpB8rSM=\",\"guestOsFeatures\":[{\"type\":\"VIRTIO_SCSI_MULTIQUEUE\"}],\"licenseCodes\":[\"1000205\"],\"storageLocations\":[\"us\"],\"kind\":\"compute#image\"},{\"id\":\"6763584320471347416\",\"creationTimestamp\":\"2021-05-31T09:26:31.988-07:00\",\"name\":\"example-snapshot-image\",\"sourceType\":\"RAW\",\"status\":\"READY\",\"archiveSizeBytes\":\"677588608\",\"diskSizeGb\":\"10\",\"licenses\":[\"https://www.googleapis.com/compute/v1/projects/debian-cloud/global/licenses/debian-9-stretch\"],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/images/example-snapshot-image\",\"labelFingerprint\":\"42WmSpB8rSM=\",\"guestOsFeatures\":[{\"type\":\"VIRTIO_SCSI_MULTIQUEUE\"}],\"licenseCodes\":[\"1000205\"],\"sourceSnapshot\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/snapshots/example-snapshot\",\"sourceSnapshotId\":\"5395528080101519607\",\"storageLocations\":[\"us\"],\"kind\":\"compute#image\"},{\"id\":\"3789291615144376198\",\"creationTimestamp\":\"2021-11-30T07:55:21.660-08:00\",\"name\":\"example-source-image\",\"sourceType\":\"RAW\",\"status\":\"READY\",\"archiveSizeBytes\":\"724270016\",\"diskSizeGb\":\"10\",\"licenses\":[\"https://www.googleapis.com/compute/v1/projects/debian-cloud/global/licenses/debian-9-stretch\"],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/images/example-source-image\",\"labelFingerprint\":\"42WmSpB8rSM=\",\"guestOsFeatures\":[{\"type\":\"VIRTIO_SCSI_MULTIQUEUE\"}],\"licenseCodes\":[\"1000205\"],\"sourceImage\":\"https://www.googleapis.com/compute/v1/projects/debian-cloud/global/images/debian-9-stretch-v20211105\",\"sourceImageId\":\"65379932417155602\",\"storageLocations\":[\"us\"],\"kind\":\"compute#image\"},{\"id\":\"1190666273104526959\",\"creationTimestamp\":\"2021-06-11T03:52:48.626-07:00\",\"name\":\"image-1\",\"sourceType\":\"RAW\",\"status\":\"READY\",\"archiveSizeBytes\":\"400770432\",\"diskSizeGb\":\"10\",\"sourceDisk\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/zones/us-central1-a/disks/j1-test\",\"sourceDiskId\":\"1753296839872774204\",\"licenses\":[\"https://www.googleapis.com/compute/v1/projects/debian-cloud/global/licenses/debian-10-buster\"],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/images/image-1\",\"labelFingerprint\":\"42WmSpB8rSM=\",\"guestOsFeatures\":[{\"type\":\"UEFI_COMPATIBLE\"},{\"type\":\"VIRTIO_SCSI_MULTIQUEUE\"}],\"licenseCodes\":[\"5543610867827062957\"],\"storageLocations\":[\"us\"],\"kind\":\"compute#image\"},{\"id\":\"7233253107557138230\",\"creationTimestamp\":\"2021-06-11T03:58:33.517-07:00\",\"name\":\"j1-image2\",\"sourceType\":\"RAW\",\"status\":\"READY\",\"archiveSizeBytes\":\"400770432\",\"diskSizeGb\":\"10\",\"licenses\":[\"https://www.googleapis.com/compute/v1/projects/debian-cloud/global/licenses/debian-10-buster\"],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/images/j1-image2\",\"labels\":{\"copiedimage\":\"1\"},\"labelFingerprint\":\"ZK_kFCMOrH8=\",\"guestOsFeatures\":[{\"type\":\"UEFI_COMPATIBLE\"},{\"type\":\"VIRTIO_SCSI_MULTIQUEUE\"}],\"licenseCodes\":[\"5543610867827062957\"],\"sourceImage\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/images/image-1\",\"sourceImageId\":\"1190666273104526959\",\"storageLocations\":[\"us\"],\"kind\":\"compute#image\"},{\"id\":\"282817071286254677\",\"creationTimestamp\":\"2021-06-11T04:02:18.774-07:00\",\"name\":\"j1-image3\",\"description\":\"From j1-snapshot\",\"sourceType\":\"RAW\",\"status\":\"READY\",\"archiveSizeBytes\":\"400801216\",\"diskSizeGb\":\"10\",\"licenses\":[\"https://www.googleapis.com/compute/v1/projects/debian-cloud/global/licenses/debian-10-buster\"],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/images/j1-image3\",\"labelFingerprint\":\"42WmSpB8rSM=\",\"guestOsFeatures\":[{\"type\":\"UEFI_COMPATIBLE\"},{\"type\":\"VIRTIO_SCSI_MULTIQUEUE\"}],\"licenseCodes\":[\"5543610867827062957\"],\"sourceSnapshot\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/snapshots/j1-snapshot\",\"sourceSnapshotId\":\"3150235893494643858\",\"storageLocations\":[\"us\"],\"kind\":\"compute#image\"},{\"id\":\"6275731672625482372\",\"creationTimestamp\":\"2022-03-14T05:26:21.465-07:00\",\"name\":\"kms-image-example\",\"sourceType\":\"RAW\",\"status\":\"READY\",\"archiveSizeBytes\":\"677588608\",\"diskSizeGb\":\"10\",\"licenses\":[\"https://www.googleapis.com/compute/v1/projects/debian-cloud/global/licenses/debian-9-stretch\"],\"imageEncryptionKey\":{\"kmsKeyName\":\"projects/j1-gc-integration-dev-v3/locations/us/keyRings/example-keyring/cryptoKeys/cmek_bigquery_crypto_key/cryptoKeyVersions/1\"},\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/images/kms-image-example\",\"labelFingerprint\":\"42WmSpB8rSM=\",\"guestOsFeatures\":[{\"type\":\"VIRTIO_SCSI_MULTIQUEUE\"}],\"licenseCodes\":[\"1000205\"],\"sourceImage\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/images/example-disk-[...]
