{
  "log": {
    "_recordingName": "build-cloud-function-storage-bucket-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 398,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 159,
      },
      {
        "_id": "bcff475f691147ea18d4b1c0f20e74e4",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloudfunctions.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/-/functions"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1403,
            "text": "{\"functions\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/functions/function-1\",\"sourceRepository\":{\"url\":\"https://source.developers.google.com/projects/j1-gc-integration-dev-v3/repos/nacho/moveable-aliases/master/paths/\",\"deployedUrl\":\"https://source.developers.google.com/projects/j1-gc-integration-dev-v3/repos/nacho/revisions//paths/\"},\"httpsTrigger\":{\"url\":\"https://us-central1-j1-gc-integration-dev-v3.cloudfunctions.net/function-1\",\"securityLevel\":\"SECURE_ALWAYS\"},\"status\":\"UNKNOWN\",\"entryPoint\":\"helloWorld\",\"timeout\":\"60s\",\"availableMemoryMb\":256,\"serviceAccountEmail\":\"j1-gc-integration-dev-v3@appspot.gserviceaccount.com\",\"updateTime\":\"2022-11-01T19:38:17.683Z\",\"versionId\":\"1\",\"labels\":{\"deployment-tool\":\"console-cloud\"},\"runtime\":\"nodejs16\",\"maxInstances\":3000,\"ingressSettings\":\"ALLOW_ALL\",\"dockerRegistry\":\"CONTAINER_REGISTRY\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/functions/gaston-delete\",\"sourceRepository\":{\"url\":\"https://source.developers.google.com/projects/j1-gc-integration-dev-v3/repos/gaston/moveable-aliases/master/paths/\",\"deployedUrl\":\"https://source.developers.google.com/projects/j1-gc-integration-dev-v3/repos/gaston/revisions//paths/\"},\"httpsTrigger\":{\"url\":\"https://us-central1-j1-gc-integration-dev-v3.cloudfunctions.net/gaston-delete\",\"securityLevel\":\"SECURE_ALWAYS\"},\"status\":\"UNKNOWN\",\"entryPoint\":\"helloWorld\",\"timeout\":\"60s\",\"availableMemoryMb\":256,\"serviceAccountEmail\":\"j1-gc-integration-dev-v3@appspot.gserviceaccount.com\",\"updateTime\":\"2022-10-31T12:04:14.816Z\",\"versionId\":\"1\",\"labels\":{\"deployment-tool\":\"console-cloud\"},\"runtime\":\"nodejs16\",\"maxInstances\":3000,\"ingressSettings\":\"ALLOW_ALL\",\"dockerRegistry\":\"CONTAINER_REGISTRY\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/functions/gaston-delete-2\",\"sourceArchiveUrl\":\"gs://gaston-delete/carpeta sin título.zip\",\"httpsTrigger\":{\"url\":\"https://us-central1-j1-gc-integration-dev-v3.cloudfunctions.net/gaston-delete-2\",\"securityLevel\":\"SECURE_ALWAYS\"},\"status\":\"OFFLINE\",\"entryPoint\":\"helloWorld\",\"timeout\":\"60s\",\"availableMemoryMb\":256,\"serviceAccountEmail\":\"j1-gc-integration-dev-v3@appspot.gserviceaccount.com\",\"updateTime\":\"2022-11-04T13:15:28.330Z\",\"versionId\":\"1\",\"labels\":{\"deployment-tool\":\"console-cloud\"},\"runtime\":\"nodejs16\",\"maxInstances\":3000,\"ingressSettings\":\"ALLOW_ALL\",\"buildId\":\"e7790f72-962e-4bef-aac1-3f49efe41066\",\"buildName\":\"projects/167984947943/locations/us-central1/builds/e7790f72-962e-4bef-aac1-3f49efe41066\",\"dockerRegistry\":\"CONTAINER_REGISTRY\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/functions/j1-gc-integration-dev-v3testfunction\",\"description\":\"Test function\",\"sourceArchiveUrl\":\"gs://j1-gc-integration-dev-v3cloudfunctions/http_trigger.zip\",\"httpsTrigger\":{\"url\":\"https://us-central1-j1-gc-integration-dev-v3.cloudfunctions.net/j1-gc-integration-dev-v3testfunction\",\"securityLevel\":\"SECURE_OPTIONAL\"},\"status\":\"ACTIVE\",\"entryPoint\":\"handler\",\"timeout\":\"60s\",\"availableMemoryMb\":128,\"serviceAccountEmail\":\"j1-gc-integration-dev-v3@appspot.gserviceaccount.com\",\"updateTime\":\"2021-05-31T16:36:15.024Z\",\"versionId\":\"1\",\"environmentVariables\":{\"TEST_ENV_VAR\":\"test-env-var-val\"},\"runtime\":\"nodejs10\",\"ingressSettings\":\"ALLOW_ALL\",\"buildId\":\"468a40b5-ba13-41aa-84d8-0ffb43a9c153\",\"buildName\":\"projects/167984947943/locations/us-central1/builds/468a40b5-ba13-41aa-84d8-0ffb43a9c153\",\"dockerRegistry\":\"CONTAINER_REGISTRY\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/functions/j1-gc-integration-dev-v3testfunctionwithsa\",\"description\":\"Test function with service account\",\"sourceArchiveUrl\":\"gs://j1-gc-integ[...]
