{
  "log": {
    "_recordingName": "setupOrganizationWithOrgParam",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "d4cf94270045ed0b77f6751b4cd503c1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "parent.id=158838481165 AND lifecycleState=ACTIVE"
            }
          ],
          "url": "https://cloudresourcemanager.googleapis.com/v1/projects?filter=parent.id%3D158838481165%20AND%20lifecycleState%3DACTIVE"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1626,
            "text": "{\"projects\":[{\"projectNumber\":\"962543157918\",\"projectId\":\"inductive-voice-303719\",\"lifecycleState\":\"ACTIVE\",\"name\":\"My First Project\",\"createTime\":\"2021-02-03T19:09:28.732Z\",\"parent\":{\"type\":\"organization\",\"id\":\"158838481165\"}},{\"projectNumber\":\"108350668293\",\"projectId\":\"helical-cascade-303723\",\"lifecycleState\":\"ACTIVE\",\"name\":\"My First Project\",\"createTime\":\"2021-02-02T23:18:19.205Z\",\"parent\":{\"type\":\"organization\",\"id\":\"158838481165\"}},{\"projectNumber\":\"1047363411833\",\"projectId\":\"prismatic-sunup-303723\",\"lifecycleState\":\"ACTIVE\",\"name\":\"My First Project\",\"createTime\":\"2021-02-02T23:15:11.817Z\",\"parent\":{\"type\":\"organization\",\"id\":\"1588384[...]
