{
  "log": {
    "_recordingName": "setupOrganizationWithOrgParam",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "d4cf94270045ed0b77f6751b4cd503c1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "filter",
              "value": "parent.id=158838481165 AND lifecycleState=ACTIVE"
            }
          ],
          "url": "https://cloudresourcemanager.googleapis.com/v1/projects?filter=parent.id%3D158838481165%20AND%20lifecycleState%3DACTIVE"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1210,
            "text": "{\"projects\":[{\"projectNumber\":\"313775843941\",\"projectId\":\"adams-project-290314\",\"lifecycleState\":\"ACTIVE\",\"name\":\"Adam's Project\",\"createTime\":\"2020-09-22T14:13:17.675Z\",\"parent\":{\"type\":\"organization\",\"id\":\"158838481165\"}},{\"projectNumber\":\"924437295854\",\"projectId\":\"delta-heading-286117\",\"lifecycleState\":\"ACTIVE\",\"name\":\"My First Project\",\"createTime\":\"2020-08-11T17:00:41.931Z\",\"parent\":{\"type\":\"organization\",\"id\":\"158838481165\"}},{\"projectNumber\":\"584929648109\",\"projectId\":\"wp-login-285520\",\"lifecycleState\":\"ACTIVE\",\"name\":\"wp-login\",\"createTime\":\"2020-08-05T20:45:29.811Z\",\"parent\":{\"type\":\"organization\",\"id\":\"158838481165\"}},{\"proje[...]
