{
  "log": {
    "_recordingName": "fetchSpannerInstanceDatabases",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 535,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 201,
      },
      {
        "_id": "20655d4a841323629145c058b8f350f5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://spanner.googleapis.com/v1/projects/j1-gc-integration-dev-v2/instances"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 482,
            "text": "{\"instances\":[{\"name\":\"projects/j1-gc-integration-dev-v2/instances/example-spanner-instance\",\"config\":\"projects/j1-gc-integration-dev-v2/instanceConfigs/regional-us-central1\",\"displayName\":\"Example Spanner Instance\",\"nodeCount\":2,\"state\":\"READY\",\"labels\":{\"foo\":\"bar\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 476,
      },
      {
        "_id": "e928e678dd1219b03d16db670b0bd990",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "POST",
          "queryString": [],
          "url": "https://spanner.googleapis.com/v1/projects/j1-gc-integration-dev-v2/instances/example-spanner-instance:getIamPolicy"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 380,
            "text": "{\"version\":1,\"etag\":\"BwW+xmZMv3Y=\",\"bindings\":[{\"role\":\"roles/spanner.databaseReader\",\"members\":[\"serviceAccount:j1-gc-integration-dev-v2-tf@j1-gc-integration-dev-v2.iam.gserviceaccount.com\"]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 646,
      },
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              [...]
