{
  "log": {
    "_recordingName": "fetchCloudFunctions",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 555,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 96,
      },
      {
        "_id": "90e1a2fd92b0f0603e92ce1b6284b74d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloudfunctions.googleapis.com/v1/projects/j1-gc-integration-dev/locations/-/functions"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 869,
            "text": "{\"functions\":[{\"name\":\"projects/j1-gc-integration-dev/locations/us-central1/functions/j1-gc-integration-devtestfunction\",\"description\":\"Test function\",\"sourceArchiveUrl\":\"gs://j1-gc-integration-devcloudfunctions/http_trigger.zip\",\"httpsTrigger\":{\"url\":\"https://us-central1-j1-gc-integration-dev.cloudfunctions.net/j1-gc-integration-devtestfunction\"},\"status\":\"ACTIVE\",\"entryPoint\":\"handler\",\"timeout\":\"60s\",\"availableMemoryMb\":128,\"serviceAccountEmail\":\"j1-gc-integration-dev@appspot.gserviceaccount.com\",\"updateTime\":\"2020-07-28T18:35:52.821Z\",\"versionId\":\"1\",\"environmentVariables\":{\"TEST_ENV_VAR\":\"test-env-var-val\"},\"runtime\":\"nodejs10\",\"ingressSettings\":\"ALLOW_ALL\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 372,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
