{
  "log": {
    "_recordingName": "fetchBigQueryTables",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 595,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 165,
      },
      {
        "_id": "659a6ecf5f574a2f95e43e5441f9805f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://bigquery.googleapis.com/bigquery/v2/projects/j1-gc-integration-dev-v3/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 591,
            "text": "{\"kind\":\"bigquery#datasetList\",\"etag\":\"nwGZDGePfb7xz8MC8+MgKQ==\",\"datasets\":[{\"kind\":\"bigquery#dataset\",\"id\":\"j1-gc-integration-dev-v3:cmed_example_dataset\",\"datasetReference\":{\"datasetId\":\"cmed_example_dataset\",\"projectId\":\"j1-gc-integration-dev-v3\"},\"friendlyName\":\"cmed_example_dataset\",\"location\":\"US\"},{\"kind\":\"bigquery#dataset\",\"id\":\"j1-gc-integration-dev-v3:natality\",\"datasetReference\":{\"datasetId\":\"natality\",\"projectId\":\"j1-gc-integration-dev-v3\"},\"location\":\"US\"},{\"kind\":\"bigquery#dataset\",\"id\":\"j1-gc-integration-dev-v3:test_big_query_dataset\",\"datasetReference\":{\"datasetId\":\"test_big_query_dataset\",\"projectId\":\"j1-gc-integration-dev-v3\"},\"location\":\"US\"}]}"
          },
          "headers": [
            {
              "name": "etag",
 [...]
