{
  "log": {
    "_recordingName": "fetch-policy-intelligence-analyzer-has-policy-intelligence-analyzer-activity-relation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1191,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1168,
      },
      {
        "_id": "ec928d51a163fb1873237410f02315dc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://policyanalyzer.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/asia-east1/activityTypes/serviceAccountLastAuthentication/activities:query"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 3076,
            "text": "{\"activities\":[{\"fullResourceName\":\"//iam.googleapis.com/projects/j1-gc-integration-dev-v3/serviceAccounts/sfc-cloudconnector@j1-gc-integration-dev-v3.iam.gserviceaccount.com\",\"activityType\":\"serviceAccountLastAuthentication\",\"observationPeriod\":{\"startTime\":\"2022-08-29T07:00:00Z\",\"endTime\":\"2024-06-07T07:00:00Z\"},\"activity\":{\"lastAuthenticatedTime\":\"2024-06-07T07:00:00Z\",\"serviceAccount\":{\"serviceAccountId\":\"118429662045978373100\",\"projectNumber\":\"167984947943\",\"fullResourceName\":\"//iam.googleapis.com/projects/j1-gc-integration-dev-v3/serviceAccounts/sfc-cloudconnector@j1-gc-integration-dev-v3.iam.gserviceaccount.com\"}}},{\"fullResourceName\":\"//iam.googleapis.com/projects/j1-gc-integration-dev-v3/serviceAccounts/datadog-sa@j1-gc-integration-dev-v3.iam.gserviceaccount.com\",\"activityType\":\"serviceAccountLastAuthentication\",\"observationPeriod\":{\"startTime\":\"2021-12-28T08:00:00Z\",\"endTime\":\"2024-06-07T07:00:00Z\"},\"act[...]
