{
  "log": {
    "_recordingName": "fetchBigQueryDatasets:serviceApiDisabled",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 583,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 260,
      },
      {
        "_id": "7dabf3cb48ddc65ebcd75558b6692bde",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://bigquery.googleapis.com/bigquery/v2/projects/jupiter-dev-326616/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 447,
            "text": "{\"error\":{\"code\":400,\"message\":\"The project jupiter-dev-326616 has not enabled BigQuery.\",\"errors\":[{\"message\":\"The project jupiter-dev-326616 has not enabled BigQuery.\",\"domain\":\"global\",\"reason\":\"invalid\"}],\"status\":\"INVALID_ARGUMENT\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 400,
          "statusText": "Bad Request"
        },
        "time": 263,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
