{
  "log": {
    "_recordingName": "fetchComputeTargetHttpsProxies",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 552,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 200,
      },
      {
        "_id": "d5e5d352edf3156da1db2c2d35c5e5c5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/urlMaps"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1118,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-300716/global/urlMaps\",\"items\":[{\"id\":\"7884251075960802659\",\"creationTimestamp\":\"2021-01-25T13:09:32.355-08:00\",\"name\":\"example-http-load-balancer\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/urlMaps/example-http-load-balancer\",\"hostRules\":[{\"hosts\":[\"web.test.com\"],\"pathMatcher\":\"path-matcher-1\"},{\"hosts\":[\"web2.test.com\"],\"pathMatcher\":\"path-matcher-2\"},{\"hosts\":[\"another.test.com\"],\"pathMatcher\":\"path-matcher-3\"}],\"pathMatchers\":[{\"name\":\"path-matcher-1\",\"defaultService\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/backendServices/example-backend-service\",\"pathRules\":[{\"service\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/backendBuckets/example-backend-bucket\",\"paths\":[\"/images/*\"]}]},{\"name\":\"path-matcher-2\",\"defaultService\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/backendServices/example-backend-service-2\"},{\"name\":\"path-matcher-3\",\"defaultService\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/backendBuckets/example-backend-bucket\"}],\"defaultService\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/backendServices/example-backend-service\",\"fingerprint\":\"7VTPVZHiF8k=\",\"kind\":\"compute#urlMap\"},{\"id\":\"5307034449390727314\",\"creationTimestamp\":\"2021-02-04T11:43:57.410-08:00\",\"name\":\"example-http-loadbalancer\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/urlMaps/example-http-loadbalancer\",\"defaultService\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/backendBuckets/example-backend-bucket\",\"fingerprint\":\"S9wLDmNzl1U=\",\"kind\":\"compute#urlMap\"}],\"selfLink\"[...]
