{
  "log": {
    "_recordingName": "fetchComputeTargetHttpsProxies",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 590,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 212,
      },
      {
        "_id": "01a4138265e91c8ce5e1247578d7dab8",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/urlMaps"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 804,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v2/global/urlMaps\",\"items\":[{\"id\":\"8918159419045319129\",\"creationTimestamp\":\"2021-02-17T16:05:10.771-08:00\",\"name\":\"load-balancer-url-map\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/urlMaps/load-balancer-url-map\",\"hostRules\":[{\"hosts\":[\"*\"],\"pathMatcher\":\"tf-allpaths\"}],\"pathMatchers\":[{\"name\":\"tf-allpaths\",\"defaultService\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/backendServices/load-balancer-www-service\"}],\"defaultService\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/backendServices/load-balancer-www-service\",\"fingerprint\":\"IK_BAfaQd2I=\",\"kind\":\"compute#urlMap\"}],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/urlMaps\",\"kind\":\"compute#urlMapList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "CWqPPmHSeB4V8I-FW2sYAC4gra0=/P6EqJrzi6a35EfuKOU3PcdModlQ="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
  [...]
