{
  "log": {
    "_recordingName": "fetchComputeTargetHttpsProxies",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 575,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 157,
      },
      {
        "_id": "31875892cac67393a7354b5997df2f84",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/urlMaps"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1106,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v3/global/urlMaps\",\"items\":[{\"id\":\"2472866744290055616\",\"creationTimestamp\":\"2021-07-06T12:12:47.865-07:00\",\"name\":\"global-forwarding-rule-example-load-balancer\",\"description\":\"a description\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/urlMaps/global-forwarding-rule-example-load-balancer\",\"hostRules\":[{\"hosts\":[\"mysite.com\"],\"pathMatcher\":\"allpaths\"}],\"pathMatchers\":[{\"name\":\"allpaths\",\"defaultService\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/backendServices/load-balancer-www-service\",\"pathRules\":[{\"service\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/backendServices/load-balancer-www-service\",\"paths\":[\"/*\"]}]}],\"defaultService\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/backendServices/load-balancer-www-service\",\"fingerprint\":\"AbzEabmNm84=\",\"kind\":\"compute#urlMap\"},{\"id\":\"6483396429495185574\",\"creationTimestamp\":\"2021-05-31T09:26:49.957-07:00\",\"name\":\"load-balancer-url-map\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/urlMaps/load-balancer-url-map\",\"hostRules\":[{\"hosts\":[\"*\"],\"pathMatcher\":\"tf-allpaths\"}],\"pathMatchers\":[{\"name\":\"tf-allpaths\",\"defaultService\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/backendServices/loa[...]
