{
  "log": {
    "_recordingName": "fetchIamRoles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 584,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 178,
      },
      {
        "_id": "e50bb8957e55e01c8a08acaa6afad377",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "parent",
              "value": "projects/j1-gc-integration-dev-v2"
            },
            {
              "name": "view",
              "value": "FULL"
            },
            {
              "name": "showDeleted",
              "value": "true"
            }
          ],
          "url": "https://iam.googleapis.com/v1/roles?parent=projects%2Fj1-gc-integration-dev-v2&view=FULL&showDeleted=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 774,
            "text": "{\"roles\":[{\"name\":\"projects/j1-gc-integration-dev-v2/roles/711888229551customrole\",\"title\":\"GA custom role\",\"description\":\"My description\",\"includedPermissions\":[\"cloudfunctions.functions.get\",\"cloudfunctions.functions.getIamPolicy\"],\"stage\":\"GA\",\"etag\":\"BwW7kRQiqpY=\"},{\"name\":\"projects/j1-gc-integration-dev-v2/roles/711888229551customroleconditions\",\"title\":\"GA custom role conditions\",\"description\":\"My description\",\"includedPermissions\":[\"cloudfunctions.functions.list\"],\"stage\":\"GA\",\"etag\":\"BwW7kRPu2Mo=\"},{\"name\":\"projects/j1-gc-integration-dev-v2/roles/711888229551extendedrole\",\"title\":\"Security Reviewer Extender Role\",\"description\":\"A role that adds necessary permissions for the integration that aren't granted via Security Reviewer role\",\"includedPermissions\":[\"compute.projects.get\",\"resourcemanager.projects.get\"],\"stage\":\"GA\",\"etag\":\"BwW7sHc2ASY=\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1342,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
