{
  "log": {
    "_recordingName": "fetchIamRoles",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 544,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 131,
      },
      {
        "_id": "63182d0967a0fe1c97e5a58a91792a8c",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "parent",
              "value": "projects/j1-gc-integration-dev"
            },
            {
              "name": "view",
              "value": "FULL"
            },
            {
              "name": "showDeleted",
              "value": "true"
            }
          ],
          "url": "https://iam.googleapis.com/v1/roles?parent=projects%2Fj1-gc-integration-dev&view=FULL&showDeleted=true"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 524,
            "text": "{\"roles\":[{\"name\":\"projects/j1-gc-integration-dev/roles/545240943112customrole\",\"title\":\"GA custom role\",\"description\":\"My description\",\"includedPermissions\":[\"cloudfunctions.functions.get\",\"cloudfunctions.functions.getIamPolicy\"],\"stage\":\"GA\",\"etag\":\"BwWsEa2N+wo=\"},{\"name\":\"projects/j1-gc-integration-dev/roles/545240943112customroleconditions\",\"title\":\"GA custom role conditions\",\"description\":\"My description\",\"includedPermissions\":[\"cloudfunctions.functions.list\"],\"stage\":\"GA\",\"etag\":\"BwWsi7nEaus=\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 421,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
