{
  "log": {
    "_recordingName": "fetchComputeRegionTargetHttpsProxies",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 536,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 207,
      },
      {
        "_id": "50b89077863772c17bf70df77767e430",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/asia-east1/urlMaps"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 369,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v3/regions/asia-east1/urlMaps\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/asia-east1/urlMaps\",\"kind\":\"compute#urlMapList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "dUuLbcXf0FGEwgDfIVeOG2O7w4I=/b7pHgPrY3KVtVdnwffhciaDXDWk="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 375,
      },
      {
        "_id": "b9fc5da10de8ccc1e80e9ed97100b846",
       [...]
