{
  "log": {
    "_recordingName": "fetchCloudInterconnect",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1232,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 480,
      },
      {
        "_id": "b04173bc1d7878a74829b8a744e1e883",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/interconnects"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 889,
            "text": "{\"kind\":\"compute#interconnectList\",\"id\":\"projects/j1-gc-integration-dev-v3/global/interconnects\",\"items\":[{\"kind\":\"compute#interconnect\",\"description\":\"Example Compute Cloud Interconnect\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/interconnects/demo-interconnect\",\"id\":\"3602008363502330906\",\"creationTimestamp\":\"2024-04-22T23:53:41.482-07:00\",\"name\":\"demo-interconnect\",\"location\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/interconnectLocations/akl-zone1-1353\",\"linkType\":\"LINK_TYPE_ETHERNET_10G_LR\",\"requestedLinkCount\":1,\"interconnectType\":\"IT_PRIVATE\",\"adminEnabled\":true,\"customerName\":\"demo-customer\",\"operationalStatus\":\"OS_UNPROVISIONED\",\"provisionedLinkCount\":1,\"googleReferenceId\":\"1134185888\",\"circuitInfos\":[{\"googleCircuitId\":\"GCP-00008\",\"googleDemarcId\":\"VOCUS:MMR-A: Ground 7A, Frontcomms, Cab FC4, PP-HAAA12, RU21-24 FP3 Fibers 63,64 - LC\",\"customerDemarcId\":\"\"}],\"labelFingerprint\":\"42WmSpB8rSM=\",\"state\":\"UNPROVISIONED\",\"macsecEnabled\":false}],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/interconnects\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "7Bxeg5dRphoCETilL35RFENq-po=/epSc9tcCBT_q7ICxGukBey4Q-n4="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 627,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
