{
  "log": {
    "_recordingName": "fetchCloudStorageBuckets",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 534,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 119,
      },
      {
        "_id": "d5eb0043e452c8ed843faf197fad0da1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "project",
              "value": "j1-gc-integration-dev"
            }
          ],
          "url": "https://storage.googleapis.com/storage/v1/b?project=j1-gc-integration-dev"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 2417,
            "text": "{\n  \"kind\": \"storage#buckets\",\n  \"items\": [\n    {\n      \"kind\": \"storage#bucket\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/customer-managed-encryption-key-bucket-545240943112\",\n      \"id\": \"customer-managed-encryption-key-bucket-545240943112\",\n      \"name\": \"customer-managed-encryption-key-bucket-545240943112\",\n      \"projectNumber\": \"545240943112\",\n      \"metageneration\": \"1\",\n      \"location\": \"US\",\n      \"storageClass\": \"STANDARD\",\n      \"etag\": \"CAE=\",\n      \"timeCreated\": \"2020-07-28T19:06:14.033Z\",\n      \"updated\": \"2020-07-28T19:06:14.033Z\",\n      \"encryption\": {\n        \"defaultKmsKeyName\": \"projects/j1-gc-integration-dev/locations/us/keyRings/j1-gc-integration-dev-bucket-ring/cryptoKeys/j1-gc-integration-dev-bucket-key\"\n      },\n      \"iamConfiguration\": {\n        \"bucketPolicyOnly\": {\n          \"enabled\": false\n        },\n        \"uniformBucketLevelAccess\": {\n          \"enabled\": false\n        }\n      },\n      \"locationType\": \"multi-region\"\n    },\n    {\n      \"kind\": \"storage#bucket\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/j1-gc-integration-devcloudfunctions\",\n      \"id\": \"j1-gc-integration-devcloudfunctions\",\n      \"name\": \"j1-gc-integration-devcloudfunctions\",\n      \"projectNumber\": \"545240943112\",\n      \"metageneration\": \"1\",\n      \"location\": \"US\",\n      \"storageClass\": \"STANDARD\",\n      \"etag\": \"CAE=\",\n      \"timeCreated\": \"2020-07-28T18:3[...]
