{
  "log": {
    "_recordingName": "fetch-memorystore-redis-location",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1239,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 349,
      },
      {
        "_id": "ab79e5b2799616e7fe616999db195ba3",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://redis.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1358,
            "text": "{\"locations\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/africa-south1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"africa-south1-a\":{},\"africa-south1-b\":{},\"africa-south1-c\":{}}},\"locationId\":\"africa-south1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-east1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"asia-east1-a\":{},\"asia-east1-b\":{},\"asia-east1-c\":{}}},\"locationId\":\"asia-east1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-east2\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"asia-east2-a\":{},\"asia-east2-b\":{},\"asia-east2-c\":{}}},\"locationId\":\"asia-east2\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-northeast1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"asia-northeast1-a\":{},\"asia-northeast1-b\":{},\"asia-northeast1-c\":{}}},\"locationId\":\"asia-northeast1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-northeast2\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"asia-northeast2-a\":{},\"asia-northeast2-b\":{},\"asia-northeast2-c\":{}}},\"locationId\":\"asia-northeast2\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-northeast3\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"asia-northeast3-a\":{},\"asia-northeast3-b\":{},\"asia-northeast3-c\":{}}},\"locationId\":\"asia-northeast3\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-south1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"asia-south1-a\":{},\"asia-south1-b\":{},\"asia-south1-c\":{}}},\"locationId\":\"asia-south1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-south2\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"asia-south2-a\":{},\"asia-south2-b\":{},\"asia-south2-c\":{}}},\"locationId\":\"asia-south2\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-southeast1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"asia-southeast1-a\":{},\"asia-southeast1-b\":{},\"asia-southeast1-c\":{}}},\"locationId\":\"asia-southeast1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-southeast2\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"asia-southeast2-a\":{},\"asia-southeast2-b\":{},\"asia-southeast2-c\":{}}},\"locationId\":\"asia-southeast2\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/australia-southeast1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"australia-southeast1-a\":{},\"australia-southeast1-b\":{},\"australia-southeast1-c\":{}}},\"locationId\":\"australia-southeast1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/australia-southeast2\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"australia-southeast2-a\":{},\"australia-southeast2-b\":{},\"australia-southeast2-c\":{}}},\"locationId\":\"australia-southeast2\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/europe-central2\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"europe-central2-a\":{},\"europe-central2-b\":{},\"europe-central2-c\":{}}},\"locationId\":\"europe-central2\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/europe-north1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"europe-north1-a\":{},\"europe-north1-b\":{},\"europe-north1-c\":{}}},\"locationId\":\"europe-north1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/europe-southwest1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"europe-southwest1-a\":{},\"europe-southwest1-b\":{},\"europe-southwest1-c\":{}}},\"locationId\":\"europe-southwest1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/europe-west1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"europe-west1-b\":{},\"europe-west1-c\":{},\"europe-west1-d\":{}}},\"locationId\":\"europe-west1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/europe-west10\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"europe-west10-a\":{},\"europe-west10-b\":{},\"europe-west10-c\":{}}},\"locationId\":\"europe-west10\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/europe-west12\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"europe-west12-a\":{},\"europe-west12-b\":{},\"europe-west12-c\":{}}},\"locationId\":\"europe-west12\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/europe-west2\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"europe-west2-a\":{},\"europe-west2-b\":{},\"europe-west2-c\":{}}},\"locationId\":\"europe-west2\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/europe-west3\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"europe-west3-a\":{},\"europe-west3-b\":{},\"europe-west3-c\":{}}},\"locationId\":\"europe-west3\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/europe-west4\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"europe-west4-a\":{},\"europe-west4-b\":{},\"europe-west4-c\":{}}},\"locationId\":\"europe-west4\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/europe-west6\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"europe-west6-a\":{},\"europe-west6-b\":{},\"europe-west6-c\":{}}},\"locationId\":\"europe-west6\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/europe-west8\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"europe-west8-a\":{},\"europe-west8-b\":{},\"europe-west8-c\":{}}},\"locationId\":\"europe-west8\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/europe-west9\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"europe-west9-a\":{},\"europe-west9-b\":{},\"europe-west9-c\":{}}},\"locationId\":\"europe-west9\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/me-central1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"me-central1-a\":{},\"me-central1-b\":{},\"me-central1-c\":{}}},\"locationId\":\"me-central1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/me-central2\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"me-central2-a\":{},\"me-central2-b\":{},\"me-central2-c\":{}}},\"locationId\":\"me-central2\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/me-west1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"me-west1-a\":{},\"me-west1-b\":{},\"me-west1-c\":{}}},\"locationId\":\"me-west1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/northamerica-northeast1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"northamerica-northeast1-a\":{},\"northamerica-northeast1-b\":{},\"northamerica-northeast1-c\":{}}},\"locationId\":\"northamerica-northeast1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/northamerica-northeast2\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"northamerica-northeast2-a\":{},\"northamerica-northeast2-b\":{},\"northamerica-northeast2-c\":{}}},\"locationId\":\"northamerica-northeast2\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/southamerica-east1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"southamerica-east1-a\":{},\"southamerica-east1-b\":{},\"southamerica-east1-c\":{}}},\"locationId\":\"southamerica-east1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/southamerica-west1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"southamerica-west1-a\":{},\"southamerica-west1-b\":{},\"southamerica-west1-c\":{}}},\"locationId\":\"southamerica-west1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-central1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"us-central1-a\":{},\"us-central1-b\":{},\"us-central1-c\":{},\"us-central1-f\":{}}},\"locationId\":\"us-central1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-east1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"us-east1-b\":{},\"us-east1-c\":{},\"us-east1-d\":{}}},\"locationId\":\"us-east1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-east4\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"us-east4-a\":{},\"us-east4-b\":{},\"us-east4-c\":{}}},\"locationId\":\"us-east4\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-east5\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"us-east5-a\":{},\"us-east5-b\":{},\"us-east5-c\":{}}},\"locationId\":\"us-east5\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-south1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"us-south1-a\":{},\"us-south1-b\":{},\"us-south1-c\":{}}},\"locationId\":\"us-south1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-west1\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"us-west1-a\":{},\"us-west1-b\":{},\"us-west1-c\":{}}},\"locationId\":\"us-west1\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-west2\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"us-west2-a\":{},\"us-west2-b\":{},\"us-west2-c\":{}}},\"locationId\":\"us-west2\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-west3\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"us-west3-a\":{},\"us-west3-b\":{},\"us-west3-c\":{}}},\"locationId\":\"us-west3\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-west4\",\"metadata\":{\"@type\":\"type.googleapis.com/google.cloud.redis.v1beta1.LocationMetadata\",\"availableZones\":{\"us-west4-a\":{},\"us-west4-b\":{},\"us-west4-c\":{}}},\"locationId\":\"us-west4\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1552,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
