{
  "log": {
    "_recordingName": "build-cloud-build-uses-storage-bucket-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 482,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 131,
      },
      {
        "_id": "df1b957f480d7d7232172cd2befb4709",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloudbuild.googleapis.com/v1/projects/j1-gc-integration-dev-v3/builds"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 3969,
            "text": "{\"builds\":[{\"id\":\"3d408da8-beb8-4292-be46-327ccb6e7df8\",\"status\":\"FAILURE\",\"createTime\":\"2022-09-06T10:08:42.371350225Z\",\"startTime\":\"2022-09-06T10:08:42.371350225Z\",\"finishTime\":\"2022-09-06T10:08:42.371350225Z\",\"timeout\":\"600s\",\"projectId\":\"j1-gc-integration-dev-v3\",\"logsBucket\":\"gs://167984947943.cloudbuild-logs.googleusercontent.com\",\"buildTriggerId\":\"56a965d9-25ba-4514-b8a8-f38eec256cf0\",\"options\":{\"logging\":\"LEGACY\"},\"statusDetail\":\"request failed with status=404 status_message=\\\"404 \\\" body=\\\"{\\\\\\\"errors\\\\\\\":[{\\\\\\\"context\\\\\\\":null,\\\\\\\"message\\\\\\\":\\\\\\\"The path \\\\\\\\\\\\\\\"cloudbuild.yaml\\\\\\\\\\\\\\\" does not exist at revision \\\\\\\\\\\\\\\"058328ca9cafcbe335393c27c442eda6809a04e7\\\\\\\\\\\\\\\"\\\\\\\",\\\\\\\"exceptionName\\\\\\\":\\\\\\\"com.atlassian.bitbucket.content.NoSuchPathException\\\\\\\"}]}\\\"\",\"logUrl\":\"https://console.cloud.google.com/cloud-build/builds/3d408da8-beb8-4292-be46-327ccb6e7df8?project=167984947943\",\"tags\":[\"trigger-56a965d9-25ba-4514-b8a8-f38eec256cf0\"],\"queueTtl\":\"3600s\"},{\"id\":\"cc0a06e2-6fb4-4a3f-a7b2-989e4aeb73d9\",\"status\":\"FAILURE\",\"createTime\":\"2022-09-06T10:08:41.691917248Z\",\"startTime\":\"2022-09-06T10:08:41.691917248Z\",\"finishTime\":\"2022-09-06T10:08:41.691917248Z\",\"timeout\":\"600s\",\"projectId\":\"j1-gc-integration-dev-v3\",\"logsBucket\":\"gs://167984947943.cloudbuild-logs.googleusercontent.com\",\"buildTriggerId\":\"56a965d9-25ba-4514-b8a8-f38eec256cf0\",\"options\":{\"logging\":\"LEGACY\"},\"statusDetail\":\"request faile[...]
