{
  "log": {
    "_recordingName": "fetch-project-uses-app-connector",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1228,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 238,
      },
      {
        "_id": "c01f3e6528beeaae9020a16866069974",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://beyondcorp.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/-/appConnectors"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 620,
            "text": "{\"appConnectors\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/appConnectors/my-connector\",\"createTime\":\"2024-04-05T07:28:27.484117436Z\",\"updateTime\":\"2024-04-05T07:29:12.033754074Z\",\"uid\":\"9ef8f600-6666-4afa-b2da-4b246e788309\",\"state\":\"CREATED\",\"principalInfo\":{\"serviceAccount\":{\"email\":\"j1-gc-integration-dev-v3@j1-gc-integration-dev-v3.iam.gserviceaccount.com\"}}},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/appConnectors/my-connector-2demo\",\"createTime\":\"2024-04-05T10:30:24.351163994Z\",\"updateTime\":\"2024-04-05T10:31:00.015811832Z\",\"uid\":\"c7126d9e-3fad-4ffb-a024-df44918ca97d\",\"state\":\"CREATED\",\"principalInfo\":{\"serviceAccount\":{\"email\":\"j1-gc-integration-dev-v3@j1-gc-integration-dev-v3.iam.gserviceaccount.com\"}}},{\"name\":\"pro[...]
