{
  "log": {
    "_recordingName": "fetch-scan-configs",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 425,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 268,
      },
      {
        "_id": "7bc775bc2620c35ba763d73aa34d8e44",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://websecurityscanner.googleapis.com/v1/projects/j1-gc-integration-dev-v3/scanConfigs"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 648,
            "text": "{\"scanConfigs\":[{\"name\":\"projects/j1-gc-integration-dev-v3/scanConfigs/5312405048066048\",\"displayName\":\"Scan_835\",\"maxQps\":15,\"startingUrls\":[\"https://j1-gc-integration-dev-v3.uc.r.appspot.com\",\"https://j1-gc-integration-dev-v3.uc.r.appspot.com/?javascript:xssdetected(21745327001260000092911n)//*/javascript:javascript:%22/*%27/*`/*--%3E%3C/noscript%3E%3C/title%3E%3C/textarea%3E%3C/style%3E%3C/template%3E%3C/noembed%3E%3C/script%3E%3Chtml%20%22%20onmouseover%3d/*%26lt;svg/*/onload%3dxssdetected(21745327001260000092911n)onload%3dxssdetected(21745327001260000092911n)//%3E%3Csvg%20onload%3dxssdetected(21745327001260000092911n)%3E%3Csvg%20onload%3dxssdetected(21745327001260000092911n)%3E*/%3C/style%3E%3Cscript%3Exssdetected(21745327001260000092911n)%3C/script%3E%3Cstyle%3E=RaNDMPRMz\"],\"userAgent\":\"CHROME_LINUX\",\"exportToSecurityCommandCenter\":\"ENABLED\",\"riskLevel\":\"NORMAL\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1748,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
