{
  "log": {
    "_recordingName": "fetch-scan-configs",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 465,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 257,
      },
      {
        "_id": "7bc775bc2620c35ba763d73aa34d8e44",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://websecurityscanner.googleapis.com/v1/projects/j1-gc-integration-dev-v3/scanConfigs"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 485,
            "text": "{\"scanConfigs\":[{\"name\":\"projects/j1-gc-integration-dev-v3/scanConfigs/5695185351278592\",\"displayName\":\"Scan_277\",\"maxQps\":15,\"startingUrls\":[\"http://34.133.240.195\",\"https://j1-gc-integration-dev-v3.uc.r.appspot.com\"],\"userAgent\":\"CHROME_LINUX\",\"exportToSecurityCommandCenter\":\"ENABLED\",\"riskLevel\":\"NORMAL\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 2336,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
