{
  "log": {
    "_recordingName": "fetch-alloydb-postgre-sql-backup",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1177,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 216,
      },
      {
        "_id": "854aaa9a9d5b8dba42c2e9162feb6eb5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://alloydb.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/-/backups"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1403,
            "text": "{\"backups\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-east4/backups/contin-bkp-20240410-20-d94137c0-3e0d-405b-848d-7f591e65631e\",\"uid\":\"6a3a70d1-64b8-4a28-8da1-ef1f6388a619\",\"createTime\":\"2024-04-10T20:00:34.374893113Z\",\"updateTime\":\"2024-04-11T11:56:58.090787422Z\",\"state\":\"READY\",\"type\":\"CONTINUOUS\",\"clusterName\":\"projects/j1-gc-integration-dev-v3/locations/us-east4/clusters/cluster-01\",\"reconciling\":false,\"encryptionInfo\":{\"encryptionType\":\"GOOGLE_DEFAULT_ENCRYPTION\"},\"sizeBytes\":\"534244\",\"clusterUid\":\"5f16156c-e137-4533-9e88-e4ef13908c08\",\"expiryTime\":\"2024-04-25T20:00:35.489778Z\",\"databaseVersion\":\"POSTGRES_15\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-east4/backups/contin-bkp-20240409-20-d3023018-e7ee-4462-8ee5-a13f950faa46\",\"uid\":\"c91cb7ee-19bb-420b-a992-c6cc96c446f2\",\"createTime\":\"2024-04-09T20:00:34.879375105Z\",\"updateTime\":\"2024-04-11T11:56:58.090625879Z\",\"state\":\"READY\",\"type\":\"CONTINUOUS\",\"clusterName\":\"projects/j1-gc-integration-dev-v3/locations/us-east4/clusters/cluster-01\",\"reconciling\":false,\"encryptionInfo\":{\"encryptionType\":\[...]
