{
  "log": {
    "_recordingName": "fetch-private-ca-certificates",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1272,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 168,
      },
      {
        "_id": "8c3accf112bb6587d672fc0043521b03",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://privateca.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/-/caPools"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 366,
            "text": "{\"caPools\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/northamerica-northeast2/caPools/j1\",\"tier\":\"ENTERPRISE\",\"issuancePolicy\":{\"baselineValues\":{}},\"publishingOptions\":{\"publishCaCert\":true,\"publishCrl\":true}},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/southamerica-east1/caPools/j2\",\"tier\":\"ENTERPRISE\",\"issuancePolicy\":{\"baselineValues\":{}},\"publishingOptions\":{\"publishCaCert\":true,\"publishCrl\":true}},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-west1/caPools/Tester\",\"tier\":\"ENTERPRISE\",\"issuancePolicy\":{\"baselineValues\":{}},\"publishingOptions\":{\"publishCaCert\":true,\"publishCrl\":true}}]}"
          },
          "headers": [
            {
[...]
