{
  "log": {
    "_recordingName": "fetch-cloud-builds",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 486,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 129,
      },
      {
        "_id": "df1b957f480d7d7232172cd2befb4709",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloudbuild.googleapis.com/v1/projects/j1-gc-integration-dev-v3/builds"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 2662,
            "text": "{\"builds\":[{\"id\":\"5c45e5a4-0780-417b-89a9-ab3fa5b5a106\",\"status\":\"FAILURE\",\"createTime\":\"2022-09-06T06:51:36.883083481Z\",\"startTime\":\"2022-09-06T06:51:36.883083481Z\",\"finishTime\":\"2022-09-06T06:51:36.883083481Z\",\"timeout\":\"600s\",\"projectId\":\"j1-gc-integration-dev-v3\",\"logsBucket\":\"gs://167984947943.cloudbuild-logs.googleusercontent.com\",\"buildTriggerId\":\"56a965d9-25ba-4514-b8a8-f38eec256cf0\",\"options\":{\"logging\":\"LEGACY\"},\"statusDetail\":\"request failed with status=404 status_message=\\\"404 \\\" body=\\\"{\\\\\\\"errors\\\\\\\":[{\\\\\\\"context\\\\\\\":null,\\\\\\\"message\\\\\\\":\\\\\\\"The path \\\\\\\\\\\\\\\"cloudbuild.yaml\\\\\\\\\\\\\\\" does not exist at revision \\\\\\\\\\\\\\\"48e120aea6601a0401472a261551e4151d8391ac\\\\\\\\\\\\\\\"\\\\\\\",\\\\\\\"exceptionName\\\\\\\":\\\\\\\"com.atlassian.bitbucket.content.NoSuchPathException\\\\\\\"}]}\\\"\",\"logUrl\":\"https://console.cloud.google.com/cloud-build/builds/5c45e5a4-0780-417b-89a9-ab3fa5b5a106?project=167984947943\",\"tags\":[\"trigger-56a965d9-25ba-4514-b8a8-f38eec256cf0\"],\"queueTtl\":\"3600s\"},{\"id\":\"58991a72-f158-481d-ad66-771b90ce3e65\",\"status\":\"FAILURE\",\"source\":{\"storageSource\":{\"bucket\":\"j1-gc-integration-dev-v3_cloudbuild\",\"object\":\"source/1660769074.865182-d160c8803b704c60b50e68d2b3b97d73.tgz\",\"generation\":\"1660769077096260\"}},\"createTime\":\"2022-08-17T20:44:37.573002899Z\",\"startTime\":\"2022-08-17T20:44:38.421413511Z\",\"finishTime\":\"2022-08-17T20:44:46.243182675Z\",\"results\":{\"buildStepImages\":[\"sha256:0229d2fde1be1a278c6bb73fbfd98b2df63c30cb9012c882bdfa228e738afdf5\",\"\",\"\",\"\",\"\"],\"buildStepOutputs\":[\"\",\"\",\"\",\"\",\"\"]},\"steps\":[{\"name\":\"gcr.io/cloud-builders/gsutil\",\"args\":[\"-c\",\"gsutil ls -b gs://<some bucket for caching gradle file> || gsutil mb -l gs://<some bucket for caching gradle file>\\n\\n(\\n  gsutil cp gs://<some bucket for caching gradle file>/<file to hold cached content>.tar.gz /tmp/gradle-cache.tar.gz &&\\n  tar -xzf /tmp/gradle-cache.tar.gz\\n) || echo 'Cache not found'\\n\"],\"dir\":\"/cachinghome\",\"waitFor\":[\"-\"],\"entrypoint\":\"bash\",\"volumes\":[{\"name\":\"caching.home\",\"path\":\"/cachinghome\"}],\"timing\":{\"startTime\":\"2022-08-17T20:44:45.021642025Z\",\"endTime\":\"2022-08-17T20:44:45.676265144Z\"},\"status\":\"FAILURE\",\"pullTiming\":{\"startTime\":\"2022-08-17T20:44:45.021642025Z\",\"endTime\":\"2022-08-17T20:44:45.023016172Z\"},\"exitCode\":1},{\"name\":\"openjdk:11\",\"args\":[\"-c\",\"set -x\\nexport CACHING_HOME=\\\"/cachinghome\\\"\\nUSER_HOME=\\\"/root\\\"\\nM2_HOME=\\\"${USER_HOME}/.m2\\\"\\nM2_CACHE=\\\"${CACHING_HOME}/maven\\\"\\nGRADLE_HOME=\\\"${USER_HOME}/.gradle\\\"\\nGRADLE_CACHE=\\\"${CACHING_HOME}/gradle\\\"\\n\\necho \\\"Generating symbolic links for caches\\\"\\nmkdir -p ${M2_CACHE}\\nmkdir -p ${GRADLE_CACHE}\\n\\n[[ -d \\\"${M2_CACHE}\\\" && ! -d \\\"${M2_HOME}\\\" ]] && ln -s \\\"${M2_CACHE}\\\" \\\"${M2_HOME}\\\[...]
