{
  "log": {
    "_recordingName": "fetchCloudRunServices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 581,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 258,
      },
      {
        "_id": "14afae17eecef2c4e5579b9bba23d7d0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://run.googleapis.com/apis/serving.knative.dev/v1/namespaces/j1-gc-integration-dev-v2/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1896,
            "text": "{\"apiVersion\":\"serving.knative.dev/v1\",\"kind\":\"ServiceList\",\"items\":[{\"apiVersion\":\"serving.knative.dev/v1\",\"kind\":\"Service\",\"metadata\":{\"name\":\"example-cloud-run-service\",\"namespace\":\"711888229551\",\"selfLink\":\"/apis/serving.knative.dev/v1/namespaces/711888229551/services/example-cloud-run-service\",\"uid\":\"fce2d165-9ccb-4b6c-9204-67362d41aadd\",\"resourceVersion\":\"AAW9IJgvqVc\",\"generation\":1,\"labels\":{\"cloud.googleapis.com/location\":\"us-central1\"},\"annotations\":{\"run.googleapis.com/client-name\":\"cloud-console\",\"serving.knative.dev/creator\":\"user@email.com\",\"serving.knative.dev/lastModifier\":\"user@email.com\",\"client.knative.dev/user-image\":\"us-docker.pkg.dev/cloudrun/container/hello\",\"run.googleapis.com/launch-stage\":\"BETA\",\"run.googleapis.com/ingress\":\"all\",\"run.googleapis.com/ingress-status\":\"all\"},\"creationTimestamp\":\"2021-03-09T20:41:29.622532Z\"},\"spec\":{\"template\":{\"metadata\":{\"name\":\"example-cloud-run-service-00001-mub\",\"annotations\":{\"run.googleapis.com/client-name\":\"cloud-console\",\"autoscaling.knative.dev/maxScale\":\"100\",\"run.googleapis.com/sandbox\":\"gvisor\"}},\"spec\":{\"containerConcurrency\":80,\"timeoutSeconds\":300,\"serviceAccountName\":\"711888229551-compute@developer.gserviceaccount.com\",\"containers\":[{\"image\":\"us-docker.pkg.dev/cloudrun/container/hello\",\"resources\":{\"limits\":{\"cpu\":\"1000m\",\"memory\":\"256Mi\"}},\"ports\":[{\"containerPort\":8080}]}]}},\"traffic\":[{\"percent\":100,\"latestRevision\":true}]},\"status\":{\"observedGeneration\":1,\"conditions\":[{\"type\":\"Ready\",\"status\":\"True\",\"lastTransitionTime\":\"2021-03-09T20:42:53.416791Z\"},{\"type\":\"ConfigurationsReady\",\"status\":\"True\",\"lastTransitionTime\":\"2021-03-09T20:42:53.211458Z\"},{\"type\":\"RoutesReady\",\"status\":\"True\",\"lastTransitionTime\":\"2021-03-09T20:42:53.416791Z\"}],\"latestReadyRevisionName\":\"example-cloud-run-service-00001-mub\",\"latestCreatedRevisionName\":\"example-cloud-run-service-00001-mub\",\"traffic\":[{\"revisionName\":\"example-cloud-run-service-00001-mub\",\"percent\":100,\"latestRevision\":true}],\"url\":\"https://example-cloud-run-service-rhbpqun2qa-uc.a.run.app\",\"address\":{\"url\":\"https://example-cloud-run-service-rhbpqun2qa-uc.a.run.app\"}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 725,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
