{
  "log": {
    "_recordingName": "fetch-beyondcorp-application-endpoint",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.6"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1249,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 170,
      },
      {
        "_id": "b00ed4876937331adfceefac76a09573",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://beyondcorp.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/-/appConnections"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 956,
            "text": "{\"appConnections\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/appConnections/my-connection-demo-3\",\"createTime\":\"2024-04-08T12:30:06.446139022Z\",\"updateTime\":\"2024-04-08T12:30:31.251527880Z\",\"labels\":{\"foo\":\"bar\"},\"displayName\":\"connection-display-name-2\",\"uid\":\"9ec0aaa4-8376-4101-92d3-47035b940b99\",\"type\":\"TCP_PROXY\",\"applicationEndpoint\":{\"host\":\"localhost1\",\"port\":8000},\"connectors\":[\"projects/j1-gc-integration-dev-v3/locations/us-central1/appConnectors/my-connector\"],\"state\":\"CREATED\",\"gateway\":{\"uri\":\"https://www.googleapis.com/compute/v1/projects/ff55b02a070816266p-tp/regions/us-central1/serviceAttachments/bce-ps7-sj2irxmhno1tdihn-1-slm0-2\",\"ingressPort\":19445,\"appGateway\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/appGateways/autogenerated-gateway-1\"}},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/appConnections/my-demo-connection\",\"createTime\":\"2024-04-08T07:20:40.432467811Z\",\"updateTime\":\"2024-04-08T07:26:42.546018228Z\",\"uid\":\"4775e0ff-53d7-418b-afa9-e7c618585350\",\"type\":\"TCP_PROXY\",\"applicationEndpoint\":{\"host\":\"localhost\",\"port\":8080},\"state\":\"CREATED\",\"gateway\":{\"uri\":\"https://www.google[...]
