{
  "log": {
    "_recordingName": "fetchComputeGlobalAddresses",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 579,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 200,
      },
      {
        "_id": "05bb0db22f6bb5d1bc87c4ce7c988d6d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/networks"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1948,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v3/global/networks\",\"items\":[{\"id\":\"3355945658528347131\",\"creationTimestamp\":\"2021-05-31T09:21:40.121-07:00\",\"name\":\"default\",\"description\":\"Default network for the project\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/networks/default\",\"autoCreateSubnetworks\":true,\"subnetworks\":[\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/europe-north1/subnetworks/default\",\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/europe-west4/subnetworks/default\",\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/us-east1/subnetworks/default\",\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/us-west1/subnetworks/default\",\"https://www.googleapis.com/compute/v[...]
