{
  "log": {
    "_recordingName": "fetchPolicyAnalyzerActivity",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1290,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 507,
      },
      {
        "_id": "4af89d8074c717a73e9cb4f16a70b668",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://policyanalyzer.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/us-central1/activityTypes/serviceAccountLastAuthentication/activities:query"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 2402,
            "text": "{\"activities\":[{\"fullResourceName\":\"//iam.googleapis.com/projects/j1-gc-integration-dev-v3/serviceAccounts/sfc-cloudconnector@j1-gc-integration-dev-v3.iam.gserviceaccount.com\",\"activityType\":\"serviceAccountLastAuthentication\",\"observationPeriod\":{\"startTime\":\"2022-08-29T07:00:00Z\",\"endTime\":\"2024-05-04T07:00:00Z\"},\"activity\":{\"serviceAccount\":{\"serviceAccountId\":\"118429662045978373100\",\"fullResourceName\":\"//iam.googleapis.com/projects/j1-gc-integration-dev-v3/serviceAccounts/sfc-cloudconnector@j1-gc-integration-dev-v3.iam.gserviceaccount.com\",\"projectNumber\":\"167984947943\"},\"lastAuthenticatedTime\":\"2024-05-04T07:00:00Z\"}},{\"fullResourceName\":\"//iam.googleapis.com/projects/j1-gc-integration-dev-v3/serviceAccounts/microsoft-defender-for-servers@j1-gc-integration-dev-v3.iam.gserviceaccount.com\",\"activityType\":\"serviceAccountLastAuthentication\",\"observationPeriod\":{\"startTime\":\"2023-01-15T08:00:00Z\",\"endTime\":\"2024-05-04T07:00:00Z\"},\"activity\":{\"lastAuthenticatedTime\":\"2024-05-04T07:00:00Z\",\"serviceAccount\":{\"serviceAccountId\":\"115896343450698961653\",\"fullReso[...]
