{
  "log": {
    "_recordingName": "build-cloud-build-uses-source-repo-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 465,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 135,
      },
      {
        "_id": "df1b957f480d7d7232172cd2befb4709",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloudbuild.googleapis.com/v1/projects/j1-gc-integration-dev-v3/builds"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 5096,
            "text": "{\"builds\":[{\"id\":\"4ff707b3-6063-412a-a3c0-894d017ca2e2\",\"status\":\"SUCCESS\",\"source\":{\"repoSource\":{\"projectId\":\"j1-gc-integration-dev-v3\",\"repoName\":\"nacho\",\"commitSha\":\"1f0e23176ea1b0d8a87284c7439db51c0a8a85a4\"}},\"createTime\":\"2022-09-13T23:42:10.184559831Z\",\"startTime\":\"2022-09-13T23:42:10.812103523Z\",\"finishTime\":\"2022-09-13T23:42:21.537432Z\",\"results\":{\"buildStepImages\":[\"sha256:20fa2d7bb4de7723f542be5923b06c4d704370f0390e4ae9e1c833c8785644c1\"],\"buildStepOutputs\":[\"\"]},\"steps\":[{\"name\":\"ubuntu\",\"args\":[\"bash\",\"-c\",\"echo hello world\"],\"timing\":{\"startTime\":\"2022-09-13T23:42:18.597796828Z\",\"endTime\":\"2022-09-13T23:42:20.761341354Z\"},\"status\":\"SUCCESS\",\"pullTiming\":{\"startTime\":\"2022-09-13T23:42:18.597796828Z\",\"endTime\":\"2022-09-13T23:42:19.963862134Z\"}}],\"timeout\":\"600s\",\"projectId\":\"j1-gc-integration-dev-v3\",\"logsBucket\":\"gs://167984947943.cloudbuild-logs.googleusercontent.com\",\"sourceProvenance\":{\"resolvedRepoSource\":{\"projectId\":\"j1-gc-integration-dev-v3\",\"repoName\":\"nacho\",\"commitSha\":\"1f0e23176ea1b0d8a87284c7439db51c0a8a85a4\"}},\"buildTriggerId\":\"5aa1ece1-ec55-48b3-828b-51ec1aa74bbd\",\"options\":{\"substitutionOption\":\"ALLOW_LOOSE\",\"logging\":\"LEGACY\",\"dynamicSubstitutions\":true,\"pool\":{}},\"logUrl\":\"https://console.cloud.google.com/cloud-build/builds/4ff707b3-6063-412a-a3c0-894d017ca2e2?project=167984947943\",\"substitutions\":{\"TRIGGER_BUILD_CONFIG_PATH\":\"cloudbuild.yaml\",\"REPO_NAME\":\"nacho\",\"REVISION_ID\":\"1f0e23176ea1b0d8a87284c7439db51c0a8a85a4\",\"COMMIT_SHA\":\"1f0e23176ea1b0d8a87284c7439db51c0a8a85a4\",\"SHORT_SHA\":\"1f0e231\",\"BRANCH_NAME\":\"main\",\"REF_NAME\":\"main\",\"TRIGGER_NAME\":\"cloudsource-trigger\"},\"tags\":[\"trigger-5aa1ece1-ec55-48b3-828b-51ec1aa74bbd\"],\"timing\":{\"FETCHSOURCE\":{\"startTime\":\"2022-09-13T23:42:11.448109277Z\",\"endTime\":\"2022-09-13T23:42:17.886247774Z\"},\"BUILD\":{\"startTime\":\"2022-09-13T23:42:17.886313637Z\",\"endTime\":\"2022-09-13T23:42:20.761419176Z\"}},\"queueTtl\":\"3600s\",\"name\":\"projects/167984947943/locations/global/builds/4ff707b3-6063-412a-a3c0-894d017ca2e2\"},{\"id\":\"175e3790-16cb-41db-9868-53130a6cd730\",\"status\":\"SUCCESS\",\"source\":{\"storageSource\":{\"bucket\":\"j1-gc-integration-dev-v3_cloudbuild\",\"object\":\"source/1663112478.409473-04d23fd8c665482aaf1ef80179a84ccf.tgz\",\"generation\":\"1663112479817046\"}},\"createTime\":\"2022-09-13T23:41:20.205811477Z\",\"startTime\":\"2022-09-13T23:41:21.862330907Z\",\"finishTime\":\"2022-09-13T23:41:29.103706Z\",\"results\":{\"buildStepImages\":[\"sha256:20fa2d7bb4de7723f542be5923b06c4d704370f0390e4ae9e1c833c8785644c1\"],\"buildStepOutputs\":[\"\"]},\"steps\":[{\"name\":\"ubuntu\",\"args\":[\"bash\",\"-c\",\"echo hello world\"],\"timing\":{\"startTime\":\"2022-09-13T23:41:27.144377521Z\",\"endTime\":\"2022-09-13T23:41:28.596114440Z\"},\"status\":\"SUCCESS\",\"pullTiming\":{\"startTime\":\"2022-09-13T23:41:27.144377521Z\",\"endTime\":\"2022-09-13T23:41:27.989549040Z\"}}],\"timeout\":\"600s\",\"projectId\":\"j1-gc-integration-dev-v3\",\"logsBucket\":\"gs://167984947943.cloudbuild-logs.googleusercontent.com\",\"sourceProvenance\":{\"resolvedStorageSource\":{\"bucket\":\"j1-gc-integration-dev-v3_cloudbuild\",\"object\":\"source/1663112478.409473-04d23fd8c665482aaf1ef80179a84ccf.tgz\",\"generation\":\"1663112479817046\"},\"fileHashes\":{\"gs://j1-gc-integration-dev-v3_cloudbuild/source/1663112478.409473-04d23fd8c665482aaf1ef80179a84ccf.tgz#1663112479817046\":{\"fileHash\":[{\"type\":\"MD5\",\"value\":\"N0XWkij3to+JVSeVQxSeZA==\"}]}}},\"options\":{\"logging\":\"LEGACY\",\"pool\":{}},\"logUrl\":\"https://console.cloud.google.com/cloud-build/builds/175e3790-16cb-41db-9868-53130a6cd730?project=167984947943\",\"timing\":{\"FETCHSOURCE\":{\"startTime\":\"2022-09-13T23:41:22.349578043Z\",\"endTime\":\"2022-09-13T23:41:26.648486891Z\"},\"BUILD\":{\"startTime\":\"2022-09-13T23:41:26.648552996Z\",\"endTime\":\"2022-09-13T23:41:28.596170744Z\"}},\"queueTtl\":\"3600s\",\"name\":\"projects/167984947943/locations/global/builds/175e3790-16cb-41db-9868-53130a6cd730\"},{\"id\":\"7daffe81-bf57-419b-8972-6f6e9749072e\",\"status\":\"FAILURE\",\"createTime\":\"2022-09-13T23:27:25.970043355Z\",\"startTime\":\"2022-09-13T23:27:25.970043355Z\",\"finishTime\":\"2022-09-13T23:27:25.970043355Z\",\"timeout\":\"600s\",\"projectId\":\"j1-gc-integration-dev-v3\",\"logsBucket\":\"gs://167984947943.cloudbuild-logs.googleusercontent.com\",\"buildTriggerId\":\"5aa1ece1-ec55-48b3-828b-51ec1aa74bbd\",\"options\":{\"logging\":\"LEGACY\"},\"statusDetail\":\"cloud.j1-gc-integration-dev-v3/nacho:cloudbuild.yaml: \",\"logUrl\":\"https://console.cloud.google.com/cloud-build/builds/7daffe81-bf57-419b-8972-6f6e9749072e?project=167984947943\",\"tags\":[\"trigger-5aa1ece1-ec55-48b3-828b-51ec1aa74bbd\"],\"queueTtl\":\"3600s\"},{\"id\":\"3d408da8-beb8-4292-be46-327ccb6e7df8\",\"status\":\"FAILURE\",\"createTime\":\"2022-09-06T10:08:42.371350225Z\",\"startTime\":\"2022-09-06T10:08:42.371350225Z\",\"finishTime\":\"2022-09-06T10:08:42.371350225Z\",\"timeout\":\"600s\",\"projectId\":\"j1-gc-integration-dev-v3\",\"logsBucket\":\"gs://167984947943.cloudbuild-logs.googleusercontent.com\",\"buildTriggerId\":\"56a965d9-25ba-4514-b8a8-f38eec256cf0\",\"options\":{\"logging\":\"LEGACY\"},\"statusDetail\":\"request failed with status=404 status_message=\\\"404 \\\" body=\\\"{\\\\\\\"errors\\\\\\\":[{\\\\\\\"context\\\\\\\":null,\\\\\\\"message\\\\\\\":\\\\\\\"The path \\\\\\\\\\\\\\\"cloudbuild.yaml\\\\\\\\\\\\\\\" does not exist at revision \\\\\\\\\\\\\\\"058328ca9cafcbe335393c27c442eda6809a04e7\\\\\\\\\\\\\\\"\\\\\\\",\\\\\\\"exceptionName\\\\\\\":\\\\\\\"com.atlassian.bitbucket.content.NoSuchPathException\\\\\\\"}]}\\\"\",\"logUrl\":\"https://console.cloud.google.com/cloud-build/builds/3d408da8-beb8-4292-be46-327ccb6e7df8?project=167984947943\",\"tags\":[\"trigger-56a965d9-25ba-4514-b8a8-f38eec256cf0\"],\"queueTtl\":\"3600s\"},{\"id\":\"cc0a06e2-6fb4-4a3f-a7b2-989e4aeb73d9\",\"status\":\"FAILURE\",\"createTime\":\"2022-09-06T10:08:41.691917248Z\",\"startTime\":\"2022-09-06T10:08:41.691917248Z\",\"finishTime\":\"2022-09-06T10:08:41.691917[...]
