{
  "log": {
    "_recordingName": "fetchMemcacheInstances",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 573,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 133,
      },
      {
        "_id": "0301adc4dbf2b122d855dba5bd7122e5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://memcache.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/-/instances"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1020,
            "text": "{\"instances\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/instances/memcached-instance-2\",\"authorizedNetwork\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"zones\":[\"us-central1-a\",\"us-central1-b\",\"us-central1-c\",\"us-central1-f\"],\"nodeCount\":1,\"nodeConfig\":{\"cpuCount\":1,\"memorySizeMb\":5120},\"memcacheVersion\":\"MEMCACHE_1_5\",\"parameters\":{},\"memcacheNodes\":[{\"nodeId\":\"node-c-1\",\"zone\":\"us-central1-c\",\"state\":\"READY\",\"host\":\"10.0.0.68\",\"port\":11211,\"parameters\":{}}],\"createTime\":\"2022-03-15T16:06:33.506758765Z\",\"updateTime\":\"2022-03-15T16:11:50.929963455Z\",\"state\":\"READY\",\"memcacheFullVersion\":\"memcached-1.5.16\",\"discoveryEndpoint\":\"10.0.0.67:11211\"},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/instances/example-instance-id\",\"authorizedNetwork\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"zones\":[\"us-central1-a\",\"us-central1-b\",\"us-central1-c\",\"us-central1-f\"],\"nodeCount\":1,\"nodeConfig\":{\"cpuCount\":1,\"memorySizeMb\":1024},\"memcacheVersion\":\"MEMCACHE_1_5\",\"parameters\":{},\"memcacheNodes\":[{\"nodeId\":\"node-c-1\",\"zone\":\"us-central1-c\",\"state\":\"READY\",\"host\":\"10.0.0.4\",\"port\":11211,\"parameters\":{}}],\"createTime\":\"2022-03-15T16:01:32.122334322Z\",\"updateTime\":\"2022-03-15T16:06:45.191080532Z\",\"state\":\"READY\",\"memcacheFullVersion\":\"memcached-1.5.16\",\"discoveryEndpoint\":\"10.0.0.3:11211\"}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1039,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
