{
  "log": {
    "_recordingName": "fetchKmsCryptoKeys",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1211,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 301,
      },
      {
        "_id": "e54a64f1b66f5342704ffa12799df95b",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pageSize",
              "value": "200"
            }
          ],
          "url": "https://cloudkms.googleapis.com/v1/projects/j1-gc-inte[...]
