{
  "log": {
    "_recordingName": "validateInvocation:success",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1255,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 115,
      },
      {
        "_id": "7cafef90c67977cce09b676b39635c40",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pageSize",
              "value": "200"
            },
            {
              "name": "filter",
              "value": "state:ENABLED"
            }
          ],
          "url": "https://serviceusage.googleapis.com/v1/projects/j1-gc-integration-dev-v3/services?pageSize=200&filter=state%3AENABLED"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 18631,
            "text": "{\"services\":[{\"name\":\"projects/167984947943/services/abilitec-api.endpoints.liveramp-identity-public.cloud.goog\",\"config\":{\"name\":\"abilitec-api.endpoints.liveramp-identity-public.cloud.goog\",\"title\":\"AbiliTec API\",\"documentation\":{},\"quota\":{},\"authentication\":{},\"usage\":{},\"monitoring\":{}},\"state\":\"ENABLED\",\"parent\":\"projects/167984947943\"},{\"name\":\"projects/167984947943/services/accesscontextmanager.googleapis.com\",\"config\":{\"name\":\"accesscontextmanager.googleapis.com\",\"title\":\"Access Context Manager API\",\"documentation\":{\"summary\":\"An API for setting attribute based access control to requests to Google Cloud services.\"},\"quota\":{},\"authentication\":{},\"usage\":{\"requirements\":[\"serviceusage.googleapis.com/tos/cloud\"]},\"monitoredResources\":[{\"type\":\"accesscontextmanager.googleapis.com/Location\",\"displayName\":\"Access Context Manager Location\",\"description\":\"Access Context Manager Location.\",\"labels\":[{\"key\":\"resource_container\",\"description\":\"The organization number of the policy, such as organizations/5678.\"},{\"key\":\"location\",\"description\":\"The location of the policy.\"}],\"launchStage\":\"ALPHA\"}],\"monitoring\":{\"consumerDestinations\":[{\"monitoredResource\":\"accesscontextmanager.googleapis.com/Location\",\"metrics\":[\"accesscontextmanager.googleapis.com/access_levels_per_policy\",\"accesscontextmanager.googleapis.com/perimeter_egress_policies_per_policy\",\"accesscontextmanager.googleapis.com/perimeter_ingress_policies_per_policy\",\"accesscontextmanager.googleapis.com/perimeter_protected_resources_per_policy\",\"accesscontextmanager.googleapis.com/perimeters_per_policy\",\"accesscontextmanager.googleapis.com/quota/access_levels_per_policy/exceeded\",\"accesscontextmanager.googleapis.com/quota/perimeter_eg[...]
