{
  "log": {
    "_recordingName": "fetch-compute-health-checks",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1239,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 161,
      },
      {
        "_id": "38f64d538b96b56a8abc287c9767d751",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/healthChecks"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 509,
            "text": "{\"kind\":\"compute#healthCheckList\",\"id\":\"projects/j1-gc-integration-dev-v3/global/healthChecks\",\"items\":[{\"kind\":\"compute#healthCheck\",\"id\":\"819908078879682790\",\"creationTimestamp\":\"2021-05-31T09:25:45.951-07:00\",\"name\":\"load-balancer-health-check\",\"checkIntervalSec\":1,\"timeoutSec\":1,\"unhealthyThreshold\":2,\"healthyThreshold\":2,\"type\":\"TCP\",\"tcpHealthCheck\":{\"port\":80,\"proxyHeader\":\"NONE\"},\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/healthChecks/load-balancer-health-check\"}],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/healthChecks\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "HVK7Q5sll3wC361kIUFbw4H1FWM=/j5BRt-2MJMvSW7SG0k_crZ-ZAtE="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 426,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
