{
  "log": {
    "_recordingName": "iterateIamPoliciesForProjectAndResources",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 569,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 102,
      },
      {
        "_id": "b02974fbb22e1ec12f30f2067c965547",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pageSize",
              "value": "500"
            }
          ],
          "url": "https://cloudasset.googleapis.com/v1/projects/j1-gc-integration-dev-v3:searchAllIamPolicies?pageSize=500"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 3322,
            "text": "{\"results\":[{\"resource\":\"//storage.googleapis.com/j1-gc-integration-dev-v3-super-secret-stuff\",\"project\":\"projects/167984947943\",\"policy\":{\"bindings\":[{\"role\":\"organizations/958457776463/roles/NothingToSeeHere\",\"members\":[\"allUsers\",\"domain:mknoedel.com\",\"projectViewer:j1-gc-integration-dev-v3\",\"user:mknoedel@mknoedel.com\"]},{\"role\":\"roles/storage.legacyBucketOwner\",\"members\":[\"projectEditor:j1-gc-integration-dev-v3\",\"projectOwner:j1-gc-integration-dev-v3\"]},{\"role\":\"roles/storage.legacyBucketReader\",\"members\":[\"projectViewer:j1-gc-integration-dev-v3\"]}]},\"assetType\":\"storage.googleapis.com/Bucket\",\"folders\":[\"folders/306329820365\"],\"organization\":\"organizations/958457776463\"},{\"resource\":\"//storage.googleapis.com/j1-gc-integration-dev-v3-test-tf-bucket\",\"project\":\"projects/167984947943\",\"policy\":{\"bindings\":[{\"role\":\"roles/storage.legacyBucketOwner\",\"members\":[\"projectEditor:j1-gc-integration-dev-v3\",\"projectOwner:j1-gc-integration-dev-v3\"]},{\"role\":\"roles/storage.legacyBucketReader\",\"members\":[\"projectViewer:j1-gc-integration-dev-v3\"]}]},\"assetType\":\"storage.googleapis.com/Bucket\",\"folders\":[\"folde[...]
