{
  "log": {
    "_recordingName": "fetchApiServices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 588,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 245,
      },
      {
        "_id": "c5cdcdbb3754e5d5b6d6846e6c56c232",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://serviceusage.googleapis.com/v1/projects/j1-gc-integration-dev-v2/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 16887,
            "text": "{\"services\":[{\"name\":\"projects/711888229551/services/abusiveexperiencereport.googleapis.com\",\"config\":{\"name\":\"abusiveexperiencereport.googleapis.com\",\"title\":\"Abusive Experience Report API\",\"documentation\":{\"summary\":\"Views Abusive Experience Report data, and gets a list of sites that have a significant number of abusive experiences.\"},\"quota\":{},\"authentication\":{},\"usage\":{\"requirements\":[\"serviceusage.googleapis.com/tos/universal\"]},\"monitoredResources\":[{\"type\":\"serviceruntime.googleapis.com/api\",\"labels\":[{\"key\":\"cloud.googleapis.com/location\"},{\"key\":\"cloud.googleapis.com/uid\"},{\"key\":\"serviceruntime.googleapis.com/api_version\"},{\"key\":\"serviceruntime.googleapis.com/api_method\"},{\"key\":\"serviceruntime.googleapis.com/consumer_project\"},{\"key\":\"cloud.googleapis.com/project\"},{\"key\":\"cloud.googleapis.com/service\"}]},{\"type\":\"serviceruntime.googleapis.com/consumer_quota\",\"labels\":[{\"key\":\"cloud.googleapis.com/location\"},{\"key\":\"cloud.googleapis.com/uid\"},{\"key\":\"cloud.googleapis.com/service\"},{\"key\":\"cloud.googleapis.com/resource_id\"},{\"key\":\"cloud.googleapis.com/resource_node\"},{\"key\":\"cloud.googleapis.com/quota_metric\"},{\"key\":\"cloud.googleapis.com/quota_location\"}]},{\"type\":\"serviceruntime.googleapis.com/producer_quota\",\"labels\":[{\"key\":\"cloud.googleapis.com/location\"},{\"key\":\"cloud.googleapis.com/uid\"},{\"key\":\"cloud.googleapis.com/service\"},{\"key\":\"cloud.googleapis.com/resource_id\"},{\"key\":\"cloud.googleapis.com/resource_node\"},{\"key\":\"cloud.googleapis.com/consumer_resource_node\"},{\"key\":\"cloud.googleapis.com/quota_metric\"},{\"key\":\"cloud.googleapis.com/quota_location\"}]}],\"monitoring\":{\"consumerDestinations\":[{\"monitoredResource\":\"serviceruntime.googleapis.com/api\",\"metrics\":[\"serviceruntime.googleapis.com/api/consumer/quota_used_count\",\"serviceruntime.googleapis.com/api/consumer/quota_refund_count\",\"serviceruntime.googleapis.com/quota/used\",\"serviceruntime.googleapis.com/quota/limit\",\"serviceruntime.googleapis.com/quota/exceeded\",\"serviceruntime.googleapis.com/allocation/consumer/quota_used_count\"]},{\"monitoredResource\":\"serviceruntime.googleapis.com/consumer_quota\",\"metrics\":[\"serviceruntime.googleapis.com/quota/rate/consumer/used_count\",\"serviceruntime.googleapis.com/quota/rate/consumer/refund_count\",\"serviceruntime.googleapis.com/quota/allocation/consumer/usage\",\"serviceruntime.googleapis.com/quota/consumer/limit\",\"serviceruntime.googleapis.com/quota/consumer/exceeded\"]}]}},\"state\":\"DISABLED\",\"parent\":\"projects/711888229551\"},{\"name\":\"projects/711888229551/services/acceleratedmobilepageurl.googleapis.com\",\"config\":{\"name\":\"acceleratedmobilepageurl.googleapis.com\",\"title\":\"Accelerated Mobile Pages (AMP) URL API\",\"documentation\":{\"summary\":\"Retrieves the list of AMP URLs (and equivalent AMP Cache URLs) for a given list of public URL(s).\\n\"},\"quota\":{},\"authentication\":{},\"usage\":{\"requirements\":[\"serviceusage.googleapis.com/tos/universal\"]},\"monitoredResources\[...]
