{
  "log": {
    "_recordingName": "fetchApiServices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 505,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 126,
      },
      {
        "_id": "1f55dbd81e70bd439349a812e9a61e92",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://serviceusage.googleapis.com/v1/projects/j1-gc-integration-dev/services"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 7809,
            "text": "{\"services\":[{\"name\":\"projects/545240943112/services/abusiveexperiencereport.googleapis.com\",\"config\":{\"name\":\"abusiveexperiencereport.googleapis.com\",\"title\":\"Abusive Experience Report API\",\"documentation\":{\"summary\":\"Views Abusive Experience Report data, and gets a list of sites that have a significant number of abusive experiences.\"},\"quota\":{},\"authentication\":{},\"usage\":{\"requirements\":[\"serviceusage.googleapis.com/tos/universal\"]}},\"state\":\"DISABLED\",\"parent\":\"projects/545240943112\"},{\"name\":\"projects/545240943112/services/acceleratedmobilepageurl.googleapis.com\",\"config\":{\"name\":\"acceleratedmobilepageurl.googleapis.com\",\"title\":\"Accelerated Mobile Pages (AMP) URL API\",\"documentation\":{\"summary\":\"Retrieves the list of AMP URLs (and equivalent AMP Cache URLs) for a given list of public URL(s).\\n\"},\"quota\":{},\"authentication\":{},\"usage\":{\"requirements\":[\"serviceusage.googleapis.com/tos/universal\"]}},\"state\":\"DISABLED[...]
