{
  "log": {
    "_recordingName": "fetch-interconnect-location-uses-cloud-interconnect",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1181,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 208,
      },
      {
        "_id": "a5eb0317109bc39ef5b7b9be20aae898",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/interconnectLocations"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 34204,
            "text": "{\"kind\":\"compute#interconnectLocationList\",\"id\":\"projects/j1-gc-integration-dev-v3/global/interconnectLocations\",\"items\":[{\"kind\":\"compute#interconnectLocation\",\"description\":\"Vocus Auckland - Albany\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/interconnectLocations/akl-zone1-1353\",\"id\":\"1403\",\"creationTimestamp\":\"2021-06-25T11:50:58.000-07:00\",\"name\":\"akl-zone1-1353\",\"peeringdbFacilityId\":\"1353\",\"address\":\"Vocus Group\\n7A Parkhead Place\\nAlbany\\nAuckland 0632\\nNew Zealand\",\"facilityProvider\":\"Vocus\",\"facilityProviderFacilityId\":\"Auckland - Albany\",\"regionInfos\":[{\"region\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/australia-southeast1\"},{\"region\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/australia-southeast2\"}],\"continent\":\"C_ASIA_PAC\",\"city\":\"Auckland\",\"availabilityZone\":\"zone1\",\"status\":\"AVAILABLE\",\"availableLinkTypes\":[\"LINK_TYPE_ETHERNET_100G_LR\",\"LINK_TYPE_ETHERNET_10G_LR\"]},{\"kind\":\"compute#interconnectLocation\",\"description\":\"Vocus Auckland - Albany\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/interconnectLocations/akl-zone2-1353\",\"id\":\"1404\",\"creationTimestamp\":\"2021-06-25T11:50:58.000-07:00\",\"name\":\"akl-zone2-1353\",\"peeringdbFacilityId\":\"1353\",\"address\":\"Vocus Group\\n7A Parkhead Place\\nAlbany\\nAuckland 0632\\nNew Zealan[...]
