{
  "log": {
    "_recordingName": "fetchRedisInstances",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 578,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 164,
      },
      {
        "_id": "b9fb350e0fd5ccdcbb2776fe4415a4b0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://redis.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/-/instances"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1036,
            "text": "{\"instances\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-central1/instances/example-redis-1\",\"locationId\":\"us-central1-c\",\"redisVersion\":\"REDIS_6_X\",\"reservedIpRange\":\"10.0.0.128/29\",\"host\":\"10.0.0.131\",\"port\":6379,\"currentLocationId\":\"us-central1-c\",\"createTime\":\"2022-03-15T17:40:25.188616283Z\",\"state\":\"READY\",\"tier\":\"BASIC\",\"memorySizeGb\":16,\"authorizedNetwork\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"persistenceIamIdentity\":\"serviceAccount:645363647218-compute@developer.gserviceaccount.com\",\"connectMode\":\"PRIVATE_SERVICE_ACCESS\",\"transitEncryptionMode\":\"DISABLED\",\"nodes\":[{\"id\":\"node-0\",\"zone\":\"us-central1-c\"}],\"readReplicasMode\":\"READ_REPLICAS_DISABLED\",\"persistenceConfig\":{\"persistenceMode\":\"DISABLED\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1040,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
