{
  "log": {
    "_recordingName": "fetchAppEngineApplication",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 612,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 328,
      },
      {
        "_id": "6c860008be6359d4a5b786000e2c19f7",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://appengine.googleapis.com/v1/apps/j1-gc-integration-dev-v3"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 658,
            "text": "{\"name\":\"apps/j1-gc-integration-dev-v3\",\"id\":\"j1-gc-integration-dev-v3\",\"authDomain\":\"gmail.com\",\"locationId\":\"us-central\",\"codeBucket\":\"staging.j1-gc-integration-dev-v3.appspot.com\",\"servingStatus\":\"SERVING\",\"defaultHostname\":\"j1-gc-integration-dev-v3.uc.r.appspot.com\",\"defaultBucket\":\"j1-gc-integration-dev-v3.appspot.com\",\"serviceAccount\":\"j1-gc-integration-dev-v3@appspot.gserviceaccount.com\",\"gcrDomain\":\"us.gcr.io\",\"databaseType\":\"CLOUD_DATASTORE_COMPATIBILITY\",\"featureSettings\":{\"splitHealthChecks\":true,\"useContainerOptimizedOs\":true}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 582,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
