{
  "log": {
    "_recordingName": "fetchAppEngineApplication",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 559,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 71,
      },
      {
        "_id": "d363efbccca866077514324c8f2c2baa",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "project",
              "value": "j1-gc-integration-dev-v2"
            }
          ],
          "url": "https://storage.googleapis.com/storage/v1/b?project=j1-gc-integration-dev-v2"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 6843,
            "text": "{\n  \"kind\": \"storage#buckets\",\n  \"items\": [\n    {\n      \"kind\": \"storage#bucket\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcf-sources-711888229551-us-central1\",\n      \"id\": \"gcf-sources-711888229551-us-central1\",\n      \"name\": \"gcf-sources-711888229551-us-central1\",\n      \"projectNumber\": \"711888229551\",\n      \"metageneration\": \"1\",\n      \"location\": \"US-CENTRAL1\",\n      \"storageClass\": \"STANDARD\",\n      \"etag\": \"CAE=\",\n      \"timeCreated\": \"2021-02-18T00:04:30.131Z\",\n      \"updated\": \"2021-02-18T00:04:30.131Z\",\n      \"cors\": [\n        {\n          \"origin\": [\n            \"https://*.cloud.google.com\",\n            \"https://*.corp.google.com\",\n            \"https://*.corp.google.com:*\"\n          ],\n          \"method\": [\n            \"GET\"\n          ]\n        }\n      ],\n      \"iamConfiguration\": {\n        \"bucketPolicyOnly\": {\n          \"enabled\": true,\n          \"lockedTime\": \"2021-05-19T00:04:30.131Z\"\n        },\n        \"uniformBucketLevelAccess\": {\n          \"enabled\": true,\n          \"lockedTime\": \"2021-05-19T00:04:30.131Z\"\n        }\n      },\n      \"locationType\": \"region\"\n    },\n    {\n      \"kind\": \"storage#bucket\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/j1-gc-integration-dev-v2-sink-logging-bucket\",\n      \"id\": \"j1-gc-integration-dev-v2-sink-logging-bucket\",\n      \"name\": \"j1-gc-integration-dev-v2-sink-logging-bucket\",\n      \"projectNumber\": \"711888229551\",\n      \"metageneration\": \"1\",\n      \"location\": \"US\",\n      \"storageClass\": \"STANDARD\",\n      \"etag\": \"CAE=\",\n      \"timeCreated[...]
