{
  "log": {
    "_recordingName": "fetchComputeHealthChecks",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 584,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 181,
      },
      {
        "_id": "5a19208022049d78b9012afb922618c9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/healthChecks"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 748,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v2/global/healthChecks\",\"items\":[{\"id\":\"6034280886294286826\",\"creationTimestamp\":\"2021-02-17T16:04:21.342-08:00\",\"name\":\"load-balancer-health-check\",\"checkIntervalSec\":1,\"timeoutSec\":1,\"unhealthyThreshold\":2,\"healthyThreshold\":2,\"type\":\"TCP\",\"tcpHealthCheck\":{\"port\":80,\"proxyHeader\":\"NONE\"},\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/healthChecks/load-balancer-health-check\",\"kind\":\"compute#healthCheck\"}],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/healthChecks\",\"kind\":\"compute#healthCheckList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "1E9ZeXetDFxDKtxa5vtB4FRtix0=/r2r6Kjuinbr3aTHy-vznU8YAdoo="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 292,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
