{
  "log": {
    "_recordingName": "fetchComputeHealthChecks",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 535,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 188,
      },
      {
        "_id": "2b5a932b122138c6c6eb70fbe58086a0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/healthChecks"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 742,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-300716/global/healthChecks\",\"items\":[{\"id\":\"1905105216322309484\",\"creationTimestamp\":\"2021-01-25T13:09:23.908-08:00\",\"name\":\"health-check\",\"description\":\"\",\"checkIntervalSec\":10,\"timeoutSec\":5,\"unhealthyThreshold\":3,\"healthyThreshold\":2,\"type\":\"TCP\",\"tcpHealthCheck\":{\"port\":80,\"proxyHeader\":\"NONE\"},\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/healthChecks/health-check\",\"kind\":\"compute#healthCheck\"}],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/healthChecks\",\"kind\":\"compute#healthCheckList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "e7MLy8Bdl2kjXnqp_qU1Caef2X0=/5DSj-_QITN34Hdq-y_HpYzTyKYY="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 427,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
