{
  "log": {
    "_recordingName": "fetchComputeHealthChecks",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 559,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 204,
      },
      {
        "_id": "33b50bb15936f2c180c22890cdb10d0a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/healthChecks"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 857,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v3/global/healthChecks\",\"items\":[{\"id\":\"6325036192111336620\",\"creationTimestamp\":\"2021-07-06T11:34:43.860-07:00\",\"name\":\"forwarding-rule-example-hc-internal\",\"checkIntervalSec\":1,\"timeoutSec\":1,\"unhealthyThreshold\":2,\"healthyThreshold\":2,\"type\":\"TCP\",\"tcpHealthCheck\":{\"port\":80,\"proxyHeader\":\"NONE\"},\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/healthChecks/forwarding-rule-example-hc-internal\",\"kind\":\"compute#healthCheck\"},{\"id\":\"819908078879682790\",\"creationTimestamp\":\"2021-05-31T09:25:45.951-07:00\",\"name\":\"load-balancer-health-check\",\"checkIntervalSec\":1,\"timeoutSec\":1,\"unhealthyThreshold\":2,\"healthyThreshold\":2,\"type\":\"TCP\",\"tcpHealthCheck\":{\"port\":80,\"proxyHeader\":\"NONE\"},\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/healthChecks/load-balancer-health-check\",\"kind\":\"compute#healthCheck\"}],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/healthChecks\",\"kind\":\"compute#healthCheckList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "D4nhHO-I38OPK1oplVxMBC0sNU8=/sXLMgtkkZPwtBy9f4A4grD0dBZk="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 348,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
