{
  "log": {
    "_recordingName": "fetchComputeBackendBuckets",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 574,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 179,
      },
      {
        "_id": "3d5b26f864ca06261a42711196382d86",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "project",
              "value": "j1-gc-integration-dev-300716"
            }
          ],
          "url": "https://storage.googleapis.com/storage/v1/b?project=j1-gc-integration-dev-300716"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 5844,
            "text": "{\n  \"kind\": \"storage#buckets\",\n  \"items\": [\n    {\n      \"kind\": \"storage#bucket\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/customer-managed-encryption-key-bucket-165882964161\",\n      \"id\": \"customer-managed-encryption-key-bucket-165882964161\",\n      \"name\": \"customer-managed-encryption-key-bucket-165882964161\",\n      \"projectNumber\": \"165882964161\",\n      \"metageneration\": \"1\",\n      \"location\": \"US\",\n      \"storageClass\": \"STANDARD\",\n      \"etag\": \"CAE=\",\n      \"timeCreated\": \"2021-01-13T15:13:47.860Z\",\n      \"updated\": \"2021-01-13T15:13:47.860Z\",\n      \"encryption\": {\n        \"defaultKmsKeyName\": \"projects/j1-gc-integration-dev-300716/locations/us/keyRings/j1-gc-integration-dev-300716-bucket-ring/cryptoKeys/j1-gc-integration-dev-300716-bucket-key\"\n      },\n      \"iamConfiguration\": {\n        \"bucketPolicyOnly\": {\n          \"enabled\": false\n        },\n        \"uniformBucketLevelAccess\": {\n          \"enabled\": false\n        }\n      },\n      \"locationType\": \"multi-region\"\n    },\n    {\n      \"kind\": \"storage#bucket\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/gcf-sources-165882964161-us-central1\",\n      \"id\": \"gcf-sources-165882964161-us-central1\",\n      \"name\": \"gcf-sources-165882964161-us-central1\",\n      \"projectNumber\": \"165882964161\",\n      \"metageneration\": \"1\",\n      \"location\": \"US-CENTRAL1\",\n      \"storageClass\": \"STANDARD\",\n      \"etag\": \"CAE=\",\n      \"timeCreated\": \"2021-01-13T15:04:51.947Z\",\n      \"updated\": \"2021-01-13T15:04:51.947Z\",\n      \"cors\": [\n        {\n          \"origin\": [\n            \"https://*.cloud.google.com\",\n            \"https://*.corp.google.com\",\n            \"https://*.corp.google.com:*\"\n          ],\n          \"method\": [\n            \"GET\"\n          ]\n        }\n      ],\n      \"iamConfiguration\": {\n        \"bucketPolicyOnly\": {\n          \"enabled\": true,\n          \"lockedTime\": \"2021-04-13T15:04:51.947Z\"\n        },\n        \"uniformBucketLevelAccess\": {\n          \"enabled\": true,\n          \"lockedTime\": \"2021-04-13T15:04:51.947Z\"\n        }\n      },\n      \"locationType\": \"region\"\n    },\n    {\n      \"kind\": \"storage#bucket\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/j1-gc-integration-dev-300716cloudfunctions\",\n      \"id\": \"j1-gc-integration-dev-300716cloudfunctions\",\n      \"name\": \"j1-gc-integration-dev-300716cloudfunctions\",\n      \"projectNumber\": \"165882964161\",\n      \"metageneration\": \"1\",\n      \"location\": \"US\",\n      \"storageClass\": \"STANDARD\",\n      \"etag\": \"CAE=\",\n      \"timeCreated\": \"2021-01-13T15:04:41.060Z\",\n      \"updated\": \"2021-01-13T15:04:41.060Z\",\n      \"iamConfiguration\": {\n        \"bucketPolicyOnly\": {\n          \"enabled\": false\n        },\n        \"uniformBucketLevelAccess\": {\n          \"enabled\": false\n        }\n      },\n      \"locationType\": \"multi-region\"\n    },\n    {\n      \"kind\": \"storage#bucket\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/log-example-bucket\",\n      \"id\": \"log-example-bucket\",\n      \"name\": \"log-example-bucket\",\n      \"projectNumber\": \"165882964161\",\n      \"metageneration\": \"4\",\n      \"location\": \"US-EAST1\",\n      \"storageClass\": \"STANDARD\",\n      \"etag\": \"CAQ=\",\n      \"defaultEventBasedHold\": false,\n      \"timeCreated\": \"2021-01-27T19:11:35.012Z\",\n      \"updated\": \"2021-01-27T20:10:13.729Z\",\n      \"retentionPolicy\": {\n        \"retentionPeriod\": \"600\",\n        \"effectiveTime\": \"2021-01-27T20:10:45.870Z\",\n        \"isLocked\": true\n      },\n      \"iamConfiguration\": {\n        \"bucketPolicyOnly\": {\n          \"enabled\": false\n        },\n        \"uniformBucketLevelAccess\": {\n          \"enabled\": false\n        }\n      },\n      \"locationType\": \"region\",\n      \"satisfiesPZS\": false\n    },\n    {\n      \"kind\": \"storage#bucket\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/my-unique-sink-logging-bucket\",\n      \"id\": \"my-unique-sink-logging-bucket\",\n      \"name\": \"my-unique-sink-logging-bucket\",\n      \"projectNumber\": \"165882964161\",\n      \"metageneration\": \"1\",\n      \"location\": \"US\",\n      \"storageClass\": \"STANDARD\",\n      \"etag\": \"CAE=\",\n      \"timeCreated\": \"2021-02-02T15:35:32.648Z\",\n      \"updated[...]
