{
  "log": {
    "_recordingName": "fetchComputeBackendBuckets",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "5.1.1"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 586,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 320,
      },
      {
        "_id": "6ebc5ea6f23fc9d83e92b05593e73a03",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/backendBuckets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 620,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v3/global/backendBuckets\",\"items\":[{\"id\":\"4595437112338969685\",\"creationTimestamp\":\"2022-03-16T04:32:10.789-07:00\",\"name\":\"backend-bucket\",\"description\":\"\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/backendBuckets/backend-bucket\",\"bucketName\":\"example-backend-bucket-1\",\"enableCdn\":false,\"kind\":\"compute#backendBucket\"}],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/backendBuckets\",\"kind\":\"compute#backendBucketList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "ISbNByZOLBc8KAZrtwbQhGGJn_U=/3C7S3Iz4CE7m7-hd0c7shG8918g="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 434,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
