{
  "log": {
    "_recordingName": "fetchAppEngineVersions",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 556,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 192,
      },
      {
        "_id": "a8077ca10a73994713b7a0d586480166",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://appengine.googleapis.com/v1/apps/j1-gc-integration-dev-v2"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 619,
            "text": "{\"name\":\"apps/j1-gc-integration-dev-v2\",\"id\":\"j1-gc-integration-dev-v2\",\"authDomain\":\"gmail.com\",\"locationId\":\"us-central\",\"codeBucket\":\"staging.j1-gc-integration-dev-v2.appspot.com\",\"servingStatus\":\"SERVING\",\"defaultHostname\":\"j1-gc-integration-dev-v2.uc.r.appspot.com\",\"defaultBucket\":\"j1-gc-integration-dev-v2.appspot.com\",\"gcrDomain\":\"us.gcr.io\",\"databaseType\":\"CLOUD_DATASTORE_COMPATIBILITY\",\"featureSettings\":{\"splitHealthChecks\":true,\"useContainerOptimizedOs\":true}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 425,
      },
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "applicatio[...]
