{
  "log": {
    "_recordingName": "fetchAppEngineVersions",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 583,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 238,
      },
      {
        "_id": "a35a4511e0abc1f42c9c9ce54600909f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            },
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://cloudresourcemanager.googleapis.com/v1/projects/j1-gc-integration-dev-v2:getIamPolicy"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1445,
            "text": "{\"version\":3,\"etag\":\"BwW95V1KGeE=\",\"bindings\":[{\"role\":\"projects/j1-gc-integration-dev-v2/roles/711888229551customrole\",\"members\":[\"serviceAccount:j1-gc-integration-dev-v2-tf@j1-gc-integration-dev-v2.iam.gserviceaccount.com\"]},{\"role\":\"projects/j1-gc-integration-dev-v2/roles/711888229551customroleconditions\",\"members\":[\"serviceAccount:j1-gc-integration-dev-v2-tf@j1-gc-integration-dev-v2.iam.gserviceaccount.com\"],\"condition\":{\"expression\":\"resource.name != \\\"bogusunknownresourcename\\\"\",\"title\":\"Test condition title\",\"description\":\"Test condition description\"}},{\"role\":\"projects/j1-gc-integration-dev-v2/roles/711888229551extendedrole\",\"members\":[\"serviceAccount:j1-gc-integration-dev-v2@j1-gc-integration-dev-v2.iam.gserviceaccount.com\"]},{\"role\":\"roles/appengine.serviceAgent\",\"members\":[\"serviceAccount:service-711888229551@gcp-gae-service.iam.gserviceaccount.com\"]},{\"role\":\"roles/appengineflex.serviceAgent\",\"members\":[\"serviceAccount:service-711888229551@gae-api-prod.google.com.iam.gserviceaccount.[...]
