{
  "log": {
    "_recordingName": "fetchAppEngineVersions",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 595,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 43,
      },
      {
        "_id": "7acf0c9bb840f15466eeca7e82f34b42",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "project",
              "value": "j1-gc-integration-dev-v3"
            }
          ],
          "url": "https://storage.googleapis.com/storage/v1/b?project=j1-gc-integration-dev-v3"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 8760,
            "text": "{\n  \"kind\": \"storage#buckets\",\n  \"items\": [\n    {\n      \"kind\": \"storage#bucket\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/dataproc-staging-europe-north1-167984947943-oqqo30p7\",\n      \"id\": \"dataproc-staging-europe-north1-167984947943-oqqo30p7\",\n      \"name\": \"dataproc-staging-europe-north1-167984947943-oqqo30p7\",\n      \"projectNumber\": \"167984947943\",\n      \"metageneration\": \"1\",\n      \"location\": \"EUROPE-NORTH1\",\n      \"storageClass\": \"STANDARD\",\n      \"etag\": \"CAE=\",\n      \"timeCreated\": \"2021-07-20T12:47:31.280Z\",\n      \"updated\": \"2021-07-20T12:47:31.280Z\",\n      \"iamConfiguration\": {\n        \"bucketPolicyOnly\": {\n          \"enabled\": false\n        },\n        \"uniformBucketLevelAccess\": {\n          \"enabled\": false\n        },\n        \"publicAccessPrevention\": \"unspecified\"\n      },\n      \"locationType\": \"region\"\n    },\n    {\n      \"kind\": \"storage#bucket\",\n      \"selfLink\": \"https://www.googleapis.com/storage/v1/b/dataproc-staging-us-central1-167984947943-okmnuod7\",\n      \"id\": \"dataproc-staging-us-central1-167984947943-okmnuod7\",\n      \"name\": \"dataproc-staging-us-central1-167984947943-okmnuod7\",\n      \"projectNumber\": \"167984947943\",\n      \"metageneration\": \"7\",\n      \"location\": \"US-CENTRAL1\",\n      \"storageClass\": \"STANDARD\",\n      \"etag\": \"C[...]
