{
  "log": {
    "_recordingName": "fetch-network-intelligence-center-has-network-analyzer-connectivity-test-relation",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1249,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 256,
      },
      {
        "_id": "f31b9ee558075dace6e173ee83e9386d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://networkmanagement.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/global/connectivityTests"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1682,
            "text": "{\"resources\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/global/connectivityTests/demo-test-metron\",\"source\":{\"ipAddress\":\"10.128.15.223\",\"instance\":\"projects/j1-gc-integration-dev-v3/zones/us-central1-a/instances/instance-1\",\"network\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"cloudFunction\":{},\"appEngineVersion\":{},\"cloudRunRevision\":{}},\"destination\":{\"port\":80,\"instance\":\"projects/j1-gc-integration-dev-v3/zones/us-central1-a/instances/sonarqube\",\"network\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"cloudFunction\":{},\"appEngineVersion\":{},\"cloudRunRevision\":{}},\"protocol\":\"TCP\",\"displayName\":\"demo-test-metron\",\"createTime\":\"2024-04-23T07:00:31.509683590Z\",\"updateTime\":\"2024-04-23T07:04:02.110460265Z\",\"reachabilityDetails\":{\"result\":\"REACHABLE\",\"verifyTime\":\"2024-04-23T07:04:02.093991288Z\",\"traces\":[{\"endpointInfo\":{\"sourceIp\":\"10.128.15.223\",\"destinationIp\":\"10.128.15.219\",\"protocol\":\"TCP\",\"sourcePort\":59689,\"destinationPort\":80,\"sourceNetworkUri\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"destinationNetworkUri\":\"projects/j1-gc-integration-dev-v3/global/networks/default\"},\"steps\":[{\"description\":\"Initial state: packet originating from a Compute Engine instance.\",\"state\":\"START_FROM_INSTANCE\",\"projectId\":\"j1-gc-integration-dev-v3\",\"instance\":{\"displayName\":\"instance-1\",\"uri\":\"projects/j1-gc-integration-dev-v3/zones/us-central1-a/instances/instance-1\",\"interface\":\"nic0\",\"networkUri\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"internalIp\":\"10.128.15.223\",\"externalIp\":\"34.172.130.250\",\"networkTags\":[\"http-server\",\"https-server\"]}},{\"description\":\"Config checking state: verify EGRESS firewall rule.\",\"state\":\"APPLY_EGRESS_FIREWALL_RULE\",\"projectId\":\"j1-gc-integration-dev-v3\",\"firewall\":{\"displayName\":\"default-allow-egress\",\"direction\":\"EGRESS\",\"action\":\"ALLOW\",\"priority\":65535,\"networkUri\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"firewallRuleType\":\"IMPLIED_VPC_FIREWALL_RULE\"}},{\"description\":\"Config checking state: verify route.\",\"state\":\"APPLY_ROUTE\",\"projectId\":\"j1-gc-integration-dev-v3\",\"route\":{\"displayName\":\"default-route-3983b63c88b8bd67\",\"uri\":\"projects/j1-gc-integration-dev-v3/global/routes/default-route-3983b63c88b8bd67\",\"destIpRange\":\"10.128.0.0/20\",\"nextHop\":\"network gateway\",\"networkUri\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"routeType\":\"SUBNET\",\"nextHopType\":\"NEXT_HOP_NETWORK\",\"routeScope\":\"NETWORK\"}},{\"description\":\"Forwarding state: arriving at a Compute Engine instance.\",\"state\":\"ARRIVE_AT_INSTANCE\",\"projectId\":\"j1-gc-integration-dev-v3\",\"instance\":{\"displayName\":\"sonarqube\",\"uri\":\"projects/j1-gc-integration-dev-v3/zones/us-central1-a/instances/sonarqube\",\"interface\":\"nic0\",\"networkUri\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"internalIp\":\"10.128.15.219\",\"externalIp\":\"34.171.196.173\",\"networkTags\":[\"http-server\",\"https-server\",\"sonarqube\"]}},{\"description\":\"Config checking state: verify INGRESS firewall rule.\",\"state\":\"APPLY_INGRESS_FIREWALL_RULE\",\"projectId\":\"j1-gc-integration-dev-v3\",\"firewall\":{\"displayName\":\"default-allow-http\",\"uri\":\"projects/j1-gc-integration-dev-v3/global/firewalls/default-allow-http\",\"direction\":\"INGRESS\",\"action\":\"ALLOW\",\"priority\":1000,\"networkUri\":\"projects/j1-gc-integration-dev-v3/global/networks/default\",\"targetTags\":[\"http-server\"],\"firewallRuleType\":\"VPC_FIREWALL_RULE\"}},{\"description\":\"Final state: packet delivered to instance.\",\"state\":\"DELIVER\",\"projectId\":\"j1-gc-integration-dev-v3\",\"deliver\":{\"target\":\"INSTANCE\",\"resourceUri\":\"projects/j1-gc-integration-dev-v3/zones/us-central1-a/instances/sonarqube\",\"ipAddress\":\"10.128.15.219\"}}],\"forwardTraceId\":1}]},\"probingDetails\":{\"result\":\"REACHABLE\",\"verifyTime\":\"2024-04-23T07:03:52.474533Z\",\"sentProbeCount\":50,\"successfulProbeCount\":50,\"probingLatency\":{\"latencyPercentiles\":[{\"percent\":50,\"latencyMicros\":\"30\"},{\"percent\":95,\"latencyMicros\":\"64\"}]}}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1638,
      },
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": [...]
