{
  "log": {
    "_recordingName": "fetchRedisInstances",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 555,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 163,
      },
      {
        "_id": "d1c8106527664225cef597f7d34e3b50",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/networks"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 2344,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v2/global/networks\",\"items\":[{\"id\":\"233738166463373248\",\"creationTimestamp\":\"2021-02-17T15:05:19.807-08:00\",\"name\":\"default\",\"description\":\"Default network for the project\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/networks/default\",\"autoCreateSubnetworks\":true,\"subnetworks\":[\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/regions/us-central1/subnetworks/default\",\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/regions/asia-south1/subnetworks/default\",\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/regions/europe-west6/subnetworks/default\",\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/regions/asia-northeast1/subnetworks/default\",\"https://www.googleapis.com/c[...]
