{
  "log": {
    "_recordingName": "build-compute-snapshot-disk-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1249,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 140,
      },
      {
        "_id": "e607b8bcac8e3fe8821f7b1cf6fa6118",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/snapshots"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 3506,
            "text": "{\"kind\":\"compute#snapshotList\",\"id\":\"projects/j1-gc-integration-dev-v3/global/snapshots\",\"items\":[{\"kind\":\"compute#snapshot\",\"id\":\"2985317236767223963\",\"creationTimestamp\":\"2022-01-26T14:43:00.890-08:00\",\"name\":\"disk-1-us-central1-a-20220126224300-7jcwxs93\",\"status\":\"READY\",\"sourceDisk\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/zones/us-central1-a/disks/disk-1\",\"sourceDiskId\":\"2652474421131621984\",\"diskSizeGb\":\"10\",\"storageBytes\":\"0\",\"storageBytesStatus\":\"UP_TO_DATE\",\"snapshotEncryptionKey\":{\"kmsKeyName\":\"projects/j1-gc-integration-dev-v3/locations/global/keyRings/example-topic-keyring/cryptoKeys/example-key/cryptoKeyVersions/1\"},\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/snapshots/disk-1-us-central1-a-20220126224300-7jcwxs93\",\"labelFingerprint\":\"42WmSpB8rSM=\",\"storageLocations\":[\"us\"],\"autoCreated\":true,\"downloadBytes\":\"1410\",\"creationSizeBytes\":\"0\"},{\"kind\":\"compute#snapshot\",\"id\":\"8628684795107517308\",\"creationTimestamp\":\"2024-01-10T14:43:31.993-08:00\",\"name\":\"example-kms-disk-us-central1-a-20240110224331-bmguq82h\",\"status\":\"READY\",\"sourceDisk\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/zones/us-central1-a/disks/example-kms-disk\",\"sourceDiskId\":\"8308816869584569175\",\"diskSizeGb\":\"10\",\"storageBytes\":\"0\",\"storageBytesStatus\":\"UP_TO_DATE\",\"snapshotEncryptionKey\":{\"kmsKeyName\":\"projects/j1-gc-integration-dev-v3/locations/us/keyRings/j1-gc-integration-dev-v3-disk-bucket-ring/cryptoKeys/j1-gc-integration-dev-v3-disk-bucket-key/cryptoKeyVersions/955\"},\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/snapshots/example-kms-disk-us-central1-a-20240110224331-bmguq82h\",\"labelFingerprint\":\"42WmSpB8rSM=\",\"storageLocations\":[\"us\"],\"autoCreated\":true,\"downloadBytes\":\"3444\",\"sourceSnapshotSchedulePolicy\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/us-central1/resourcePolicies/default-schedule-1\",\"sourceSnapshotSchedulePolicyId\":\"6233082445560578896\",\"creationSizeBytes\":\"0\"},{\"kind\":\"compute#snapshot\",\"id\":\"8581921676517560827\",\"creationTimestamp\":\"2024-01-11T14:43:33.010-08:00\",\"name\":\"example-kms-disk-us-central1-a-20240111224332-01jvgae9\",\"status\":\"READY\",\"sourceDisk\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/zones/us-central1-a/disks/example-kms-disk\",\"sourceDiskId\":\"8308816869584569175\",\"diskSizeGb\":\"10\",\"storageBytes\":\"0\",\"storageBytesStatus[...]
