{
  "log": {
    "_recordingName": "fetch-alloydb-postgre-sql-cluster",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1191,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 211,
      },
      {
        "_id": "faaa92f3d61304671425d51a081e923f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://alloydb.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/-/clusters"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 981,
            "text": "{\"clusters\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/us-east4/clusters/test-cluster-1\",\"uid\":\"7bdaf17a-f3ec-480b-affa-4adbfae59791\",\"createTime\":\"2024-04-18T01:57:32.802698772Z\",\"updateTime\":\"2024-06-25T12:02:19.407224129Z\",\"state\":\"READY\",\"databaseVersion\":\"POSTGRES_15\",\"network\":\"projects/167984947943/global/networks/test-network\",\"reconciling\":false,\"automatedBackupPolicy\":{\"enabled\":false,\"weeklySchedule\":{\"startTimes\":[{\"hours\":8}],\"daysOfWeek\":[\"MONDAY\",\"TUESDAY\",\"WEDNESDAY\",\"THURSDAY\",\"FRIDAY\",\"SATURDAY\",\"SUNDAY\"]},\"backupWindow\":\"3600s\",\"timeBasedRetention\":{\"retentionPeriod\":\"1209600s\"},\"location\":\"us-east4\"},\"encryptionInfo\":{\"encryptionType\":\"GOOGLE_DEFAULT_ENCRYPTION\"},\"clusterType\":\"PRIMARY\",\"continuousBackupConfig\":{\"enabled\":true,\"recoveryWindowDays\":14},\"continuousBackupInfo\":{\"encryptionInfo\":{\"encryptionType\":\"GOOGLE_DEFAULT_ENCRYPTION\"},\"enabledTime\":\"2024-04-18T01:57:32.168373933Z\",\"schedule\":[\"MONDAY\",\"TUESDAY\",\"WEDNESDAY\",\"THURSDAY\",\"FRIDAY\",\"SATURDAY\",\"SUNDAY\"]},\"networkConfig\":{\"network\":\"projects/167984947943/global/networks/test-network\"}}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 1929,
      },
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
      [...]
