{
  "log": {
    "_recordingName": "fetchComputeTargetSslProxies",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 595,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 172,
      },
      {
        "_id": "56745d5161cba49fbfcbbc5eaf5667c0",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/backendServices"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1502,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-300716/global/backendServices\",\"items\":[{\"id\":\"3052966098403233127\",\"creationTimestamp\":\"2021-01-25T13:09:28.422-08:00\",\"name\":\"example-backend-service\",\"description\":\"\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/backendServices/example-backend-service\",\"backends\":[{\"group\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/zones/us-central1-a/instanceGroups/instance-group-1\",\"balancingMode\":\"UTILIZATION\",\"maxUtilization\":0.8,\"capacityScaler\":1}],\"healthChecks\":[\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/healthChecks/health-check\"],\"timeoutSec\":30,\"port\":80,\"protocol\":\"HTTPS\",\"fingerprint\":\"OnffiLYpLO4=\",\"portName\":\"https\",\"enableCDN\":false,\"sessionAffinity\":\"NONE\",\"affinityCookieTtlSec\":0,\"loadBalancingScheme\":\"EXTERNAL\",\"connectionDraining\":{\"drainingTimeoutSec\":300},\"logConfig\":{\"enable\":true,\"sampleRate\":1},\"kind\":\"compute#backendService\"},{\"id\":\"6566773856528343335\",\"creationTimestamp\":\"2021-02-04T08:24:40.280-08:00\",\"name\":\"example-backend-service-2\",\"description\":\"\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/global/backendServices/example-backend-service-2\",\"backends\":[{\"group\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/zones/us-central1-a/instanceGroups/instance-group-1\",\"balancingMode\":\"UTILI[...]
