{
  "log": {
    "_recordingName": "fetchComputeSubnetworks",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 525,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 59,
      },
      {
        "_id": "3e165a6ba0c9102b53ff7a90ea9af4df",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev/global/networks"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1505,
            "text": "{\"id\":\"projects/j1-gc-integration-dev/global/networks\",\"items\":[{\"id\":\"7007670733975335846\",\"creationTimestamp\":\"2020-08-07T10:20:09.872-07:00\",\"name\":\"default\",\"description\":\"Default network for the project\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev/global/networks/default\",\"autoCreateSubnetworks\":true,\"subnetworks\":[\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev/regions/asia-southeast2/subnetworks/default\",\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev/regions/us-east1/subnetworks/default\",\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev/regions/europe-west1/subnetworks/default\",\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev/regions/europe-west4/subnetworks/default\",\"https://www.googleapis.com/compute/v1/proj[...]
