{
  "log": {
    "_recordingName": "fetchComputeDisks",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 525,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 124,
      },
      {
        "_id": "40c77a8e20bc93bec5a89c2e91d4ca0d",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev/zones/asia-east1-a/disks"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 306,
            "text": "{\"id\":\"projects/j1-gc-integration-dev/zones/asia-east1-a/disks\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev/zones/asia-east1-a/disks\",\"kind\":\"compute#diskList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "6jvcE1IgwYLXbkZ41tEfo0FoBTY=/z0NGSrzL8_V7Qarwid0Y8mS5PoA="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 388,
      },
      {
        "_id": "2672d670ac44770b1588ef77b3066f78",
        "[...]
