{
  "log": {
    "_recordingName": "fetchComputeDisks",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 578,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 223,
      },
      {
        "_id": "f5a1d4f0184ebebdd491febe982429b9",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/images"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1295,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v2/global/images\",\"items\":[{\"id\":\"6989580994168613341\",\"creationTimestamp\":\"2021-05-03T13:04:03.663-07:00\",\"name\":\"my-custom-image\",\"sourceType\":\"RAW\",\"status\":\"READY\",\"archiveSizeBytes\":\"1775261760\",\"diskSizeGb\":\"10\",\"sourceDisk\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/zones/us-central1-a/disks/load-balancer-instance\",\"sourceDiskId\":\"7645090348976312809\",\"licenses\":[\"https://www.googleapis.com/compute/v1/projects/ubuntu-os-cloud/global/licenses/ubuntu-1804-lts\"],\"imageEncryptionKey\":{\"kmsKeyName\":\"projects/j1-gc-integration-dev-v2/locations/global/keyRings/example-topic-keyring/cryptoKeys/example-key/cryptoKeyVersions/1\"},\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/images/my-custom-image\",\"labelFingerprint\":\"42WmSpB8rSM=\",\"guestOsFeatures\":[{\"type\":\"VIRTIO_SCSI_MULTIQUEUE\"},{\"type\":\"SEV_CAPABLE\"},{\"type\":\"UEFI_COMPATIBLE\"}],\"licenseCodes\":[\"5926592092274602096\"],\"storageLocations\":[\"us-central1\"],\"kind\":\"compute#image\"}],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/images\",\"kind\":\"compute#imageList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "I1HkUdXjMdFv631AnvbfuH8etAo=/TpAI05EY71efM2AtwVDfJh5uFrA="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 344,
      },
      {
        "_id": "f0d11c2ab7ffde8bc835f764920fe64a",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v2/global/images/my-custom-image/getIamPolicy"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 343,
            "text": "{\"version\":1,\"etag\":\"BwXBhqmpF30=\",\"bindings\":[{\"role\":\"roles/compute.imageUser\",\"members\":[\"allAuthenticatedUsers\"]}]}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 396,
      },
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
          [...]
