{
  "log": {
    "_recordingName": "fetchComputeRegionBackendServices",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 569,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 187,
      },
      {
        "_id": "aa4d23c198b6789d84daed67db66d536",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/asia-east1/instanceGroups"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 362,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-v3/regions/asia-east1/instanceGroups\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/asia-east1/instanceGroups\",\"kind\":\"compute#regionInstanceGroupList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "qTlbOOBMYMB2MRQCCoRB9OnRhqk=/EtR2kpC3CHmwmYQNWcNcXq4-DPg="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 370,
      },
      {
        "_id": "dd5c4d5a69b7c557bd392e1704201[...]
