{
  "log": {
    "_recordingName": "fetch-compute-backend-buckets",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1228,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 110,
      },
      {
        "_id": "fdc2c329adcfe7366047fe0680fdf7d5",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/backendBuckets"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 654,
            "text": "{\"kind\":\"compute#backendBucketList\",\"id\":\"projects/j1-gc-integration-dev-v3/global/backendBuckets\",\"items\":[{\"kind\":\"compute#backendBucket\",\"id\":\"5659178066310414864\",\"creationTimestamp\":\"2024-01-24T04:05:19.115-08:00\",\"name\":\"delete\",\"description\":\"\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/backendBuckets/delete\",\"bucketName\":\"gaston-delete\",\"enableCdn\":true,\"cdnPolicy\":{\"requestCoalescing\":true,\"cacheMode\":\"CACHE_ALL_STATIC\",\"defaultTtl\":3600,\"maxTtl\":86400,\"clientTtl\":3600,\"negativeCaching\":false,\"serveWhileStale\":0},\"compressionMode\":\"DISABLED\"}],\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/backendBuckets\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "1F09Cs8N0vJXsVyL63cy0nmTPcI=/8bKDKFidYPkjwv3fupvlMTx0jzg="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 353,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
