{
  "log": {
    "_recordingName": "fetchComputeProject",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 571,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 401,
      },
      {
        "_id": "23c3d480a93b2b3a15f2eb3cebf7c223",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/zones/asia-east1-a/instances"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 319,
            "text": "{\"id\":\"projects/j1-gc-integration-dev-300716/zones/asia-east1-a/instances\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-300716/zones/asia-east1-a/instances\",\"kind\":\"compute#instanceList\"}"
          },
          "headers": [
            {
              "name": "etag",
              "value": "qdAviQGu8DeQgHrLbwZSOpHbfF8=/3LcYH3Dcj3TwTKE3oYTjvsEtVRI="
            },
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 548,
      },
      {
        "_id": "ab77dce4d9c4e7714e30c5e60d6694a1",
     [...]
