{
  "log": {
    "_recordingName": "fetchDNSManagedZones",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 574,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 185,
      },
      {
        "_id": "2f99ac399d2f008ac0b8420e0e0d469f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dns.googleapis.com/dns/v1/projects/j1-gc-integration-dev-v2/managedZones"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 558,
            "text": "{\"managedZones\":[{\"name\":\"example-public-zone\",\"dnsName\":\"example-981611f4.com.\",\"description\":\"Example DNS zone\",\"id\":\"5302175939166426816\",\"nameServers\":[\"ns-cloud-c1.googledomains.com.\",\"ns-cloud-c2.googledomains.com.\",\"ns-cloud-c3.googledomains.com.\",\"ns-cloud-c4.googledomains.com.\"],\"creationTime\":\"2021-02-18T00:04:21.953Z\",\"visibility\":\"public\",\"kind\":\"dns#managedZone\"}],\"kind\":\"dns#managedZonesListResponse\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 364,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
