{
  "log": {
    "_recordingName": "fetchDNSManagedZones",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 558,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 247,
      },
      {
        "_id": "cc91f18c2e474e52b0ef1cbe21ef22cc",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://dns.googleapis.com/dns/v1/projects/j1-gc-integration-dev-300716/managedZones"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 1115,
            "text": "{\"managedZones\":[{\"name\":\"example-public-zone\",\"dnsName\":\"example-4d484bdb.com.\",\"description\":\"Example DNS zone\",\"id\":\"6062040873480912950\",\"nameServers\":[\"ns-cloud-e1.googledomains.com.\",\"ns-cloud-e2.googledomains.com.\",\"ns-cloud-e3.googledomains.com.\",\"ns-cloud-e4.googledomains.com.\"],\"creationTime\":\"2021-01-26T18:16:58.899Z\",\"visibility\":\"public\",\"labels\":{\"foo\":\"bar\"},\"kind\":\"dns#managedZone\"},{\"name\":\"example-test-zone\",\"dnsName\":\"myzone.mydomain.com.\",\"description\":\"\",\"id\":\"6171194744693927401\",\"nameServers\":[\"ns-cloud-d1.googledomains.com.\",\"ns-cloud-d2.googledomains.com.\",\"ns-cloud-d3.googledomains.com.\",\"ns-cloud-d4.googledomains.com.\"],\"creationTime\":\"2021-01-26T18:08:56.992Z\",\"visibility\":\"public\",\"kind\":\"dns#managedZone\"},{\"name\":\"example-zone\",\"dnsName\":\"crawleroo.com.\",\"description\":\"\",\"id\":\"778386319953398157\",\"nameServers\":[\"ns-cloud-a1.googledomains.com.\",\"ns-cloud-a2.googledomains.com.\",\"ns-cloud-a3.googledomains.com.\",\"ns-cloud-a4.googledomains.com.\"],\"creationTime\":\"2021-01-22T16:48:27.272Z\",\"dnssecConfig\":{\"state\":\"on\",\"defaultKeySpecs\":[{\"keyType\":\"keySigning\",\"algorithm\":\"rsasha256\",\"keyLength\":2048,\"kind\":\"dns#dnsKeySpec\"},{\"keyType\":\"zoneSigning\",\"algorithm\":\"rsasha256\",\"keyLength\":1024,\"kind\":\"dns#dnsKeySpec\"}],\"nonExistence\":\"nsec3\",\"kind\":\"dns#managedZoneDnsSecConfig\"},\"visibility\":\"public\",\"kind\":\"dns#managedZone\"}],\"kind\":\"dns#managedZonesListResponse\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 447,
      }
    ],
    "pages": [],
    "version": "1.2"
  }
}
