{
  "log": {
    "_recordingName": "build-user-asssigned-alloydb-cluster-relatipnship",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1290,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 404,
      },
      {
        "_id": "faaa92f3d61304671425d51a081e923f",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://alloydb.googleapis.com/v1/projects/j1-gc-integration-dev-v3/locations/-/clusters"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1731,
            "text": "{\"clusters\":[{\"name\":\"projects/j1-gc-integration-dev-v3/locations/asia-south1/clusters/test-cluster-03\",\"uid\":\"6a601812-cd9c-413f-b774-a7ad5fcfd8c0\",\"createTime\":\"2024-04-08T07:41:09.251865437Z\",\"updateTime\":\"2024-04-12T06:52:17.932854574Z\",\"state\":\"READY\",\"databaseVersion\":\"POSTGRES_15\",\"network\":\"projects/167984947943/global/networks/default\",\"reconciling\":false,\"automatedBackupPolicy\":{\"enabled\":false,\"weeklySchedule\":{\"startTimes\":[{\"hours\":8}],\"daysOfWeek\":[\"MONDAY\",\"TUESDAY\",\"WEDNESDAY\",\"THURSDAY\",\"FRIDAY\",\"SATURDAY\",\"SUNDAY\"]},\"backupWindow\":\"3600s\",\"timeBasedRetention\":{\"retentionPeriod\":\"1209600s\"},\"location\":\"asia-south1\"},\"encryptionInfo\":{\"encryptionType\":\"GOOGLE_DEFAULT_ENCRYPTION\"},\"clusterType\":\"PRIMARY\",\"continuousBackupConfig\":{\"enabled\":true,\"recoveryWindowDays\":14},\"continuousBackupInfo\":{\"encryptionInfo\":{\"encryptionType\":\"GOOGLE_DEFAULT_ENCRYPTION\"},\"enabledTime\":\"2024-04-08T07:41:09.014516139Z\",\"schedule\":[\"MONDAY\",\"TUESDAY\",\"WEDNESDAY\",\"THURSDAY\",\"FRIDAY\",\"SATURDAY\",\"SUNDAY\"]},\"networkConfig\":{\"network\":\"projects/167984947943/global/networks/default\"}},{\"name\":\"projects/j1-gc-integration-dev-v3/locations/southamerica-west1/clusters/test-alloydb-cluster-2\",\"uid\":\"77ad0b2b-b129-491c-9954-a9526df1d684\",\"createTime\":\"2024-04-08T06:04:06.022689568Z\",\"updateTime\":\"2024-04-12T06:39:06.973889029Z\",\"state\":\"READY\",\"databaseVersion\":\"POSTGRES_14\",\"network\":\"projects/167984947943/global/networks/default\",\"reconciling\":false,\"automatedBackupPolicy\":{\"enabled\[...]
