{
  "log": {
    "_recordingName": "fetchBigQueryModels",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 580,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 200,
      },
      {
        "_id": "04345aa68c5d587aafc7ce4ea99ef662",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://bigquery.googleapis.com/bigquery/v2/projects/j1-gc-integration-dev-v2/datasets"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 560,
            "text": "{\"kind\":\"bigquery#datasetList\",\"etag\":\"fG+eUfPcN+tgZqqlV/LKEg==\",\"datasets\":[{\"kind\":\"bigquery#dataset\",\"id\":\"j1-gc-integration-dev-v2:cmek_dataset\",\"datasetReference\":{\"datasetId\":\"cmek_dataset\",\"projectId\":\"j1-gc-integration-dev-v2\"},\"location\":\"US\"},{\"kind\":\"bigquery#dataset\",\"id\":\"j1-gc-integration-dev-v2:natality\",\"datasetReference\":{\"datasetId\":\"natality\",\"projectId\":\"j1-gc-integration-dev-v2\"},\"location\":\"US\"},{\"kind\":\"bigquery#dataset\",\"id\":\"j1-gc-integration-dev-v2:new_dataset_test\",\"datasetReference\":{\"datasetId\":\"new_dataset_test\",\"projectId\":\"j1-gc-integration-dev-v2\"},\"location\":\"US\"},{\"kind\":\"bigquery#dataset\",\"id\":\"j1-gc-integration-dev-v2:test_big_query_dataset\",\"data[...]
