{
  "log": {
    "_recordingName": "fetchSQLInstances",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/json"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/json",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 545,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 169,
      },
      {
        "_id": "e0cca21e28ce3079b9c7b13ec5304390",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://cloudresourcemanager.googleapis.com/v1/projects/j1-gc-integration-dev-300716"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 405,
            "text": "{\"projectNumber\":\"165882964161\",\"projectId\":\"j1-gc-integration-dev-300716\",\"lifecycleState\":\"ACTIVE\",\"name\":\"j1-gc-integration-dev\",\"createTime\":\"2021-01-04T16:56:24.926Z\",\"parent\":{\"type\":\"organization\",\"id\":\"590372371675\"}}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 798,
      },
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value":[...]
