{
  "log": {
    "_recordingName": "fetch-compute-networks-peering-relationships",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "6.0.5"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1167,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 137,
      },
      {
        "_id": "986e33f2a86c5db3dd90f0e43a7ba1e1",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [],
          "url": "https://compute.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/networks"
        },
        "response": {
          "content": {
            "encoding": "utf-8",
            "mimeType": "application/json; charset=UTF-8",
            "size": 1536,
            "text": "{\"kind\":\"compute#networkList\",\"id\":\"projects/j1-gc-integration-dev-v3/global/networks\",\"items\":[{\"kind\":\"compute#network\",\"id\":\"3355945658528347131\",\"creationTimestamp\":\"2021-05-31T09:21:40.121-07:00\",\"name\":\"default\",\"description\":\"Default network for the project\",\"selfLink\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/networks/default\",\"selfLinkWithId\":\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/global/networks/3355945658528347131\",\"autoCreateSubnetworks\":true,\"subnetworks\":[\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/europe-southwest1/subnetworks/default\",\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/europe-north1/subnetworks/default\",\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/europe-west4/subnetworks/default\",\"https://www.googleapis.com/compute/v1/projects/j1-gc-integration-dev-v3/regions/us-east1/subnetworks/default\",\"https://www.googleapis.com/[...]
