{
  "log": {
    "_recordingName": "fetchIamBindings",
    "creator": {
      "comment": "persister:JupiterOneIntegationFSPersister",
      "name": "Polly.JS",
      "version": "4.3.0"
    },
    "entries": [
      {
        "_id": "acea721c8193b51ced888cae721cc423",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "content-type",
              "value": "application/x-www-form-urlencoded"
            }
          ],
          "method": "POST",
          "postData": {
            "mimeType": "application/x-www-form-urlencoded",
            "params": [],
            "text": "[REDACTED]"
          },
          "queryString": [],
          "url": "https://www.googleapis.com/oauth2/v4/token"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 581,
            "text": "{\"access_token\":\"[REDACTED]\",\"expires_in\":9999,\"token_type\":\"Bearer\"}"
          },
          "headers": [
            {
              "name": "content-type",
              "value": "application/json; charset=UTF-8"
            }
          ],
          "status": 200,
          "statusText": "OK"
        },
        "time": 190,
      },
      {
        "_id": "90071867bd49fb876fbfa88d098851a2",
        "request": {
          "headers": [
            {
              "_fromType": "array",
              "name": "authorization",
              "value": "[REDACTED]"
            }
          ],
          "method": "GET",
          "queryString": [
            {
              "name": "pageSize",
              "value": "500"
            }
          ],
          "url": "https://cloudasset.googleapis.com/v1/organizations/958457776463:searchAllIamPolicies?pageSize=500"
        },
        "response": {
          "content": {
            "mimeType": "application/json; charset=UTF-8",
            "size": 3094,
            "text": "{\"results\":[{\"resource\":\"//cloudresourcemanager.googleapis.com/folders/430707931057\",\"policy\":{\"bindings\":[{\"role\":\"roles/resourcemanager.folderAdmin\",\"members\":[\"user:austin.kelleher@jupiterone.dev\"]},{\"role\":\"roles/resourcemanager.folderEditor\",\"members\":[\"user:austin.kelleher@jupiterone.dev\"]}]}},{\"resource\":\"//cloudresourcemanager.googleapis.com/folders/811983343328\",\"policy\":{\"bindings\":[{\"role\":\"roles/resourcemanager.folderAdmin\",\"members\":[\"user:viragsf@gmail.com\"]},{\"role\":\"roles/resourcemanager.folderEditor\",\"members\":[\"user:viragsf@gmail.com\"]}]}},{\"resource\":\"//cloudresourcemanager.googleapis.com/folders/1065006483234\",\"policy\":{\"bindings\":[{\"role\":\"roles/resourcemanager.folderAdmin\",\"members\":[\"user:viragsf@gmail.com\"]},{\"role\":\"roles/resourcemanager.folderEditor\",\"members\":[\"user:viragsf@gmail.com\"]}]}},{\"resource\":\"//cloudresourcemanager.googleapis.com/folders/299817291758\",\"policy\":{\"bindings\":[{\"role\":\"roles/resourcemanager.folderAdmin\",\"members\":[\"user:viragsf@gmail.com\"]},{\"role\":\"roles/resourcemanager.folderEditor\",\"members\":[\"user:viragsf@gmail.com\"]}]}},{\"resource\":\"//cloudresourcemanager.googleapis.com/projects/intense-pointer-315514\",\"project\":\"projects/592147458023\",\"policy\":{\"bindings\":[{\"role\":\"roles/owner\",\"members\":[\"user:nick.dowmon@jupiterone.dev\"]}]}},{\"resource\":\"//bigquery.googleapis.com/projects/j1-gc-integration-dev-v3/datasets/natality\",\"project\":\"projects/167984947943\",\"policy\":{\"bindings\":[{\"role\":\"roles/bigquery.dataEditor\",\"members\":[\"projectEditor:j1-gc-integration-dev-v3\"]},{\"role\":\"roles/bigquery.dataOwner\",\"members\":[\"projectOwner:j1-gc-integration-dev-v3\",\"user:viragsf@g[...]
